<ion-header #ionHeader>
  <app-header [title]="'NAV_BARISTAMODE_SECTION' | translate">
    <ion-menu-button header-slot="start" />
    @if (isWebSocketConnected() === true ) {
      <ion-chip header-slot="end" (click)="showPreparationEdit()" (long-press)="toggleDevInformation()" outline='true' class='machine-connected'>
        <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
        <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-wifi"></ion-icon>
      </ion-chip>
    } @else {
      <ion-chip header-slot="end" (click)="showPreparationEdit()" (long-press)="toggleDevInformation()" outline='true' class='machine-disconnected'>
        <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
        <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
      </ion-chip>
    }
    @if(smartScaleConnected() === true) {
      <ion-chip header-slot="end" outline='true' class="baristamode-scale-connected">
        <ion-icon color="black" name="beanconqueror-scale-outline" size="large"></ion-icon>
      </ion-chip>
    } @else{
      <ion-chip header-slot="end" outline='true' class="baristamode-scale-disconnected">
        <ion-icon color="black" name="beanconqueror-scale-outline" size="large"></ion-icon>
      </ion-chip>
    }
    <app-header-button header-slot="end" icon="beanconqueror-dots" buttonClass="" (clicked)="popoverActionsBrew()" />
  </app-header>
</ion-header>

<ion-content #ionContent >
    <ion-card #devInformation style="display:none;">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12">{{ "LAST_COMMUNICATION" | translate }}:&nbsp;<span #lastHeartBeat></span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              P1:&nbsp;<span #lagTimeP1></span>
            </ion-col>
            <ion-col size="3">
              P2:&nbsp;<span #lagTimeP2></span>
            </ion-col>
            <ion-col size="3">
              P3:&nbsp;<span #lagTimeP3></span>
            </ion-col>
            <ion-col size="3">
              M:&nbsp;<span #lagTimeM></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              Current Temp:&nbsp;<span #currentTemp></span>
            </ion-col>
            <ion-col size="6">
              Current Press:&nbsp;<span #pumpPress></span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    @if (!isWebSocketConnected() ) {
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>{{ 'PREPARATION_DEVICE.TYPE_SANREMO_YOU.RECONNECT_NEEDED' | translate}}</ion-card-title>
        <ion-card-subtitle>{{ 'PREPARATION_DEVICE.TYPE_SANREMO_YOU.CONNECTION_LOST_PLEASE_RECONNECT' | translate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="full" color="success" (click)="checkIfSanremoIsStillConnectedElseShowUpAReconnectButton()">{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.RECONNECT" | translate}}</ion-button></ion-card-content>
    </ion-card>
    <ion-card>

    </ion-card>

  }


  <ion-card [hidden]="!isWebSocketConnected()" style="margin-top:0px;margin-bottom:0px;">
    <brew-brewing #brewBrewing [baristamode]="true" (lastShotInformation)="lastShotInformation($event)"
                  [(data)]="data"></brew-brewing>
  </ion-card>
</ion-content>
