<ion-content>
  <div class='loading-popover-center'>
    <div class='loading-popover-center' style='max-width:90%;'>
    <ion-spinner name="crescent"></ion-spinner><span>&nbsp; {{this.message}}</span>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf='__showDismissButton' class="ion-no-border">

      <ion-button (click)="ok()" color="accent" expand="block"
                  type="submit">{{"CANCEL" | translate}}</ion-button>
  <ion-button (click)="sendLogs()" color="accent" expand="block"
              type="submit">{{"SEND_LOGS" | translate}}</ion-button>

</ion-footer>
