<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT_BEAN" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="popover">
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_NAME" | translate}}*</ion-label>
    <ion-input #name="ngModel" [(ngModel)]="data.name" name="name"
               placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_NAME' | translate}}" spellcheck="false" type="text"
               autocapitalize="sentences" required>
    </ion-input>
  </ion-item>
    <ion-item *ngIf="viewLoaded===true" lines="none">
      <ion-label position="stacked">{{"BEAN_DATA_ROAST_NAME" | translate}}</ion-label>
      <ngx-stars (ratingOutput)="onRoastRate($event)" [customPadding]="'20px'" [initialStars]="this.data.roast_range"
                 [readonly]="false" [size]="2" class="ion-margin-top"  style="margin-left:20px;"></ngx-stars>
    </ion-item>
    <ion-item>
      <ion-select #roast="ngModel" [(ngModel)]="data.roast" cancelText="{{'CANCEL'| translate }}" name="roast"
                  okText="{{'CHOOSE'| translate }}"
                  placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROAST_NAME' | translate}}"
                  style="padding-left:0px!important;width: 100%; min-width: 100%;">
        <ion-select-option *ngFor="let key of roastsEnum | keys" value="{{key}}">{{roastsEnum[key]}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="data.roast.toString() =='CUSTOM_ROAST'">
      <ion-label position="stacked">{{"BEAN_DATA_CUSTOM_ROAST_NAME" | translate}}</ion-label>
      <ion-input #roast_custom="ngModel" [(ngModel)]="data.roast_custom" autocapitalize="off"
                 name="roast_custom" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROAST_NAME' | translate}}"
                 spellcheck="false" type="text">
      </ion-input>
    </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_ROASTING_DATE" | translate}}</ion-label>
    <ion-datetime (click)="chooseDate($event);" [(ngModel)]="data.roastingDate" cancelText="{{'CANCEL' | translate}}" displayFormat="DD.MM.YYYY" doneText="{{'CHOOSE' | translate}}" max="2999-12-31" min="2000-01-01" mode="ios"
                  placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROASTING_DATE' | translate}}"
                  name="roastingDate"
                  #roastingDate="ngModel"></ion-datetime>
  </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_ROASTER" | translate}}</ion-label>
      <ion-input #roaster="ngModel" (ionBlur)="onRoasterSearchLeave($event)" (ionChange)="onRoasterSearchChange($event)" [(ngModel)]="data.roaster" autocapitalize="sentences"
                 name="roaster" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROASTER' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="roasterResultsAvailable" lines="none" style="margin-top: 5px;margin-bottom: 5px;">
      <ion-list style="width: 100%; max-height: 200px; overflow-y: auto; background: #F2F2F2;">
        <ion-item (click)="roasterSelected(result)" *ngFor="let result of roasterResults;let last = last" button lines="{{last?'none':''}}" style="--background:#E2E2E">
          <ion-label>{{result}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>

  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_MIX" | translate}}</ion-label>
    <ion-select #beanMix="ngModel" [(ngModel)]="data.beanMix" cancelText="{{'CANCEL'| translate }}" name="beanMix"
                okText="{{'CHOOSE'| translate }}"
                placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_MIX' | translate}}">
      <ion-select-option *ngFor="let key of mixEnum | keys" value="{{key}}">{{mixEnum[key]}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_AROMATICS" | translate}}</ion-label>
    <ion-input #aromatics="ngModel" [(ngModel)]="data.aromatics" name="aromatics"
               placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_AROMATICS' | translate}}" spellcheck="false" type="text"
               autocapitalize="sentences">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_WEIGHT" | translate}}</ion-label>
    <ion-input #weight="ngModel" [(ngModel)]="data.weight" name="weight"
               placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_WEIGHT' | translate}}" prevent-characters remove-empty-number
               spellcheck="false" type="text"
               autocapitalize="off" inputmode="decimal">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_COST" | translate}}</ion-label>
    <ion-input #cost="ngModel" [(ngModel)]="data.cost" name="cost"
               placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_COST' | translate}}" prevent-characters remove-empty-number
               spellcheck="false" type="text"
               autocapitalize="off" inputmode="decimal">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"FINISHED"|translate}}?</ion-label>
    <ion-checkbox [(ngModel)]="data.finished"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"NOTES" | translate}}</ion-label>
    <ion-textarea #note="ngModel" autocapitalize="sentences" autocomplete="true" autocorrect="true" name="note"
                  placeholder="{{'BEAN.PLACE_HOLDER.NOTES' | translate}}" rows="5"
                  spellcheck="true"
                  [(ngModel)]="data.note"></ion-textarea>
  </ion-item>
    <ion-item (click)="addImage()" button lines="none" tappable>
    {{"ADD_PHOTO" | translate}}
  </ion-item>
  <div *ngIf="data?.attachments && data.attachments.length > 0">
    <ion-slides #photoSlides pager="true">
      <ion-slide *ngFor="let attachment of data.attachments;let i = index">
        <ion-button (click)="deleteImage(i)" class="position-absolute-button"
                    color="accent">{{"DELETE" | translate}}</ion-button>
        <async-image class="brew-image" filePath="{{attachment}}"></async-image>
      </ion-slide>
    </ion-slides>
  </div>
  </ion-card>

  <ion-card *ngFor="let beanInformation of this.data.bean_information;let first = first;let i = index;let last = last;">
    <ion-card-header *ngIf="!first" class="ion-no-padding">
      <ion-item lines="none">
        <ion-button (click)="deleteSortInformation(i)" fill="clear" slot="end" tappable>
          <ion-icon color="primary" name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>

    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_COUNTRY" | translate}}</ion-label>
      <ion-input #country="ngModel" [(ngModel)]="beanInformation.country" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_COUNTRY' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_REGION" | translate}}</ion-label>
      <ion-input #region="ngModel" [(ngModel)]="beanInformation.region" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_REGION' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_FARM" | translate}}</ion-label>
      <ion-input #farm="ngModel" [(ngModel)]="beanInformation.farm" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_FARM' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_FARMER" | translate}}</ion-label>
      <ion-input #farm="ngModel" [(ngModel)]="beanInformation.farmer" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_FARMER' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_ELEVATION" | translate}}</ion-label>
      <ion-input #elevation="ngModel" [(ngModel)]="beanInformation.elevation" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_COUNTRY' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_VARIETY" | translate}}</ion-label>
      <ion-input #variety="ngModel" [(ngModel)]="beanInformation.variety" autocapitalize="sentences"
                 name="variety" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_VARIETY' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_PROCESSING" | translate}}</ion-label>
      <ion-input #variety="ngModel" [(ngModel)]="beanInformation.processing" autocapitalize="sentences"
                 name="processing" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_PROCESSING' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_HARVEST_TIME" | translate}}</ion-label>
      <ion-input #harvestTime="ngModel" [(ngModel)]="beanInformation.harvest_time" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_HARVEST_TIME' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{"BEAN_DATA_CERTIFICATION" | translate}}</ion-label>
      <ion-input #harvestTime="ngModel" [(ngModel)]="beanInformation.certification" autocapitalize="sentences"
                 name="country" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_CERTIFICATION' | translate}}" spellcheck="false"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="last && data.beanMix.toString() === 'BLEND'">
      <ion-button (click)="addAnotherSort()">Weitere Sorte hinzufügen</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="editBean()" color="accent" expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
