<ion-header translucent>
</ion-header>
<ion-content>
  <ion-item lines="inset">

        <ion-label position="stacked">{{"TOTAL_WEIGHT" | translate}}</ion-label>
        <ion-input [(ngModel)]="totalWeight" (ionChange)="calculateWeight()" inputmode="decimal"
                   placeholder="{{'TOTAL_WEIGHT' | translate}}" prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
  </ion-item>
  <ion-item lines="inset">

        <ion-label position="stacked">{{"BREW_DATA_VESSEL_WEIGHT" | translate}}</ion-label>
        <ion-input [(ngModel)]="vesselWeight"  (ionChange)="calculateWeight()" placeholder="{{'BREW_DATA_VESSEL_WEIGHT' | translate}}"
                   inputmode="decimal" prevent-characters remove-empty-number type="text"></ion-input>
  </ion-item>
  <ion-item lines="inset">
        <ion-label position="stacked">{{"CALCULATED_WEIGHT" | translate}}</ion-label>
        <ion-input disabled="true" [(ngModel)]="calculatedWeight" placeholder="{{'CALCULATED_WEIGHT' | translate}}"
                   type="text"></ion-input>

  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setBrewBeverage()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"SET_WEIGHT" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
