<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
  <div style="width:100%;text-align:end;" class="ion-margin-top">
    <ion-button (click)="dismiss()" tappable color="accent" fill="clear" >
      <ion-icon name="close-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <ion-item lines="inset">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="4">
        <ion-label position="stacked">{{"Total" | translate}}</ion-label>
        <ion-input [(ngModel)]="totalWeight" (ionChange)="calculateWeight()" inputmode="decimal"
                   placeholder="{{'BREW_DATA_VESSEL_WEIGHT' | translate}}" prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
      </ion-col>
      <ion-col   class="ion-no-padding" size="4">
        <ion-label position="stacked">{{"Vessel weight" | translate}}</ion-label>
        <ion-input [(ngModel)]="vesselWeight"  (ionChange)="calculateWeight()" placeholder="{{'BREW_DATA_VESSEL_NAME' | translate}}"
                   type="text"></ion-input>
      </ion-col>
      <ion-col   class="ion-no-padding" size="4">
        <ion-label position="stacked">{{"Calc." | translate}}</ion-label>
        <ion-input disabled="true" [(ngModel)]="calcualtedWeight" placeholder="{{'BREW_DATA_VESSEL_NAME' | translate}}"
                   type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setBrix()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"Set weight" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
