<ion-list lines="full">
  <ion-item (click)="choose(getStaticActions().BEANS_CONSUMED)" *ngIf="data.finished === false" button>
    <ion-icon name="check-outline" slot="start"></ion-icon>
    <span>{{"BEANS_CONSUMED" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().REPEAT)" button>
    <ion-icon name="repeat-outline" slot="start"></ion-icon>
    <span>{{"REPEAT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().EDIT)" button>
    <ion-icon name="create-outline" slot="start"></ion-icon>
    <span>{{"EDIT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().DELETE)" button>
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    <span>{{"DELETE" | translate}}</span>
  </ion-item>
</ion-list>

