<ion-content>
<ion-list lines="full">
  <ion-item (click)="choose(getStaticActions().DETAIL)" button tappable>
    <ion-icon name="beanconqueror-detail" slot="start"></ion-icon>
    <span>{{"DETAIL" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().REPEAT)" button tappable>
    <ion-icon name="beanconqueror-repeat" slot="start"></ion-icon>
    <span>{{"REPEAT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().EDIT)" button tappable>
    <ion-icon name="beanconqueror-edit" slot="start"></ion-icon>
    <span>{{"EDIT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().BEANS_CONSUMED)" *ngIf="data.finished === false" button tappable>
    <ion-icon name="beanconqueror-finished" slot="start"></ion-icon>
    <span>{{"BEANS_CONSUMED" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().DELETE)" button tappable>
    <ion-icon name="beanconqueror-delete" slot="start"></ion-icon>
    <span>{{"DELETE" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().PHOTO_GALLERY)" [disabled]="!hasPhotos()" button tappable>
    <ion-icon name="beanconqueror-photo-gallery" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_PHOTO_GALLERY" | translate}}</span>
  </ion-item>
</ion-list>
</ion-content>
