<ion-header>
  <app-header [title]="'NAV_ABOUT_US' | translate">
    <ion-back-button header-slot="start" icon="beanconqueror-back" />
  </app-header>
</ion-header>
<ion-content>
  <ion-card>

    <ion-item>
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <div class="white-space-normal">
        GNU General Public License v3.0
      </div>
    </ion-item>
    @if (analyticsEnabled) {
      <ion-item>
        <ion-icon name="analytics-outline" slot="start"></ion-icon>
        <div [innerHTML]="'ANALYTICS_INFORMATION_ABOUT' | translate:{analyticsId: analyticsId}"></div>
        <div></div>
      </ion-item>
    }
    <ion-item lines="none">
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
      <div>{{versionStr}}</div>
    </ion-item>
  </ion-card>
</ion-content>
