<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_ABOUT_US" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>

      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <div class="white-space-normal">
          GNU General Public License v3.0
        </div>
      </ion-item>
    <ion-item lines="none">
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
        <div>{{versionStr}}</div>
      </ion-item>
  </ion-card>
</ion-content>
