<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_ABOUT_US" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon item-left name="information-circle-outline"></ion-icon>
        <div class="white-space-normal">
          &nbsp;GNU General Public License v3.0
        </div>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="help-buoy-outline"></ion-icon>
        <div>&nbsp;{{versionStr}}</div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
