<ion-card class="popover" style="display:flex; flex-direction: column;">
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_NAME" | translate}}' #name="ngModel" [(ngModel)]="data.name" autocapitalize="sentences" name="name" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_NAME' | translate}}"
               required spellcheck="false" type="text">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_BUY_DATE" | translate}}' readonly (click)="chooseDate($event);" [(data)]="data.date" [transform-date] displayFormat="{{settings?.date_format}}" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_BUY_DATE' | translate}}"></ion-input>

  </ion-item>

  <ion-item lines='none'>
    <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
      style="vertical-align: top;">{{data.rating}}</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item style="top:-10px;">
    <ion-range style="padding-left:20px;padding-top:0;padding-bottom:0px;padding-right:0px;" (ionChange)="changedRating()" [(ngModel)]="data.rating" debounce="500s" max="5" min="0" snaps="true" step="1">
      <div slot="end">
        <ngx-stars #beanRating [color]="'#BFB9B0'" [initialStars]="data.rating"  [maxStars]="5"  [readonly]="true" [wholeStars]="true" class="ion-float-right brew-stars"></ngx-stars>
      </div>
    </ion-range>
  </ion-item>
</ion-card>



<ion-card style="display:flex; flex-direction: column;">
  <ion-item lines="none">
    <span class="ion-title ion-padding-top ion-no-padding-bottom">{{"BEAN_SORT_MORE_INFORMATION" | translate }}</span>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_WEIGHT" | translate}}' #weight="ngModel" [(ngModel)]="data.weight" autocapitalize="off" inputmode="decimal"
               name="weight" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_WEIGHT' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_COST" | translate}}' #cost="ngModel" [(ngModel)]="data.cost" autocapitalize="off" inputmode="decimal"
               name="cost" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_COST' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_AROMATICS" | translate}}' #aromatics="ngModel" [(ngModel)]="data.aromatics" autocapitalize="sentences"
               name="aromatics" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_AROMATICS' | translate}}" spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_CUPPING_POINTS" | translate}}' #cupping_points="ngModel" [(ngModel)]="data.cupping_points" autocapitalize="off" inputmode="decimal"
               name="cupping_points" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_CUPPING_POINTS' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="start" label-placement="start" #decaffeinated="ngModel" [(ngModel)]="data.decaffeinated" name="decaffeinated">{{"BEAN_DATA_DECAFFEINATED" | translate}}</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_URL" | translate}}' #url="ngModel" [(ngModel)]="data.url" autocapitalize="sentences" name="ean_article_number" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_URL' | translate}}"
               spellcheck="false" type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_DATA_EAN" | translate}}' #ean_article_number="ngModel" [(ngModel)]="data.ean_article_number" autocapitalize="sentences" name="ean_article_number" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_EAN' | translate}}"
               spellcheck="false" type="text">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="data?.config.uuid !== ''">
    <ion-checkbox justify="start" label-placement="start" [(ngModel)]="data.finished">{{"FINISHED"|translate}}?</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label id='note' position="stacked">{{"NOTES" | translate }}</ion-label>
    <ion-textarea style='margin-top:20px;' aria-labelledby='note' #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                  autocorrect="true"
                  name="note" placeholder="{{'BEAN.PLACE_HOLDER.NOTES' | translate}}" rows="5" spellcheck="true"></ion-textarea>
  </ion-item>
  <photo-add [(data)]="data"></photo-add>
</ion-card>
