<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_LICENCES" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let key of licences | keys" (click)="licences[key].active = !licences[key].active">
    <ion-item>
      <ion-icon *ngIf="!licences[key].active" item-left large name="chevron-down-outline"></ion-icon>
      <ion-icon *ngIf="licences[key].active" item-left large name="chevron-up-outline"></ion-icon>
      <h2>{{ licences[key].TITLE }}</h2>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLink($event,licences[key].LINK)" fill="outline"
                  size="small">{{"PAGE_LICENCES_WEBSITE" | translate}}</ion-button>
    </ion-item>
    <ion-card-content *ngIf="licences[key].active" style="border-top: 1px solid rgba(0, 0, 0, 0.3);padding-top: 10px;"
                      class="white-space-normal"
                      [innerHTML]="licences[key].DESCRIPTION">
    </ion-card-content>
  </ion-card>
</ion-content>
