<ion-header>
  <app-header [title]="'SORT_PREPARATION_TOOLS' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>
  <ion-card class="ion-padding" style="margin-top:30px;">
    <ion-reorder-group (ionReorderEnd)="reorder_tool($event)" disabled="false">
      @for (index of toolsOrders; track index; let last = $last) {
        <ion-item lines="{{last?'none':''}}" tappable>
          <ion-label>
            @if (index.archived) {
              <span><i>({{"ARCHIVED" | translate}})</i>&nbsp;-&nbsp;</span>
              }{{index.label}}
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        }
      </ion-reorder-group>
    </ion-card>
  </ion-content>
