<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;Zurück
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>


  <ion-item>
    <ion-label stacked>Mahlgrad</ion-label>
    <ion-input type="text" [(ngModel)]="data.grind_size"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Gewicht</ion-label>
    <ion-input [prevent-characters] [(ngModel)]="data.grind_weight" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Temperatur</ion-label>
    <ion-input [prevent-characters] [(ngModel)]="data.brew_temperature" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Zubereitungsmethode</ion-label>
    <ion-select [(ngModel)]="data.method_of_preparation">
      <ion-option *ngFor="let method of method_of_preparations" value="{{method.config.uuid}}">{{method.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Bohnen</ion-label>
    <ion-select [(ngModel)]="data.bean">
      <ion-option *ngFor="let bean of beans" value="{{bean.config.uuid}}">{{bean.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label stacked>Zeit</ion-label>
    <ion-input [prevent-characters] [(ngModel)]="data.brew_time" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Blooming-Zeit / Preinfusion</ion-label>
    <ion-input [prevent-characters] [(ngModel)]="data.coffee_blooming_time" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Erster Kaffeetropfen</ion-label>
    <ion-input [prevent-characters] [(ngModel)]="data.coffee_first_drip_time" type="text"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col col-8 col-sm-10>
      <ion-item>
        <ion-label floating>Bezugsmenge</ion-label>
        <ion-input [prevent-characters] [(ngModel)]="data.brew_quantity" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-4 col-sm-2 align-self-end>
      <ion-item>
        <ion-select style="max-width:100%;"  [(ngModel)]="data.brew_quantity_type"  name="brewQuantityType" #brewQuantityType="ngModel">
          <ion-option *ngFor="let key of brewQuantityTypeEnums | keys" value="{{key}}">{{brewQuantityTypeEnums[key]}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label stacked>Kaffeetyp</ion-label>
    <ion-input type="text" [(ngModel)]="data.coffee_type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Kaffee-Konzentration</ion-label>
    <ion-input type="text" [(ngModel)]="data.coffee_concentration"></ion-input>
  </ion-item>
  <ion-item *ngIf="showRating()">
    <ion-label stacked>Bewertung&nbsp;<ion-badge style="float:right;" color="secondary">{{data.rating}}</ion-badge>
    </ion-label>
    <!-- debounce="1000"  made an issue here -->
    <ion-range *ngIf="data.rating" [(ngModel)]="data.rating"  min="1" max="10" step="1" snaps="true">
      <ion-icon range-left  name="sad"></ion-icon>
      <ion-icon range-right name="happy"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label stacked>Notizen</ion-label>
    <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true" [(ngModel)]="data.note"
                  rows="5"></ion-textarea>
  </ion-item>
  <button ion-item (click)="addImage()">
    Foto hinzufügen
  </button>
  <div *ngIf="data?.attachments && data.attachments.length > 0">
    <ion-slides #photoSlides pager="true">
      <ion-slide *ngFor="let attachment of data.attachments;let i = index">
        <ion-buttons end>
          <button ion-button color="primary" (click)="deleteImage(i)">Löschen</button>
        </ion-buttons>

        <img [src]="attachment" class="brew-image">
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button (click)="dismiss()" dark outline block>Abbrechen</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="updateBrew()" type="submit" block>Speichern</button>
    </ion-col>
  </ion-row>
</ion-footer>

