<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;Zurück
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>


  <ion-list>
    <ion-item>
      <ion-label stacked>Mahlgrad</ion-label>
      <ion-input type="text" [(ngModel)]="data.grind_size"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Gewicht</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Temperatur</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_temperature"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Zubereitungsmethode</ion-label>
      <ion-select [(ngModel)]="data.method_of_preparation">
        <ion-option value="Standard">Standard</ion-option>
        <ion-option *ngFor="let method of method_of_preparations" value="{{method.config.uuid}}">{{method.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bohnen</ion-label>
      <ion-select [(ngModel)]="data.bean">
        <ion-option value="Standard">Standard</ion-option>
        <ion-option *ngFor="let bean of beans" value="{{bean.config.uuid}}">{{bean.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Zeit</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bezugsmenge</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_quantity" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="data?.rating">
    <ion-list-header>
      Bewertung
      <ion-badge item-end color="secondary">{{data.rating}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="1" max="10" step="1" snaps="true" debounce="1000" [(ngModel)]="data.rating">
        <ion-icon range-left  name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label stacked>Notizen</ion-label>
      <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true"  [(ngModel)]="data.note" rows="5"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-item (click)="addImage()">
    Foto hinzufügen
  </button>
  <div  *ngIf="data?.attachments && data.attachments.length > 0">
    <ion-slides #photoSlides pager="true">
      <ion-slide *ngFor="let attachment of data.attachments;let i = index">
        <ion-buttons end>
          <button ion-button color="primary" (click)="deleteImage(i)">Löschen</button>
        </ion-buttons>

        <img [src]="attachment" class="brew-image">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-row>
    <ion-col>
      <button ion-button (click)="dismiss()" dark outline block>Abbrechen</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="updateBrew()" type="submit" block>Speichern</button>
    </ion-col>

  </ion-row>


</ion-content>
