:host {
  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  ion-col.active {
    color: black !important;
    ion-card {
      background-color: #90ee90;
    }

    .sanremo-ml-unit {
      color: black !important;
    }
    ion-item {
      --background: #90ee90;
      color: black !important;
    }
    .sanremo-unit {
      color: black !important;
    }
  }

  .sanremo-group-statusbuttons {
    ion-col {
      padding: 6px;
    }
    ion-card {
      border: 2px solid var(--ion-color-accent) !important;
      ion-card-header {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        line-height: 38px;
        padding-bottom: 0px !important;
        padding-top: 5px !important;
        margin-bottom: -10px;
      }
      ion-card-content {
        .sanremo-input {
          font-size: 50px;
          font-weight: 600;
          text-align: center;
          --padding-top: 0px;
          --padding-bottom: 0px;
          /* Space for 'gr' if we position it, or just spacing */
          width: 100%;
          /* Ensure input takes full width of the item */
        }
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
      }

      .sanremo-ml-unit {
        text-align: center;
        font-size: 18px;
        font-style: italic;
      }

      .sanremo-brew-by-weight-grams {
        margin-left: -5px;
        padding: 0px;
        position: relative;
        top: 5px;
      }
    }
  }
  /* Sanremo YOU Button Styling */

  .sanremo-label {
  }
  .sanremo-unit {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    /* Let clicks pass through to input area if needed */
  }

  #statusPhase1 {
    order:1;
  }
  #statusPhase2 {
    order:2;
  }
  #statusPhase3 {
    order:3;
  }
  #statusPhase4 {
    order:4;
  }

  @media screen and (max-width: 768px) {
    #statusPhase1 {
      order:1;
    }
    #statusPhase2 {
      order:3;
    }
    #statusPhase3 {
      order:2;
    }
    #statusPhase4 {
      order:4;
    }
  }
}
