:host {

  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  ion-col.active {
    background-color: #90EE90;
    ion-item{
      --background:#90EE90;
    }
  }
}
