<ion-card class="popover" style="display:flex; flex-direction: column;">
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.DROP_TEMPERATURE" | translate}}</ion-label>
    <ion-input #drop_temperature="ngModel" [(ngModel)]="data.bean_roast_information.drop_temperature" autocapitalize="off" inputmode="decimal"
               name="weight" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.DROP_TEMPERATURE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.ROAST_LENGTH" | translate}}</ion-label>
    <ion-datetime (click)="showTimeOverlay($event);" [(ngModel)]="displayingTime" cancelText="{{'CANCEL' | translate}}" displayFormat="H:mm:ss" doneText="{{'CHOOSE' | translate}}" mode="ios"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.ROASTER_MACHINE" | translate}}</ion-label>
    <ion-select [(ngModel)]="data.bean_roast_information.roaster_machine" roasting-machine-overlay
                [show-finished]="true" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL' | translate}}"></ion-select>

  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.GREEN_BEAN_WEIGHT" | translate}}</ion-label>
    <ion-input #green_bean_weight="ngModel" [(ngModel)]="data.bean_roast_information.green_bean_weight" autocapitalize="off" inputmode="decimal"
               name="green_bean_weight" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.GREEN_BEAN_WEIGHT' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BEAN_DATA_WEIGHT_AFTER_ROASTING" | translate}}</ion-label>
    <ion-input #weight="ngModel" [(ngModel)]="data.weight" autocapitalize="off" inputmode="decimal"
               name="weight" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_WEIGHT' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.FIRST_CRACK_MINUTE" | translate}}</ion-label>
    <ion-input #first_crack_minute="ngModel" [(ngModel)]="data.bean_roast_information.first_crack_minute" autocapitalize="off" inputmode="decimal"
               name="outside_temperature" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.FIRST_CRACK_MINUTE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.FIRST_CRACK_TEMPERATURE" | translate}}</ion-label>
    <ion-input #first_crack_temperature="ngModel" [(ngModel)]="data.bean_roast_information.first_crack_temperature" autocapitalize="off" inputmode="decimal"
               name="outside_temperature" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.FIRST_CRACK_TEMPERATURE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.SECOND_CRACK_MINUTE" | translate}}</ion-label>
    <ion-input #second_crack_minute="ngModel" [(ngModel)]="data.bean_roast_information.second_crack_minute" autocapitalize="off" inputmode="decimal"
               name="outside_temperature" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.SECOND_CRACK_MINUTE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.SECOND_CRACK_TEMPERATURE" | translate}}</ion-label>
    <ion-input #second_crack_temperature="ngModel" [(ngModel)]="data.bean_roast_information.second_crack_temperature" autocapitalize="off" inputmode="decimal"
               name="outside_temperature" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.SECOND_CRACK_TEMPERATURE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.OUTSIDE_TEMPERATURE" | translate}}</ion-label>
    <ion-input #outside_temperature="ngModel" [(ngModel)]="data.bean_roast_information.outside_temperature" autocapitalize="off" inputmode="decimal"
               name="outside_temperature" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.OUTSIDE_TEMPERATURE' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"ROASTING_SECTION.BEAN.HUMIDITY" | translate}}</ion-label>
    <ion-input #humidity="ngModel" [(ngModel)]="data.bean_roast_information.humidity" autocapitalize="off" inputmode="decimal"
               name="humidity" placeholder="{{'ROASTING_SECTION.BEAN.PLACE_HOLDER.HUMIDITY' | translate}}"
               prevent-characters remove-empty-number spellcheck="false"
               type="text">
    </ion-input>
  </ion-item>
</ion-card>
