<ion-header>
  <app-header [title]="'NAV_MILL' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="add()" />
  </app-header>
</ion-header>

<ion-content #millContent>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="ion-padding-vertical tabs">
    <ion-segment-button value="open">
      <ion-label>
        {{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (settings?.show_archived_mills) {
<ion-segment-button value="archive">
      <ion-label>
        {{"TAB_ARCHIVE" | translate }}
      </ion-label>
    </ion-segment-button>
}
  </ion-segment>

  @switch (segment) {
    @case ('open') {
      @if (openMillsView?.length == 0) {
<div class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-pepper-mill" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_MILL_LIST_NO_MILL_EXISTING" | translate}}
        </div>
      </div>
}
      <ag-virtual-scroll #openScroll [items]="openMillsView" [height]="'100vh'" min-row-height="263">
        @for (mill of openScroll.items; track mill) {
<mill-information-card (millAction)="millAction($event[0],$event[1])" [mill]="mill"></mill-information-card>
}
      </ag-virtual-scroll>
    }
    @case ('archive') {
      @if (archiveMillsView?.length == 0) {
<div class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-pepper-mill" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_MILL_LIST_NO_ARCHIVED_MILL_EXISTING" | translate}}
        </div>
      </div>
}

      <ag-virtual-scroll #archivedScroll [items]="archiveMillsView" [height]="'100vh'" min-row-height="263">
        @for (mill of archivedScroll.items; track mill) {
<mill-information-card (millAction)="millAction($event[0],$event[1])" [mill]="mill"></mill-information-card>
}
      </ag-virtual-scroll>
    }
  }


</ion-content>
