<ion-header>
  <ion-toolbar with-add-button>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()" class="big-add-icon" fill="clear">
        <ion-icon class="ion-color-accent" name="beanconqueror-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_MILL" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #millContent>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="ion-padding-vertical tabs">
    <ion-segment-button value="open">
      <ion-label>
        {{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="settings?.show_archived_mills" value="archive">
      <ion-label>
        {{"TAB_ARCHIVE" | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'open'">
      <div *ngIf="getActiveMills()?.length == 0" class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-pepper-mill" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_MILL_LIST_NO_MILL_EXISTING" | translate}}
        </div>
      </div>
      <ag-virtual-scroll #openScroll [items]="openMillsView" height="100vh" min-row-height="165">
        <mill-information-card *ngFor="let mill of openScroll.items" (millAction)="millAction($event[0],$event[1])" [mill]="mill"></mill-information-card>
      </ag-virtual-scroll>
    </div>
    <div *ngSwitchCase="'archive'">
      <div *ngIf="getArchivedMills()?.length == 0" class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-pepper-mill" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_MILL_LIST_NO_ARCHIVED_MILL_EXISTING" | translate}}
        </div>
      </div>

      <ag-virtual-scroll #archivedScroll [items]="archiveMillsView" height="100vh" min-row-height="165">
        <mill-information-card *ngFor="let mill of archivedScroll.items" (millAction)="millAction($event[0],$event[1])" [mill]="mill"></mill-information-card>
      </ag-virtual-scroll>
    </div>
  </div>


</ion-content>
