<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brühungen</ion-title>
    <ion-buttons end>
      <button [disabled]="!uiBrewHelper.canBrew()" ion-button icon-only (click)="addBrew()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showMore($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>



  <div padding>
    <ion-segment [(ngModel)]="brew_segment">
      <ion-segment-button value="open">
        Aktuell
      </ion-segment-button>
      <ion-segment-button value="archive">
        Archiv
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="brew_segment">
    <div *ngSwitchCase="'open'">
      <ion-card  padding *ngIf="!uiBrewHelper.canBrew()">
        <h2 class="error-text">Um einen Bezug zu starten, lege bitte eine <b>Bohnensorte</b> sowie eine <b>Zubereitungsmethode</b> und <b>Mühle</b> an.</h2>
      </ion-card>
      <ion-card padding *ngIf="brews?.length == 0 && uiBrewHelper.canBrew()">
        Du hast leider noch keinen Kaffee, seit der Benutzung dieser App getrunken (schon etwas schade oder?)
      </ion-card>
      <ion-card padding *ngIf="openBrewsView?.length == 0">
        Keine Einträge vorhanden.
      </ion-card>
      <ion-list *ngFor="let brewView of openBrewsView">
        <ion-list-header class="brews-header">
          {{brewView.title}}
        </ion-list-header>
        <ion-card *ngFor="let brew of brewView.brews">

          <ion-card-header>
            {{brew.formateDate("HH:mm")}}
          </ion-card-header>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="settings.grind_size === true">
                  <i class="fa fa-th"></i>&nbsp;{{brew.grind_size}}
                </ion-col>
                <ion-col *ngIf="settings.grind_weight === true">
                  <i class="fa fa-balance-scale"></i>&nbsp;{{brew.grind_weight}}
                </ion-col>
                <ion-col *ngIf="settings.brew_temperature === true">
                  <i class="fa fa-thermometer-half "></i>&nbsp;{{brew.brew_temperature}}
                </ion-col>
                <ion-col *ngIf="settings.brew_time === true">
                  <i class="fa fa-clock-o "></i>&nbsp;{{brew.brew_time}}
                </ion-col>
                <ion-col *ngIf="settings.rating === true">
                  <i class="fa fa-smile-o"></i>&nbsp;{{brew.rating}}
                </ion-col>
                <ion-col *ngIf="settings.brew_quantity === true">
                  <ion-icon name="beaker"></ion-icon>&nbsp;{{brew.brew_quantity}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="settings.bean_type === true">
                  <ion-icon class="custom-coffee-beans"></ion-icon>&nbsp;{{brew.getBean().name}}
                </ion-col>
                <ion-col *ngIf="settings.method_of_preparation === true">
                  <ion-icon class="custom-filter"></ion-icon>&nbsp;{{brew.getPreparation().name}}
                </ion-col>
                <ion-col *ngIf="settings.mill === true">
                  <ion-icon class="custom-mill"></ion-icon>&nbsp;{{brew.getMill().name}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-list *ngIf="settings.note === true && brew.note !=''">
              <ion-item>
                <span style="font-size:0.8em;" text-italic>Notizen:</span><br/>
                <pre>{{brew.note}}</pre>
              </ion-item>
            </ion-list>
          </div>
          <ion-row >
            <ion-col>
              <button justify-content-start color="dark" clear  ion-button block small
                      icon-left (click)="postBrew(brew)">
                <ion-icon name="md-clipboard" item-start></ion-icon>
                <span>Posten</span>
              </button>
            </ion-col>
            <ion-col>
              <button justify-content-start color="dark" clear  ion-button block small
                      icon-left (click)="repeatBrew(brew)">
                <ion-icon name="md-repeat" item-start></ion-icon>
                <span>Wiederholen</span>
              </button>
            </ion-col>
            <ion-col *ngIf="settings.attachments === true">
              <button justify-content-start color="dark" clear *ngIf="brew?.attachments.length > 0" ion-button block small
                      icon-left (click)="viewPhotos(brew)">
                <ion-icon name="md-eye" item-start></ion-icon>
                <span>Fotogalerie</span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="detailBrew(brew)">
                <ion-icon name="list" item-start></ion-icon>
                <span>Details</span>
              </button>
            </ion-col>

            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="editBrew(brew)">
                <ion-icon name="md-create" item-start></ion-icon>
                <span>Editieren</span>
              </button>
            </ion-col>
            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="deleteBrew(brew)">
                <ion-icon name="trash" item-start></ion-icon>
                <span>Löschen</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
    </div>
    <div *ngSwitchCase="'archive'">
      <ion-card padding *ngIf="archiveBrewsView?.length == 0">
        Keine Einträge vorhanden.
      </ion-card>
      <ion-list *ngFor="let brewView of archiveBrewsView">
        <ion-list-header class="brews-header">
          {{brewView.title}}
        </ion-list-header>
        <ion-card *ngFor="let brew of brewView.brews">

          <ion-card-header>
            {{brew.formateDate("HH:mm")}}
          </ion-card-header>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="settings.grind_size === true">
                  <i class="fa fa-th"></i>&nbsp;{{brew.grind_size}}
                </ion-col>
                <ion-col *ngIf="settings.grind_weight === true">
                  <i class="fa fa-balance-scale"></i>&nbsp;{{brew.grind_weight}}
                </ion-col>
                <ion-col *ngIf="settings.brew_temperature === true">
                  <i class="fa fa-thermometer-half "></i>&nbsp;{{brew.brew_temperature}}
                </ion-col>
                <ion-col *ngIf="settings.brew_time === true">
                  <i class="fa fa-clock-o "></i>&nbsp;{{brew.brew_time}}
                </ion-col>
                <ion-col *ngIf="settings.rating === true">
                  <i class="fa fa-smile-o"></i>&nbsp;{{brew.rating}}
                </ion-col>
                <ion-col *ngIf="settings.brew_quantity === true">
                  <ion-icon name="beaker"></ion-icon>&nbsp;{{brew.brew_quantity}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="settings.bean_type === true">
                  <ion-icon class="custom-coffee-beans"></ion-icon>&nbsp;{{brew.getBean().name}}
                </ion-col>
                <ion-col *ngIf="settings.method_of_preparation === true">
                  <ion-icon class="custom-filter"></ion-icon>&nbsp;{{brew.getPreparation().name}}
                </ion-col>
                <ion-col *ngIf="settings.mill === true">
                  <ion-icon class="custom-mill"></ion-icon>&nbsp;{{brew.getMill().name}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-list *ngIf="settings.note === true && brew.note !=''">
              <ion-item>
                <span style="font-size:0.8em;" text-italic>Notizen:</span><br/>
                <pre>{{brew.note}}</pre>
              </ion-item>
            </ion-list>
          </div>
          <ion-row>
            <ion-col>
              <button justify-content-start color="dark" clear  ion-button block small
                      icon-left (click)="postBrew(brew)">
                <ion-icon name="md-clipboard" item-start></ion-icon>
                <span>Posten</span>
              </button>
            </ion-col>
            <ion-col>
              <button justify-content-start color="dark" clear  ion-button block small
                      icon-left (click)="repeatBrew(brew)">
                <ion-icon name="md-repeat" item-start></ion-icon>
                <span>Wiederholen</span>
              </button>
            </ion-col>
            <ion-col *ngIf="settings.attachments === true">
              <button justify-content-start color="dark" clear *ngIf="brew?.attachments.length > 0" ion-button block small
                      icon-left (click)="viewPhotos(brew)">
                <ion-icon name="md-eye" item-start></ion-icon>
                <span>Fotogalerie</span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="detailBrew(brew)">
                <ion-icon name="list" item-start></ion-icon>
                <span>Details</span>
              </button>
            </ion-col>

            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="editBrew(brew)">
                <ion-icon name="md-create" item-start></ion-icon>
                <span>Editieren</span>
              </button>
            </ion-col>
            <ion-col>
              <button justify-content-start color="dark" clear ion-button small block icon-left (click)="deleteBrew(brew)">
                <ion-icon name="trash" item-start></ion-icon>
                <span>Löschen</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
    </div>
  </div>




</ion-content>

