<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brühungen</ion-title>
    <ion-buttons end>
      <button [disabled]="!hasBeans || !hasPreparationMethods" ion-button icon-only (click)="addBrew()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showMore($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card  padding *ngIf="!hasBeans || !hasPreparationMethods">
    <h2 class="error-text">Um einen Bezug zu starten, lege bitte eine <b>Bohnensorte</b> sowie eine <b>Zubereitungsmethode</b> an.</h2>
  </ion-card>
  <ion-card padding *ngIf="brewsView?.length == 0 && hasBeans && hasPreparationMethods">
    Du hast leider noch keinen Kaffee, seit der Benutzung dieser App getrunken (schon etwas schade oder?)
  </ion-card>
  <ion-list *ngFor="let brewView of brewsView">
    <ion-list-header class="brews-header">
      {{brewView.title}}
    </ion-list-header>
    <ion-card *ngFor="let brew of brewView.brews">

      <ion-card-header>
        {{brew.formateDate("HH:mm")}}
      </ion-card-header>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="settings.grind_size === true">
              <i class="fa fa-th"></i>&nbsp;{{brew.grind_size}}
            </ion-col>
            <ion-col *ngIf="settings.grind_weight === true">
              <i class="fa fa-balance-scale"></i>&nbsp;{{brew.grind_weight}}
            </ion-col>
            <ion-col *ngIf="settings.brew_temperature === true">
              <i class="fa fa-thermometer-half "></i>&nbsp;{{brew.brew_temperature}}
            </ion-col>
            <ion-col *ngIf="settings.brew_time === true">
              <i class="fa fa-clock-o "></i>&nbsp;{{brew.brew_time}}
            </ion-col>
            <ion-col *ngIf="settings.rating === true">
              <i class="fa fa-smile-o"></i>&nbsp;{{brew.rating}}
            </ion-col>
            <ion-col *ngIf="settings.brew_quantity === true">
              <ion-icon name="beaker"></ion-icon>&nbsp;{{brew.brew_quantity}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="settings.method_of_preparation === true">
              <i class="fa fa-flask"></i>&nbsp;{{brew.getPreparation().name}}
            </ion-col>
            <ion-col *ngIf="settings.bean_type === true">
              <i class="fa fa-pagelines"></i>&nbsp;{{brew.getBean().name}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list *ngIf="settings.note === true && brew.note !=''">
          <ion-item>
            <span style="font-size:0.8em;" text-italic>Notizen:</span><br/>
            <pre>{{brew.note}}</pre>
          </ion-item>
        </ion-list>
      </div>
      <ion-row *ngIf="settings.attachments === true">
        <ion-col>
          <button justify-content-start color="dark" clear *ngIf="brew?.attachments.length > 0" ion-button block small
                  icon-left (click)="viewPhotos(brew)">
            <ion-icon name="md-eye" item-start></ion-icon>
            <span>Fotogalerie</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button justify-content-start color="dark" clear ion-button small block icon-left (click)="detailBrew(brew)">
            <ion-icon name="list" item-start></ion-icon>
            <span>Details</span>
          </button>
        </ion-col>

        <ion-col>
          <button justify-content-start color="dark" clear ion-button small block icon-left (click)="editBrew(brew)">
            <ion-icon name="md-create" item-start></ion-icon>
            <span>Editieren</span>
          </button>
        </ion-col>
        <ion-col>
          <button justify-content-start color="dark" clear ion-button small block icon-left (click)="deleteBrew(brew)">
            <ion-icon name="trash" item-start></ion-icon>
            <span>Löschen</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>


</ion-content>

