<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col size="11">
        <div>
          <ion-chip (click)="brewComponent.toggleChartLines('weight')" [outline]="!brewComponent.weightTrace?.visible" *ngIf="smartScaleConnected()"
            class="weight">{{'BREW_FLOW_WEIGHT' | translate}}</ion-chip>
          <ion-chip (click)="brewComponent.toggleChartLines('calc_flow')" *ngIf="smartScaleConnected()"
            [outline]="!brewComponent.flowPerSecondTrace?.visible"
            class="flowcalculated">{{'BREW_FLOW_WEIGHT_PER_SECOND' | translate}}</ion-chip>
          <ion-chip (click)="brewComponent.toggleChartLines('realtime_flow')" *ngIf="smartScaleConnected()"
            [outline]="!brewComponent.realtimeFlowTrace?.visible" class="flowreal">{{'BREW_FLOW_WEIGHT_REALTIME' |
            translate}}</ion-chip>
          <ion-chip (click)="brewComponent.toggleChartLines('pressure')" *ngIf="pressureDeviceConnected() && this.brew.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
            [outline]="!brewComponent.pressureTrace?.visible" class="pressure">{{'BREW_PRESSURE_FLOW' |
            translate}}</ion-chip>
          <ion-chip (click)="brewComponent.toggleChartLines('temperature')" *ngIf="temperatureDeviceConnected()"
            [outline]="!brewComponent.temperatureTrace?.visible" class="temperature">{{'BREW_TEMPERATURE_REALTIME' |
            translate}}</ion-chip>
        </div>
      </ion-col>
      <ion-col class="ion-text-right" size="1">
        <ion-button (click)="dismiss()" fill="clear" style="margin-top: -1px;margin-left:-15px;">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>

  <div id="flowCard" style="height:100%">

    <div *ngIf="isDetail===false" id="informationContainer">
      <ion-grid class="ion-text-center ion-no-padding brew-information-panel">
        <ion-row style="padding-bottom:5px;">
          <ion-col  *ngIf="smartScaleConnected()"
            size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center weight-card" style="height: 100%;">
              <ion-card-header>
                <div #smartScaleWeightDetail>? g</div>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="beanconqueror-scale-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col  *ngIf="smartScaleConnected()"
            size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center flow-avg-card" style="height: 100%;">
              <ion-card-header>
                <div><span #smartScaleAvgFlowPerSecondDetail>?</span> g/s</div>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="water-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col  *ngIf="smartScaleConnected()"
            size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center flow-card" style="height: 100%;">
              <ion-card-header>
                <div><span #smartScaleWeightPerSecondDetail>?</span> g/s</div>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="water-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col (click)="resetPressure()" *ngIf="pressureDeviceConnected() && this.brew.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
            size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center pressure-card" style="height: 100%;">
              <ion-card-header>
                <div #pressureDetail>? bar</div>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="beanconqueror-pressure"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="temperatureDeviceConnected()"
                   size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center temperature-card" style="height: 100%;">
              <ion-card-header>
                <div #temperatureDetail>? °C</div>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="thermometer-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col
            size="{{this.getGraphIonColSize()}}"
            style="padding-right:5px;">
            <ion-card class="flow-profile ion-text-center timer-card" style="height: 100%;">
              <ion-card-header>
                <span *ngIf="settings?.brew_milliseconds === false">{{this.uiHelper.formatSeconds(brew.brew_time,
                  'mm:ss')}}</span>
                <span
                  *ngIf="settings?.brew_milliseconds === true">{{this.uiHelper.formatSecondsAndMilliseconds(brew.brew_time,
                  brew.brew_time_milliseconds, this.returnWantedDisplayFormat())}}</span>
              </ion-card-header>
              <ion-card-content>
                <ion-icon name="time-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>


    </div>

    <div [ngStyle]="{'height': 'calc(100% - ' + heightInformationBlock + 'px)'}" id="brewFlowContainer"
      style="display:block"></div>

  </div>
</ion-content>
<ion-footer *ngIf="isDetail===false" class="ion-no-border">
  <div class="ion-text-center flow-icon-buttons">
    <ion-button (click)="setCoffeeBloomingTime()"
      *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && showBloomTimer"
      class="big-icon-only" fill="clear" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-blooming" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="setCoffeeDripTime()"
      *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && showDripTimer"
      class="big-icon-only" fill="clear" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-water-drop" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="pauseTimer()"
      *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished"
      class="big-icon-only" fill="clear" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-pause" slot="icon-only"></ion-icon>

    </ion-button>
    <ion-button (click)="resetTimer()"
      *ngIf="(!brewComponent.timer.timer.hasStarted || !brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) && brewComponent.timer.getSeconds()>0"
      class="big-icon-only" fill="clear" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-full-reset" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button (click)="resumeTimer()"
      *ngIf="!brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished"
      class="big-icon-only" fill="clear" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="startTimer()" *ngIf="!brewComponent.timer.timer.hasStarted" class="big-icon-only" fill="clear"
      tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="__tareScale()" *ngIf="brewComponent.smartScaleConnected()" class="big-icon-only" fill="clear"
      tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-scale-tare" slot="icon-only"></ion-icon>
    </ion-button>


  </div>

</ion-footer>
