<ion-header translucent>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content #flowContent>
<ion-card style="height:calc(100% - 20px)">
  <ion-grid class="ion-no-padding" style="padding:5px;">
    <ion-row>
      <ion-col size="{{isDetail?12:10}}">
        <div style="display:block" id="brewFlowContainer" style="height:calc(100% - 40px)">

        </div>
      </ion-col>
      <ion-col *ngIf="isDetail===false" size="2" style="text-align:center;">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card class="flow-profile ion-text-center">
                <ion-card-header>
                  <div #smartScaleWeightPerSecond>? g/s</div>
                  <div #smartScaleAvgFlowPerSecond>? g/s</div>
                </ion-card-header>
                <ion-card-content>
                  {{"BREW_FLOW_WEIGHT_PER_SECOND" | translate}}
                </ion-card-content>
              </ion-card>

              <ion-card style="margin-top:8px;" class="flow-profile ion-text-center">
                <ion-card-header>
                  <div #smartScaleWeight>? g</div>
                  <div>({{brew.getBrewRatio()}})</div>
                </ion-card-header>
                <ion-card-content>
                  {{"BREW_FLOW_WEIGHT" | translate}}

                </ion-card-content>
              </ion-card>
              <ion-card style="margin-top:8px;" class="flow-profile ion-text-center">
                <ion-card-header>
                  <div>{{this.uiHelper.formatSeconds(brew.brew_time,'mm:ss')}}</div>
                </ion-card-header>
                <ion-card-content>
                  {{"BREW_DATA_TIME" | translate}}
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
<ion-footer *ngIf="isDetail===false" class="ion-no-border" style="height:40px;">
<div class="ion-text-center flow-icon-buttons" style="height:40px;">
      <ion-button (click)="setCoffeeBloomingTime()" *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && showBloomTimer"
                  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-blooming" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="setCoffeeDripTime()" *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && showDripTimer"
                  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-water-drop" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="pauseTimer()" *ngIf="brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished"
                  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-pause" slot="icon-only"></ion-icon>

      </ion-button>
      <ion-button (click)="resetTimer()" *ngIf="(!brewComponent.timer.timer.hasStarted || !brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) && brewComponent.timer.getSeconds()>0"
                  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-full-reset" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="resumeTimer()" *ngIf="!brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished"
                  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="startTimer()" *ngIf="!brewComponent.timer.timer.hasStarted" class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="__tareScale()" *ngIf="brewComponent.smartScaleConnected()"  class="big-icon-only" fill="clear" tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-scale-tare" slot="icon-only"></ion-icon>
      </ion-button>

</div>
</ion-footer>
