<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col size="11">
        <div style="margin-left:4px;">
          @if( brewComponent.brewBrewingGraphEl.uiSmartScaleConnected || ( brewComponent.brewBrewingGraphEl.uiPreparationDeviceConnected &&  brewComponent.brewBrewingGraphEl.uiPreparationDeviceType === PREPARATION_DEVICE_TYPE_ENUM.METICULOUS) || (isDetail === true && brewComponent.brewBrewingGraphEl.traces.weightTrace?.x?.length >0)) {
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('weight')" [outline]="!brewComponent.brewBrewingGraphEl.traces.weightTrace?.visible" class="weight">{{'BREW_FLOW_WEIGHT' | translate}}</ion-chip>
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('calc_flow')" [outline]="!brewComponent.brewBrewingGraphEl.traces.flowPerSecondTrace?.visible" class="flowcalculated">{{'BREW_FLOW_WEIGHT_PER_SECOND' | translate}}</ion-chip>
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('realtime_flow')" [outline]="!brewComponent.brewBrewingGraphEl.traces.realtimeFlowTrace?.visible" class="flowreal">{{'BREW_FLOW_WEIGHT_REALTIME' | translate}}</ion-chip>
          }
          @if ((brewComponent.brewBrewingGraphEl.uiPressureConnected && brewComponent.choosenPreparation.style_type === PREPARATION_STYLE_TYPE.ESPRESSO) ||
          ( brewComponent.brewBrewingGraphEl.uiPreparationDeviceConnected) || (isDetail === true && brewComponent.brewBrewingGraphEl.traces.pressureTrace?.x?.length >0)) {
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('pressure')"
                      [outline]="!brewComponent.brewBrewingGraphEl.traces.pressureTrace?.visible" class="pressure">{{'BREW_PRESSURE_FLOW' | translate}}</ion-chip>
          }
          @if(brewComponent.brewBrewingGraphEl.uiTemperatureConnected || ( brewComponent.brewBrewingGraphEl.uiPreparationDeviceConnected &&  brewComponent.brewBrewingGraphEl.uiPreparationDeviceType !== PREPARATION_DEVICE_TYPE_ENUM.METICULOUS) || (isDetail === true && brewComponent.brewBrewingGraphEl.traces.temperatureTrace?.x?.length >0)) {
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('temperature')"
                      [outline]="!brewComponent.brewBrewingGraphEl.traces.temperatureTrace?.visible" class="temperature">{{'BREW_TEMPERATURE_REALTIME' |
              translate}}</ion-chip>
          }
          @if( brewComponent.brewBrewingGraphEl.uiSmartScaleConnectedSupportsTwoWeights || (isDetail === true && brewComponent.brewBrewingGraphEl.traces.weightTraceSecond?.x?.length >0)) {
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('weightSecond')" [outline]="!brewComponent.brewBrewingGraphEl.traces.weightTraceSecond?.visible" class="weightsecond">{{'BREW_FLOW_WEIGHT_SECOND' | translate}}</ion-chip>
            <ion-chip (click)="brewComponent.brewBrewingGraphEl.toggleChartLines('realtimeFlowSecond')" [outline]="!brewComponent.brewBrewingGraphEl.traces.realtimeFlowTraceSecond?.visible" class="flowrealsecond">{{'BREW_FLOW_WEIGHT_REALTIME_SECOND' | translate}}</ion-chip>
          }
        </div>
      </ion-col>
      <ion-col class="ion-text-right" size="1">
        <ion-button (click)="dismiss()" fill="clear" style="margin-top: -1px;margin-left:-15px;">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content #brewFlowContent [class.camera-visible]="cameraIsVisible" class="brew-flow-content">

  <div id="main-content">
    @if(isDetail===false) {
      <div id="informationContainer" [hidden]="settings.maximize_hide_value_cards_on_maximize_screen">
        <ion-grid class="ion-text-center ion-no-padding brew-information-panel">
          <ion-row style="padding-bottom:5px;">
            @if(brewComponent?.brewBrewingGraphEl?.uiSmartScaleConnected || ( brewComponent?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceConnected && brewComponent?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceType === PREPARATION_DEVICE_TYPE_ENUM.METICULOUS)) {
              <ion-col size="{{graphIconColSize}}" style="padding-right:5px;">
                <ion-card class="flow-profile ion-text-center weight-card" style="height: 100%;">
                  <ion-card-header>
                    <div #smartScaleWeightDetail>? g</div>
                    @if(brewComponent?.brewBrewingGraphEl?.uiSmartScaleConnectedSupportsTwoWeights) {
                      <div #smartScaleWeightSecondDetail>?g</div>
                    }
                    @if(brewComponent.timer.timer.runTimer) {
                      <span class="smartScaleRatio" #smartScaleBrewRatio></span>
                    } @else {
                      <span class="smartScaleRatio" >({{brewComponent.brewBrewingGraphEl.data | brewFunctionPipe: [BREW_FUNCTION_PIPE_ENUM.GET_BREW_RATIO,brewComponent.brewBrewingGraphEl.data.brew_beverage_quantity,brewComponent.brewBrewingGraphEl.data.brew_quantity]}})</span>
                    }

                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon name="beanconqueror-scale-outline"></ion-icon>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col
                size="{{graphIconColSize}}" style="padding-right:5px;">
                <ion-card class="flow-profile ion-text-center flow-card" style="height: 100%;">
                  <ion-card-header>
                    <div class='information-tile-no-overflow'><span #smartScaleWeightPerSecondDetail>?</span> g/s</div>
                    <div class='information-tile-no-overflow'><span #smartScaleAvgFlowPerSecondDetail>?</span> g/s</div>
                    @if(brewComponent?.brewBrewingGraphEl?.uiSmartScaleConnectedSupportsTwoWeights) {
                      <div class='information-tile-no-overflow'><span #smartScaleRealtimeFlowSecondDetail>?</span> g/s</div>
                    }
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon name="water-outline"></ion-icon>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
            @if((brewComponent?.brewBrewingGraphEl?.uiPressureConnected || brewComponent?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceConnected) && brewComponent.choosenPreparation.style_type === PREPARATION_STYLE_TYPE.ESPRESSO) {
              <ion-col (click)="resetPressure()"
                       size="{{graphIconColSize}}" style="padding-right:5px;">
                <ion-card class="flow-profile ion-text-center pressure-card" style="height: 100%;">
                  <ion-card-header>
                  <div #pressureDetail>? bar</div>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon name="beanconqueror-pressure"></ion-icon>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
            @if(brewComponent?.brewBrewingGraphEl?.uiTemperatureConnected || (brewComponent?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceConnected &&  brewComponent.brewBrewingGraphEl.uiPreparationDeviceType !== PREPARATION_DEVICE_TYPE_ENUM.METICULOUS)) {
              <ion-col
                size="{{graphIconColSize}}" style="padding-right:5px;">
                <ion-card class="flow-profile ion-text-center temperature-card" style="height: 100%;">
                  <ion-card-header>
                  <div #temperatureDetail>? °C</div>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon name="thermometer-outline"></ion-icon>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
            <ion-col
              size="{{graphIconColSize}}" style="padding-right:5px;">
              <ion-card class="flow-profile ion-text-center timer-card" style="height: 100%;">
                <ion-card-header>
                  <span class='information-tile-no-overflow' #timerElement></span>
                </ion-card-header>
                <ion-card-content>
                  <ion-icon name="time-outline"></ion-icon>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    }
    <ion-grid class="ion-no-padding ion-no-margin-important">

      <ion-row>
        <ion-col [size]="cameraIsVisible?7:12"><div id="brewFlowContainer"></div></ion-col>
        @if(cameraIsVisible) {
          <ion-col size="5"> <div style="width:100%;height:100%" id="cameraPreview"></div></ion-col>
        }


      </ion-row>


    </ion-grid>
  </div>
</ion-content>
<!--The footer is min-height 72px, because if a scale e.g. doesn't support taring, the whole bar would disappear, and if the timer would start then, the graph is wrongly displayed-->
@if(isDetail===false) {
  <ion-footer class="ion-no-border" style="min-height:72px;">
    <div class="ion-text-center flow-icon-buttons">
      @if(!brewComponent.timer.timer.hasStarted && brewComponent.timer.showListeningButton) {
        <ion-button (click)="startListening();"
                    class="big-icon-only" fill="clear" slot="end" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-listening-start" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.timer.timer.hasStarted && brewComponent.timer.timer.runTimer && brewComponent.timer.ignoreScaleWeightButtonVisible && brewComponent.timer.ignoreWeightButtonActive === true) {
        <ion-button (click)="brewComponent.timer.ignoreScaleWeight();"
                    class="big-icon-only" fill="clear" slot="end" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-scale-pause" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.timer.timer.hasStarted && brewComponent.timer.timer.runTimer && brewComponent.timer.ignoreScaleWeightButtonVisible  && brewComponent.timer.unignoreWeightButtonActive === true) {
        <ion-button (click)="brewComponent.timer.unignoreScaleWeight();"
                    class="big-icon-only" fill="clear" slot="end" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-scale-play" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && brewComponent.timer.showBloomTimer) {
        <ion-button (click)="brewComponent.timer.bloomTime()"
                    class="big-icon-only" fill="clear" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-blooming" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && brewComponent.timer.showDripTimer) {
        <ion-button (click)="brewComponent.timer.dripTime()"
                    class="big-icon-only" fill="clear" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-water-drop" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) {
        <ion-button (click)="pauseTimer()"
                    class="big-icon-only" fill="clear" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-pause" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if((!brewComponent.timer.timer.hasStarted || !brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) && brewComponent.timer.timer.seconds>0) {
        <ion-button (click)="resetTimer($event)"
                    class="big-icon-only" fill="clear" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-full-reset" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(!brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) {
        <ion-button (click)="resumeTimer()"
                    class="big-icon-only" fill="clear" tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if((brewComponent.timer.showListeningButton === true && !brewComponent.timer.timer.hasStarted) || ((settings.bluetooth_scale_listening_threshold_active === false || (brewComponent?.brewBrewingGraphEl?.uiSmartScaleConnected === false && settings.bluetooth_scale_listening_threshold_active === true)) && !brewComponent.timer.timer.hasStarted)) {
        <ion-button (click)="startTimer()" class="big-icon-only" fill="clear"
                    tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
        </ion-button>
      }
      @if(brewComponent.brewBrewingGraphEl.uiSmartScaleConnected && brewComponent?.brewBrewingGraphEl?.uiSmartScaleSupportsTaring) {
        <ion-button (click)="__tareScale()" class="big-icon-only" fill="clear"
                    tappable>
          <ion-icon class="ion-color-accent" name="beanconqueror-scale-tare" slot="icon-only"></ion-icon>
        </ion-button>
      }
      <ion-button (click)="toggleCamera()" class="big-icon-only" fill="clear"
                  tappable>
        <ion-icon class="ion-color-accent" name="beanconqueror-camera" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-footer>
}
