:host {
  ion-header {
    background-color: var(--ion-header-background-color);
  }

  ion-toolbar {
    height: 0px !important;
    padding-top: 25px !important;
  }

  ion-footer {
    background: var(--ion-color-light);
    box-shadow: none;
  }

  #brewFlowContainer {}

  #informationContainer {
    display: flex;
    font-size: 24px;
    margin-left: 5px;
    overflow: scroll;

    ion-icon {
      margin-right: 2px;
      margin-left: 5px;
      margin-top: 5px;
    }

    span {
      vertical-align: top;
    }
  }

  ion-label {
    color: #938F89;
    display: block;
    position: relative;
    top: 5px;
  }

  ion-text {
    display: block;
  }

  .flow-icon-buttons {
    ion-button {

      --padding-bottom: 0px;
      --padding-end: 0px;
      --padding-start: 0px;
      --padding-top: 0px;
    }

  }

  ion-card.flow-profile {
    margin: 0px;

    ion-card-header {
      color: var(--beanconqueror-text-color);
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      padding: 2px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      min-height:50px;
      height:50px;
      font-weight:bold;
      .smartScaleRatio {
        font-size:16px;
      }
    }
    @media (min-width: 750px) and (min-height: 750px) {
      ion-card-header {
        height:90px;
        font-size:30px;
        .smartScaleRatio {
          font-size:30px;
        }
      }
    }
    @media (max-width: 480px) {
      ion-card-header {
        min-height:75px;
        height:75px;
      }
    }

    .information-tile-no-overflow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ion-card-content {
      color: #000000;
      padding: 0px 2px;

      ion-icon {
        font-size: 20px;
      }
    }

  }

  ion-card.flow-profile.temperature-card {
    ion-card-header {
      background-color: #CC3311 !important;
    }

    ion-icon {
      color: #CC3311 !important;
    }
  }

  ion-card.flow-profile.pressure-card {
    ion-card-header {
      background-color: #05C793 !important;
    }

    ion-icon {
      color: #05C793 !important;
    }

    ion-icon>div.icon-inner>svg.s-ion-icon>g {
      fill: #05C793 !important;
    }
  }

  ion-card.flow-profile.flow-card {
    ion-card-header {
      background-color: #09485D !important;
    }

    ion-icon {
      color: #09485D !important;
    }
  }

  ion-card.flow-profile.flow-avg-card {
    ion-card-header {
      background-color: #7F97A2 !important;
    }

    ion-icon {
      color: #7F97A2 !important;
    }
  }

  ion-card.flow-profile.weight-card {
    ion-card-header {
      background-color: #cdc2ac !important;
    }

    ion-icon {
      color: #cdc2ac !important;
    }
  }

}
