<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT_MILL" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin-horizontal popover">
    <form #editMillForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">{{"NAME" | translate}}*</ion-label>
        <ion-input [(ngModel)]="data.name" name="name" type="text" #name="ngModel" spellcheck="false"
                   autocapitalize="sentences" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{"NOTES" | translate}}</ion-label>
        <ion-textarea #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                      autocorrect="true" name="note" rows="5" spellcheck="true"></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CANCEL" | translate}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="editMill(editMillForm)" expand="block" type="submit">{{"SAVE" | translate}}</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </div>
</ion-content>
