<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #editMillForm="ngForm" novalidate>
    <ion-item>
      <ion-label floating>{{"NAME" | translate}}*</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" type="text" #name="ngModel" spellcheck="false"
                 autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"NOTES" | translate}}</ion-label>
      <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true" name="note" #note="ngModel" rows="5"  [(ngModel)]="data.note"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CANCEL" | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="editMill(editMillForm)" expand="block" type="submit">{{"SAVE" | translate}}</ion-button>
      </ion-col>

    </ion-row>
  </form>
</ion-content>
