<ion-list>
  <ion-item (click)="choose(getStaticActions().POST)" button>
    <ion-icon name="md-clipboard" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_POST" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().REPEAT)" button>
    <ion-icon name="md-repeat" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_REPEAT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().DETAIL)" button>
    <ion-icon name="list" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_DETAIL" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().EDIT)" button>
    <ion-icon name="md-create" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_EDIT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().DELETE)" button>
    <ion-icon name="trash" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_DELETE" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().PHOTO_GALLERY)" [disabled]="!hasPhotos()" button>
    <ion-icon name="md-eye" slot="start"></ion-icon>
    <span>{{"POPOVER_BREWS_OPTION_PHOTO_GALLERY" | translate}}</span>
  </ion-item>
</ion-list>

