
<ion-card class="ion-padding">
  <ion-title class="ion-no-padding">{{"SPLUNK_SETTINGS" | translate  }}</ion-title>
  <ion-item tappable>
    <ion-label>{{"SPLUNK_HEC_ENDPOINT" | translate}}</ion-label>
    <ion-input #processing="ngModel" [(ngModel)]="data.splunk_parameters.hec_endpoint"
               name="hec_endpoint" placeholder="https://yourserver.com:8088" spellcheck="false" type="text">
    </ion-input>
    <!--ion-checkbox (ngModelChange)="triggerChanges($event)" [(ngModel)]="data.splunk_parameters.hec_endpoint"></ion-checkbox-->
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"SPLUNK_HEC_TOKEN" | translate}}</ion-label>
    <ion-input #processing="ngModel" [(ngModel)]="data.splunk_parameters.hec_token"
               name="hec_token" placeholder="AAAAAAAA-BBBB-CCCC-DDDDDDDD" spellcheck="false" type="text">
    </ion-input>
    <ion-button (click)="save()" color="accent" disable-double-click expand="block" tappable
                type="submit">{{"SAVE" | translate}}</ion-button>
  </ion-item>
</ion-card>
