<ion-header translucent>
</ion-header>
<ion-content>
  <!--Div element is needed, else you can't scroll -->
  <div>
  <ion-item lines="none" class="ion-no-margin">
    <span class="ion-title ion-padding-top">{{"PRESET_BREW_TITLE" | translate }}</span>
  </ion-item>

  <ion-item  *ngFor="let prep of preparationMethods;let last = last" detail="true" (click)="choosePreparation(prep)" lines="{{last?'none':''}}" tappable>
    {{prep.name}}<span style='font-size: 12px; margin-top: 2px;'>&nbsp;({{"LAST_USE" | translate}}:
    <span  *ngIf="getBrewsCount(prep)> 0">{{lastUsed(prep) | formatDate:[settings?.date_format]}}</span>
    <span *ngIf="getBrewsCount(prep) <= 0">-</span>)
  </span>
  </ion-item>
  </div>
</ion-content>
