<ion-header translucent>
</ion-header>
<ion-content>
  <!--Div element is needed, else you can't scroll -->
  <div>
  <ion-item lines="none" class="ion-no-margin">
    <span class="ion-title ion-padding-top">{{"PRESET_BREW_TITLE" | translate }}</span>
  </ion-item>

  @for(prep of preparationMethods; track prep.config.uuid; let last = $last) {
    <ion-item detail="true" (click)="choosePreparation(prep)" lines="{{last?'none':''}}" tappable>
      @if(prep.hasDeviceConnection()) {
        <ion-icon style="position: relative;margin-right:5px;" name="wifi-outline"></ion-icon>
      }
      {{prep.name}}<span style='font-size: 12px; margin-top: 2px;'>&nbsp;({{"LAST_USE" | translate}}:
      @if(getBrewsCount(prep)> 0) {
        <span>{{lastUsed(prep) | formatDate:[settings?.date_format]}}</span>
      } @else {
        <span>-</span>
      }
      )
    </span>
    </ion-item>
  }
  </div>
</ion-content>
