<ion-header translucent>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="ion-margin-top">
    <ion-label position="stacked">{{"NAME" | translate}}*</ion-label>
    <ion-input #name="ngModel" [(ngModel)]="data.name" name="name"
               placeholder="{{'ROASTING_MACHINE.PLACE_HOLDER.NAME' | translate}}" spellcheck="false" type="text"
               autocapitalize="sentences" required>
    </ion-input>
  </ion-item>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="add()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
