:host {

  ion-item.active {
    border: 1px solid var(--ion-color-accent-secondary);
  }
  ion-item {
    border-radius: 10px;
    --background: var(--ion-color-list);
    border: 1px solid var(--ion-color-accent-contrast);

    ion-icon{
      padding-left: 16px;
      margin-right: 8px;
    }
  }
  ion-header {
    height:40px;
    background-color: var(--ion-color-light);
  }
}
