:host {

  ion-item.active {
    border: 1px solid var(--ion-color-accent-secondary);
  }
  ion-item {
    border-radius: 10px;
    --background: var(--app-item-background);
    color: var(--app-text);

    ion-icon{
      padding-left: 16px;
      margin-right: 8px;
      color: var(--app-text);
    }
  }
  ion-header {
    height:40px;
    background-color: var(--app-card-background);
  }
}
