<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT_BREW" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngIf="showSectionBeforeBrew()" class="ion-margin-horizontal popover"
            style="display:flex; flex-direction: column;">


      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"BREW_HEADER_BEFORE_BREW" | translate }}</span>
      </ion-item>
      <ion-item *ngIf="settings.grind_size === true" [style.order]="settings.brew_order.before.grind_size"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_GRIND_SIZE" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.grind_size" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_SIZE' | translate}}"
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="settings.grind_weight === true" [style.order]="settings.brew_order.before.grind_weight"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_GRIND_WEIGHT" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.grind_weight" inputmode="decimal"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_WEIGHT' | translate}}" prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="settings.brew_temperature === true" [style.order]="settings.brew_order.before.brew_temperature"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_BREW_TEMPERATURE" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.brew_temperature"
                   inputmode="decimal"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_TEMPERATURE' | translate}}"
                   prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
      </ion-item>


      <ion-item *ngIf="settings.method_of_preparation === true" lines="inset"
                [style.order]="settings.brew_order.before.method_of_preparation">
        <ion-label position="stacked">{{"BREW_DATA_PREPARATION_METHOD" | translate}}</ion-label>
        <ion-select [(ngModel)]="data.method_of_preparation"
                    placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}" preparation-overlay
                    [show-finished]="true">
        </ion-select>
      </ion-item>
      <ion-item *ngIf="settings.bean_type === true" [style.order]="settings.brew_order.before.bean_type" lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_BEAN_TYPE" | translate}}</ion-label>
        <ion-select [(ngModel)]="data.bean" bean-overlay
                    [show-finished]="true" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BEAN_TYPE' | translate}}">
        </ion-select>
      </ion-item>
      <ion-item *ngIf="settings.mill === true" [style.order]="settings.brew_order.before.mill" lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_MILL" | translate}}</ion-label>
        <ion-select [(ngModel)]="data.mill" mill-overlay
                    [show-finished]="true" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL' | translate}}">
        </ion-select>
      </ion-item>
      <ion-item *ngIf="settings.mill_speed === true" [style.order]="settings.brew_order.before.mill_speed"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_MILL_SPEED" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.mill_speed" inputmode="decimal"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL_SPEED' | translate}}" prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="settings.mill_timer === true" [style.order]="settings.brew_order.before.mill_timer"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_MILL_TIMER" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.mill_timer" inputmode="decimal"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL_TIMER' | translate}}" prevent-characters
                   remove-empty-number
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="settings.pressure_profile === true" [style.order]="settings.brew_order.before.pressure_profile"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_PRESSURE_PROFILE" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.pressure_profile"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PRESSURE_PROFILE' | translate}}" type="text"></ion-input>
      </ion-item>
    <div class="last-item"></div>
  </ion-card>

  <ion-card  *ngIf="showSectionWhileBrew()" class="ion-margin-horizontal popover"
            style="display:flex; flex-direction: column;">

    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_WHILE_BREW" | translate }}</span>
    </ion-item>
    <ion-item *ngIf="settings.brew_temperature_time === true" [style.order]="settings.brew_order.while.brew_temperature_time"
              lines="inset">
      <ion-label position="stacked">{{'BREW_DATA_TEMPERATURE_TIME' | translate}}</ion-label>
      <ion-input [(ngModel)]="data.brew_temperature_time" inputmode="decimal" prevent-characters remove-empty-number
                 type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.brew_time === true" [style.order]="settings.brew_order.while.brew_time" lines="inset">
      <ion-label position="stacked">{{'BREW_DATA_TIME' | translate}}</ion-label>
      <ion-datetime (ngModelChange)="changeDate($event)" [(ngModel)]="displayingBrewTime" displayFormat="H:mm:ss" mode="ios"></ion-datetime>
     <!-- <ion-input [(ngModel)]="data.brew_time" inputmode="decimal" prevent-characters remove-empty-number
                 type="text"></ion-input>-->
    </ion-item>

    <ion-item *ngIf="settings.brew_time === true" [style.order]="settings.brew_order.while.brew_time"
              lines="inset" lines="full">
      <ion-label>
        {{'BREW_DATA_CALCULATED_COFFEE_BREW_TIME' | translate}}: {{data.getFormattedCoffeeBrewTime()}}
      </ion-label>
    </ion-item>

    <ion-item *ngIf="settings.coffee_blooming_time === true" [style.order]="settings.brew_order.while.coffee_blooming_time"
              lines="inset">
      <ion-label position="stacked">{{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}</ion-label>
      <ion-input [(ngModel)]="data.coffee_blooming_time" inputmode="decimal"
                 placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_BLOOMING_TIME' | translate}}" prevent-characters
                 remove-empty-number
                 type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.coffee_first_drip_time === true" [style.order]="settings.brew_order.while.coffee_first_drip_time"
              lines="inset">
      <ion-label position="stacked">{{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}</ion-label>
      <ion-input [(ngModel)]="data.coffee_first_drip_time" inputmode="decimal"
                 placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_FIRST_DRIP_TIME' | translate}}" prevent-characters
                 remove-empty-number
                 type="text"></ion-input>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="showSectionAfterBrew()" class="ion-margin-horizontal popover"
            style="display:flex; flex-direction: column;">

      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"BREW_HEADER_AFTER_BREW" | translate }}</span>
      </ion-item>
      <ion-item *ngIf="settings.brew_quantity === true && getPreparation().style_type === PREPARATION_STYLE_TYPE.POUR_OVER" [style.order]="settings.brew_order.after.brew_quantity" lines="inset">
        <ion-row style="width:100%">
          <ion-col class="ion-no-padding" size="8">
            <ion-item class="ion-no-margin-important">
              <ion-label position="stacked">{{"BREW_DATA_BREW_QUANTITY" | translate}}</ion-label>
              <ion-input [(ngModel)]="data.brew_quantity" inputmode="decimal"
                         placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_QUANTITY' | translate}}" prevent-characters
                         remove-empty-number
                         type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding ion-align-self-end" size="4">
            <ion-item class="ion-no-margin-important">
              <ion-select #brewQuantityType="ngModel" [(ngModel)]="data.brew_quantity_type"
                          cancelText="{{'CANCEL'| translate }}" name="brewQuantityType"
                          okText="{{'CHOOSE'| translate }}"
                          style="max-width:100%;">
                <ion-select-option *ngFor="let key of brewQuantityTypeEnums | keys" value="{{key}}">
                  {{brewQuantityTypeEnums[key]}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="settings.coffee_type === true" [style.order]="settings.brew_order.after.coffee_type"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_COFFEE_TYPE" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.coffee_type"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_TYPE' | translate}}" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="settings.coffee_concentration === true" [style.order]="settings.brew_order.after.coffee_concentration"
                lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.coffee_concentration"
                   placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_CONCENTRATION' | translate}}"
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="settings.rating === true" [style.order]="settings.brew_order.after.rating" lines="inset">
        <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
          style="vertical-align: top;">{{data.rating}}</ion-badge>
        </ion-label>
        <ion-range [(ngModel)]="data.rating" debounce="500s" max="5" min="-1" snaps="true" step="1">

          <ion-icon [name]="data.getRatingIcon()" size="large" slot="end"></ion-icon>
        </ion-range>


      </ion-item>
      <ion-item  *ngIf="settings.note === true" [style.order]="settings.brew_order.after.note" lines="inset">
        <ion-label position="stacked">{{"BREW_DATA_NOTES" | translate }}</ion-label>
        <ion-textarea [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true" autocorrect="true"
                      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_NOTES' | translate}}"
                      rows="5"
                      spellcheck="true"></ion-textarea>
      </ion-item>

    <ion-item *ngIf="settings.brew_beverage_quantity === true" [style.order]="settings.brew_order.after.brew_beverage_quantity" lines="inset">
      <ion-row  style="width:100%">
        <ion-col class="ion-no-padding" size="8">
          <ion-item class="ion-no-margin-important">
            <ion-label position="stacked">{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate}}</ion-label>
            <ion-input [(ngModel)]="data.brew_beverage_quantity" inputmode="decimal"
                       placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_BEVERAGE_QUANTITY' | translate}}" prevent-characters
                       remove-empty-number
                       type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding ion-align-self-end" size="4">
          <ion-item class="ion-no-margin-important">
            <ion-select #brewBeverageQuantityType="ngModel" [(ngModel)]="data.brew_beverage_quantity_type"
                        cancelText="{{'CANCEL'| translate }}" name="brewQuantityType"
                        okText="{{'CHOOSE'| translate }}"
                        style="max-width:100%;">
              <ion-select-option *ngFor="let key of brewQuantityTypeEnums | keys" value="{{key}}">
                {{brewQuantityTypeEnums[key]}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="settings.tds === true" [style.order]="settings.brew_order.after.tds"
              lines="inset">
      <ion-label position="stacked">{{"BREW_DATA_TDS" | translate}}</ion-label>
      <ion-input [(ngModel)]="data.tds" inputmode="decimal"
                 placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_TDS' | translate}}" prevent-characters
                 remove-empty-number
                 type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.tds === true && settings.grind_weight === true && settings.brew_quantity === true"
              [style.order]="settings.brew_order.after.tds" lines="inset">
      <ion-label>
        {{'BREW_DATA_CALCULATED_EXTRACTION_YIELD' | translate}}: {{data.getExtractionYield()}}
      </ion-label>
    </ion-item>
      <ion-item *ngIf="settings.set_custom_brew_time" [style.order]="settings.brew_order.after.set_custom_brew_time"
                lines="inset">
        <ion-label position="stacked">{{"BREW_CREATION_DATE" | translate }}</ion-label>
        <ion-datetime (click)="chooseDateTime($event);" [(ngModel)]="customCreationDate" cancelText="{{'CANCEL' | translate}}" display-format="DD.MM.YYYY HH:mm" doneText="{{'CHOOSE' | translate}}" mode="ios"
                      picker-format="DD.MM.YYYY HH:mm"
                      placeholder="Select Date"></ion-datetime>
      </ion-item>
      <div *ngIf="settings.attachments" [style.order]="settings.brew_order.after.attachments" lines="inset">
        <ion-item (click)="addImage()" button tappable>
          {{"ADD_PHOTO" | translate}}
        </ion-item>
        <div *ngIf="data?.attachments && data.attachments.length > 0">
          <ion-slides #photoSlides pager="true">
            <ion-slide *ngFor="let attachment of data.attachments;let i = index">
              <ion-button (click)="deleteImage(i)" class="position-absolute-button"
                          color="accent">{{"DELETE" | translate }}</ion-button>
              <async-image class="brew-image" filePath="{{attachment}}"></async-image>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    <div class="last-item"></div>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="updateBrew()" color="accent" expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

