:host {
  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  ion-card {
    div.last-item {
      margin-bottom: 16px;
      /*Last one*/
      order: 10000;
    }
  }
}
