<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT_BREW" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="confirmDismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ng-container *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.hasAPreparationDeviceSet()'>
        <ng-container *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.getDataPreparationDeviceType() === PreparationDeviceType.METICULOUS'>
          <ion-chip outline='true' class='machine-connected' *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-meticulous-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          </ion-chip>
          <ion-chip outline='true' class='machine-disconnected' *ngIf='!brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-meticulous-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
          </ion-chip>
        </ng-container>
        <ng-container *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.getDataPreparationDeviceType() === PreparationDeviceType.SANREMO_YOU'>
          <ion-chip outline='true' class='machine-connected' *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          </ion-chip>
          <ion-chip outline='true' class='machine-disconnected' *ngIf='!brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
          </ion-chip>
        </ng-container>
        <ng-container *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.getDataPreparationDeviceType() === PreparationDeviceType.XENIA'>
          <ion-chip outline='true' class='machine-connected' *ngIf='brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-xenia-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          </ion-chip>
          <ion-chip outline='true' class='machine-disconnected' *ngIf='!brewBrewing?.brewBrewingPreparationDeviceEl?.preparationDeviceConnected()'>
            <ion-icon name="beanconqueror-xenia-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
          </ion-chip>
        </ng-container>
      </ng-container>
      <ion-button (click)="tareScale()" *ngIf="smartScaleConnected() && smartScaleSupportsTaring()"  class="big-icon-only" fill="clear"  tappable>
        <ion-icon name="beanconqueror-scale-tare" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        (click)="popoverActionsBrew()" tappable>
        <ion-icon name="beanconqueror-dots" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <brew-brewing [isEdit]="true" #brewBrewing [(data)]="data"></brew-brewing>
</ion-content>

<ion-footer *ngIf="showFooter" class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="confirmDismiss()" color="accent" expand="block" fill="outline" tappable>{{"CANCEL" |
        translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="updateBrew()" color="accent" expand="block" tappable type="submit">{{"SAVE" |
        translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
