<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app needs photo library access, so that you can choose from already taken pictures from coffee beans, coffee bags, your own coffee brews etc. This pictures are stored inside the app.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Blutooth access needed to connect smartscales, pressure devices, thermo devices or refractometer. With this these data to each coffee brew can be logged.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Blutooth access needed to connect smartscales, pressure devices, thermo devices or refractometer. With this these data to each coffee brew can be logged.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>App needs read access to see the caffeinate amount which was tracked with this coffee app</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App needs read access to see the caffeinate amount which was tracked with this coffee app</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The app needs photo library access, so that you can choose from already taken pictures from coffee beans, coffee bags, your own coffee brews etc. This pictures are stored inside the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used when enabled in settings, default off. Used for track your location where you brewed your coffee.</string>
	<key>NSCameraUsageDescription</key>
	<string>The app needs camera access, so that you can take pictures from coffee beans, coffee bags, your own coffee brews etc. This pictures are stored inside the app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is used when enabled in settings, default off. Used for track your location where you brewed your coffee.</string>
</dict>
</plist>
