<ion-header>
  <ion-toolbar>
    <ion-title>{{"EDIT_PREPARATION_CUSTOM_PARAMETERS" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
    <ion-item lines="none">
      <ion-label>{{"ENABLE_PREPARATION_CUSTOM_PARAMETERS" | translate}}</ion-label>
      <ion-checkbox (ionChange)="save()" [(ngModel)]="data.use_custom_parameters" ></ion-checkbox>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <div *ngIf="data.use_custom_parameters">
  <ion-segment [(ngModel)]="segment" >
    <ion-segment-button value="manage">
      <ion-label>{{"CUSTOM_MANAGE_PARAMETERS" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="default">
      <ion-label>{{"CUSTOM_DEFAULT_PARAMETERS" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sort">
      <ion-label>{{"CUSTOM_SORT_PARAMETERS" | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'manage'">
      <manage-custom-parameter [data]="data"></manage-custom-parameter>
    </ion-card>
    <ion-card *ngSwitchCase="'default'">
     <default-custom-parameter [data]="data"></default-custom-parameter>
    </ion-card>
    <ion-card *ngSwitchCase="'sort'">
      <sort-custom-parameter [data]="data"></sort-custom-parameter>
    </ion-card>
  </div>
  </div>
</ion-content>
