<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"CONTACT" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      {{"PAGE_CONTACT_SUGGESTIONS_QUESTIONS_WISHES" | translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-item tappable button (click)="openWebsite()">

        <ion-icon name="beanconqueror-website" slot="start"></ion-icon>
        <span>{{"WEBSITE" | translate}}</span>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item tappable button (click)="openGithub()">

          <ion-icon name="logo-github" slot="start"></ion-icon>
          <span>Github</span>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>


    </ion-card-content>
  </ion-card>
</ion-content>
