<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"CONTACT" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      {{"PAGE_CONTACT_SUGGESTIONS_QUESTIONS_WISHES" | translate}}
    </ion-card-header>
    <ion-card-content>
      <div><a href="https://github.com/graphefruit/Beanconqueror" (click)="openLink($event,'https://github.com/graphefruit/Beanconqueror')">https://github.com/graphefruit/Beanconqueror</a></div>
    </ion-card-content>
  </ion-card>
</ion-content>
