:host {
  .slider {
    min-height: 100%;
    background-color: #eee;
  }


  ion-icon {
    width: 100%;
    height: 100%;
  }

  .welcome-bubble {
    width: 173px;
    height: 173px;
    background: var(--beanconqueror-background-highlight-color) 0% 0% no-repeat padding-box;
    /* opacity: 0.49; */
    border-radius: 100px;
    position: absolute;
    left: calc(50% - 87px);
    top: 0;
  }

  ion-title {
    padding: 0px;
  }

  .welcome-content-text {
    text-align: left;
    padding-inline-start: var(--padding-start, 16px);
    padding-inline-end: var(--padding-end, 16px);
  }

  ion-header, ion-content, ion-footer{
    background:#ffffff;
    --background:#ffffff;
  }
}
