<ion-header>
  <ion-title *ngIf="slide ===1" class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_TITLE" | translate}}</ion-title>
  <ion-title *ngIf="slide ===2"
             class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_BEAN_HEADLINE" | translate}}</ion-title>
  <ion-title *ngIf="slide ===3"
             class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_PREPARATION_HEADLINE" | translate}}</ion-title>
  <ion-title *ngIf="slide === 4"
             class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_MILL_HEADLINE" | translate}}</ion-title>
  <ion-title *ngIf="slide === 5"
             class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_LETS_START_HEADLINE" | translate}}</ion-title>

</ion-header>
<ion-content>

  <div *ngIf="slide === 1" class="ion-text-center" style="padding-top:35px;height:100%;position:relative;">
    <ion-icon name="beanconqueror-welcome-start"></ion-icon>
  </div>
  <div *ngIf="slide === 2" class="ion-text-center" style="padding-top:35px;height:100%;position:relative;">
    <ion-icon name="beanconqueror-welcome-bean-package"></ion-icon>
  </div>
  <div *ngIf="slide === 3" class="ion-text-center" style="padding-top:35px;height:100%;position:relative;">
    <ion-icon name="beanconqueror-welcome-preparation"></ion-icon>
  </div>
  <div *ngIf="slide === 4" class="ion-text-center" style="padding-top:35px;height:100%;position:relative;">
    <ion-icon name="beanconqueror-welcome-grinder"></ion-icon>
  </div>
  <div *ngIf="slide === 5" class="ion-text-center" style="padding-top:35px;height:100%;position:relative;">
    <ion-icon name="beanconqueror-welcome-start-last-page"></ion-icon>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="ion-padding-horizontal">
    <ion-slides #slider [options]="slideOpts" pager="true">
      <ion-slide>
        <div>
          <div class="welcome-content-text">
            <ion-title>
              {{"WELCOME_PAGE_ACTIVATE_GOOGLE_ANALYTICS_TITLE" | translate}}
            </ion-title>
            <div>
              {{"WELCOME_PAGE_ACTIVATE_GOOGLE_ANALYTICS_DESCRIPTION" | translate}}
            </div>
          </div>
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button (click)="activeGoogleAnalytics(true)" color="accent"
                          expand="block">{{"ACTIVATE" | translate}}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="activeGoogleAnalytics(false)" color="dark" expand="block"
                          fill="clear">{{"SKIP" | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding-top">
          <div class="welcome-content-text">
            <ion-title>
              {{"WELCOME_PAGE_BEAN_TITLE" | translate}}
            </ion-title>
            <div>
              {{"WELCOME_PAGE_BEAN_DESCRIPTION" | translate}}
            </div>
          </div>
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button (click)="addBean()" color="accent"
                          expand="block">{{"WELCOME_PAGE_BEAN_ADD" | translate}}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="skip()" color="dark" expand="block"
                          fill="clear">{{"SKIP" | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding-top">
          <div class="welcome-content-text">
            <ion-title>
              {{"WELCOME_PAGE_PREPARATION_TITLE" | translate}}
            </ion-title>
            <div>
              {{"WELCOME_PAGE_PREPARATION_DESCRIPTION" | translate}}
            </div>
          </div>
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button (click)="addPreparation()" color="accent"
                          expand="block">{{"WELCOME_PAGE_PREPARATION_ADD" | translate}}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="skip()" color="dark" expand="block"
                          fill="clear">{{"SKIP" | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding-top">
          <div class="welcome-content-text">
            <ion-title>
              {{"WELCOME_PAGE_MILL_TITLE" | translate}}
            </ion-title>
            <div>
              {{"WELCOME_PAGE_MILL_DESCRIPTION" | translate}}
            </div>
          </div>
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button (click)="addMill()" color="accent"
                          expand="block">{{"WELCOME_PAGE_MILL_ADD" | translate}}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="skip()" color="dark" expand="block"
                          fill="clear">{{"SKIP" | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding-top">
          <div class="welcome-content-text">
            <ion-title>
              {{"WELCOME_PAGE_LETS_START_TITLE" | translate}}
            </ion-title>
            <div>
              {{"WELCOME_PAGE_LETS_START_DESCRIPTION" | translate}}
            </div>
          </div>
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button (click)="finish()" class="big-icon-96-only" fill="clear" tappable>
                <ion-icon  name="beanconqueror-next" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-footer>
