<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_BEAN_PARAMS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-padding">
    <ion-card-title>{{"BEAN_PARAMETER_CUSTOMIZE_TITLE" | translate}}</ion-card-title>
    <ion-card-content class="ion-no-padding">
      {{"BEAN_PARAMETER_CUSTOMIZE_DESCRIPTION" | translate}}
    </ion-card-content>
  </ion-card>
  <ion-card (click)="openManageParameters()" tappable>
    <ion-item class="ion-padding-horizontal" lines="none">
      <ion-icon name="beanconqueror-manage-parameter" slot="start"></ion-icon>
      {{"NAV_MANAGE_PARAMETERS" | translate}}
    </ion-item>
  </ion-card>
  <ion-card (click)="openListViewParameters()" tappable>
    <ion-item class="ion-padding-horizontal" lines="none">
      <ion-icon name="beanconqueror-list-view-parameter" slot="start"></ion-icon>
      {{"NAV_LIST_VIEW_CUSTOM_PARAMETERS" | translate}}
    </ion-item>
  </ion-card>


</ion-content>
