:host {
  ion-header {
    height:40px;
    background-color: var(--ion-color-light);
  }
  ion-item.active {
    border: 1px solid var(--ion-color-accent-secondary);
  }
  ion-item {
    border-radius: 10px;
    --background: var(--ion-item-sort-background);
    border: 1px solid var(--ion-color-accent);

    ion-icon{
      padding-left: 16px;
      margin-right: 8px;
    }
  }

}


