<ion-header translucent>
</ion-header>
<ion-content>
  <ion-item lines="inset">
    <ion-label position="stacked">{{"BREW_BRIX_CALCULATION" | translate}}</ion-label>
    <ion-input [(ngModel)]="brix" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_SIZE' | translate}}"
               type="text"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setBrix()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"SET_TDS" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
