<ion-header translucent>

</ion-header>
<ion-content>
  <ion-list class="ion-no-padding">
    <ion-list-header>
      <ion-item style="width: 100%;margin-left: 0px;--background: #ffffff;" class="ion-margin-top" lines="none" tappable>
        {{"SORT_ORDER" | translate}}
      </ion-item>
    </ion-list-header>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-item (click)="setSortOrder(beanSortOrderEnum.ASCENDING)" [class.active]="isOrderActive(beanSortOrderEnum.ASCENDING)" lines="none" tappable>
            <ion-icon name="beanconqueror-order-asc" slot="start"></ion-icon>
            <ion-label>{{"ASCENDING" | translate}}</ion-label>
          </ion-item>

        </ion-col>
        <ion-col size="6">
          <ion-item (click)="setSortOrder(beanSortOrderEnum.DESCENDING)" [class.active]="isOrderActive(beanSortOrderEnum.DESCENDING)" lines="none" tappable>
            <ion-icon  name="beanconqueror-order-desc" slot="start"></ion-icon>
            <ion-label>{{"DESCENDING" | translate}}</ion-label>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list-header>
      <ion-item  style="width: 100%;margin-left: 0px;--background: #ffffff;" class="ion-margin-top" lines="none" tappable>
        {{"SORT_AFTER" | translate}}
      </ion-item>
    </ion-list-header>
    <ion-item (click)="setSortAfter(beanSortAfterEnum.NAME)" [class.active]="isSortActive(beanSortAfterEnum.NAME)" lines="none" tappable>
      <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
      <ion-label>{{"BEAN_SORT_NAME_OF_BEAN" | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="setSortAfter(beanSortAfterEnum.ROASTER)" [class.active]="isSortActive(beanSortAfterEnum.ROASTER)" class="ion-margin-top" lines="none" tappable>
      <ion-icon name="beanconqueror-person" slot="start"></ion-icon>
      <ion-label>{{"BEAN_SORT_ROASTER" | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="setSortAfter(beanSortAfterEnum.ROASTING_DATE)" [class.active]="isSortActive(beanSortAfterEnum.ROASTING_DATE)" class="ion-margin-top" lines="none" tappable>
      <ion-icon name="beanconqueror-clock" slot="start"></ion-icon>
      <ion-label>{{"BEAN_SORT_ROASTING_DATE" | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="setSortAfter(beanSortAfterEnum.RATING)" [class.active]="isSortActive(beanSortAfterEnum.RATING)" class="ion-margin-top" lines="none" tappable>
      <ion-icon name="beanconqueror-brew-rating-empty" slot="start"></ion-icon>
      <ion-label>{{"BREW_DATA_RATING" | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="setSortAfter(beanSortAfterEnum.BEAN_AGE)" [class.active]="isSortActive(beanSortAfterEnum.BEAN_AGE)" class="ion-margin-top" lines="none" tappable>
      <ion-icon name="beanconqueror-clock" slot="start"></ion-icon>
      <ion-label>{{"BEAN_SORT_BEAN_AGE" | translate}}</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-item  style="width: 100%;margin-left: 0px;--background: #ffffff;" (click)="toggleExtendSort()" class="ion-margin-top" lines="none" tappable>
        {{"EXTEND_SORT_AFTER" | translate}}
        <ion-icon *ngIf="extendedSortActive!= true" name="chevron-down-outline" slot="end"></ion-icon>
        <ion-icon *ngIf="extendedSortActive === true" name="chevron-up-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list-header>
    <ng-container *ngIf="extendedSortActive">
      <ion-item (click)="setSortAfter(beanSortAfterEnum.BEAN_ROASTING_TYPE)" [class.active]="isSortActive(beanSortAfterEnum.BEAN_ROASTING_TYPE)" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_BEAN_ROASTING_TYPE" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.WEIGHT)" [class.active]="isSortActive(beanSortAfterEnum.WEIGHT)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_WEIGHT" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.AROMATICS)" [class.active]="isSortActive(beanSortAfterEnum.AROMATICS)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_AROMATICS" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.INFORMATION_COUNTRY)" [class.active]="isSortActive(beanSortAfterEnum.INFORMATION_COUNTRY)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_INFORMATION_COUNTRY" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.INFORMATION_REGION)" [class.active]="isSortActive(beanSortAfterEnum.INFORMATION_REGION)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_INFORMATION_REGION" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.INFORMATION_VARIETY)" [class.active]="isSortActive(beanSortAfterEnum.INFORMATION_VARIETY)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_INFORMATION_VARIETY" | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="setSortAfter(beanSortAfterEnum.INFORMATION_PROCESSING)" [class.active]="isSortActive(beanSortAfterEnum.INFORMATION_PROCESSING)" class="ion-margin-top" lines="none" tappable>
        <ion-icon  name="beanconqueror-filter-aa" slot="start"></ion-icon>
        <ion-label>{{"BEAN_SORT_INFORMATION_PROCESSING" | translate}}</ion-label>
      </ion-item>
    </ng-container>

  </ion-list>
  <ion-list class="ion-no-padding ion-padding-top">

      <ion-button class="ion-margin-horizontal" (click)="useFilter()" color="accent" expand="block" tappable
                  type="submit">{{"USE_FILTER" | translate}}</ion-button>


      <ion-button class="ion-margin-horizontal" (click)="resetFilter()" color="dark" expand="block" fill="clear"
                  tappable>{{"RESET_FILTER" | translate}}</ion-button>

  </ion-list>

</ion-content>
