<ion-header>
  <app-header [title]="'BACK' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>
  @if (data?.attachments && data.attachments.length > 0) {
    <div>
      <swiper-container  class='swiper'  [pagination]="{ clickable: true, dragable:true }"   #photoSlides pager="true">
        @for (attachment of data.attachments; track attachment; let i = $index) {
          <swiper-slide>
            <async-image class="brew-image" filePath="{{attachment}}"></async-image>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  }
</ion-content>
