:host {

  ion-card {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background: var(--app-card-background);
    color: var(--app-text);

    ion-card-content {
      padding: 8px;
      padding-bottom: 0px;
      padding-top: var(--padding-top);
      background: var(--app-card-background);
    }
  }

  .full-sized-icon {
    width: 100%;
    height: 100%;
    max-height:120px!important;
  }

  // Overwrite
  .button-top-absolute {
    position: absolute;
    top: -20px;
    right: -20px;
    min-height: 20px;
    ion-icon{
      font-size: 18px!important;
      width: 18px!important;
      height: 18px!important;
      color: var(--app-text);
    }
  }

  .no-ion-col-vertical-padding {
    ion-col {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

  }
  ion-text {
    position: relative;
    top: -5px;
    color: var(--app-text);
  }
  ::ng-deep img {
    width: 100%;
    max-height: 140px;
    height: auto;
    display: block;
    object-fit: cover;
  }

}
