<ion-header>
  <app-header [title]="'NAV_ROASTING_MACHINE' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="add()" />
  </app-header>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" class="ion-padding-vertical" style="padding-top:0px;">
    <ion-segment-button value="open">
      <ion-label>{{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (settings?.show_archived_mills) {
      <ion-segment-button value="archive">
        <ion-label>{{"TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>
  <div>
    @switch (segment) {
      @case ('open') {
        <div>
          @if (getActiveRoastingMachines()?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_ROASTING_MACHINE_LIST_NO_MACHINES_EXISTING" | translate}}
              </div>
            </div>
          }
          @for (roastingMachine of getActiveRoastingMachines(); track roastingMachine) {
            <div>
              <roasting-machine-information-card (roastingMachineAction)="roastingMachineAction($event[0],$event[1])" [roastingMachine]="roastingMachine"></roasting-machine-information-card>
            </div>
          }
        </div>
      }
      @case ('archive') {
        <div>
          @if (getArchivedMRoastingMachines()?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_ROASTING_MACHINE_LIST_NO_ARCHIVED_MACHINES_EXISTING" | translate}}
              </div>
            </div>
          }
          @for (roastingMachine of getArchivedMRoastingMachines(); track roastingMachine) {
            <div>
              <roasting-machine-information-card (roastingMachineAction)="roastingMachineAction($event[0],$event[1])" [roastingMachine]="roastingMachine"></roasting-machine-information-card>
            </div>
          }
        </div>
      }
    }
  </div>


</ion-content>
