<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" style="box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.13);padding-top: 12px;">
      <ion-tab-button tab="dashboard" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-bean"></ion-icon>
        <ion-label>{{"ROASTING_SECTION.NAV_GREEN_BEANS" | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="roasting-machine" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-coffee-roaster"></ion-icon>
        <ion-label>{{"ROASTING_SECTION.NAV_ROASTING_MACHINE" | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
