:host {
  height:235px;
  ion-card {
    height:225px;
    ion-card-content {
      padding: 8px;
      padding-bottom: 0px;
      padding-top: var(--padding-top);
    }
  }

  .bean-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  // Overwrite
  .button-top-absolute {
    position: absolute;
    top: -20px;
    right: -20px;
    min-height: 20px;
    ion-icon{
      font-size: 18px!important;
      width: 18px!important;
      height: 18px!important;
    }
  }

  .no-ion-col-vertical-padding {
    ion-col {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

  }
  ion-text {
    position: relative;
    top: -5px;
  }
  ion-text.limit-overflow {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ::ng-deep img {
    width: 100%;
    height: 140px;
    display: block;
    object-fit: contain;
  }

}
