<!--<ion-card class="long-card">
  <ion-card-content>
    <ion-grid class="ion-no-padding icons-black">
      <ion-row class="center-col custom-background-large">
        <ion-col class="ion-justify-content-center" size="2">
          <ion-list lines="none">
            <ion-item class="ion-text-center">
              <ion-label class="ion-no-margin"><h1>{{brewCounts()}}</h1></ion-label>
            </ion-item>
            <ion-item class="ion-text-center">
              <ion-label class="ion-no-margin">{{"NAV_BREWS" | translate}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col class="ion-padding-start" size="8">
          <ion-list lines="none">
            <ion-item *ngIf="bean.roaster">
              <ion-icon name="person-outline"></ion-icon>&nbsp;{{bean.name}}
            </ion-item>
            <ion-item>
              <ion-icon name="thermometer-outline"></ion-icon>&nbsp;{{bean.getRoastName()}}
            </ion-item>
            <ion-item>
              <ion-icon name="calendar-outline"></ion-icon>&nbsp;{{bean.roastingDate | formatDate:["DD.MM.YYYY"]}}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col class="ion-justify-content-center" size="2">
          <ion-button (click)="showBeanActions($event)" color="medium" fill="clear">
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list lines="none">
            <div *ngIf="bean.roaster" size="3">
              <i class="fa fa-balance-scale"></i>&nbsp;{{bean.roaster}}
            </div>
            <div *ngIf="bean.country" size="3">
              <i class="fa fa-thermometer-half "></i>&nbsp;{{bean.country}}
            </div>
            <div *ngIf="bean.cost" size="3">
              <i class="fa fa-th"></i>&nbsp;{{bean.cost}}
            </div>
          </ion-list>
        </ion-col>
        <ion-col size="6">
          <ion-list lines="none">

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>-->


<ion-card class="long-card">
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-color-background-inactive" size="3">
          <div *ngIf="bean.attachments.length === 0" style="margin:0 auto;">
            <ion-icon class="full-sized-icon"
                      name="beanconqueror-bean-package"></ion-icon>
          </div>

          <div (click)="viewPhotos()" *ngIf="bean?.attachments && bean.attachments.length > 0"
               class="small-width-height-50 normal-width-height-100" style="margin:0 auto;" tappable>
            <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
          </div>
        </ion-col>
        <ion-col class="ion-padding-start" size="7">
          <ion-list lines="none" style="width:100%;">
            <ion-item>
              <ion-col class="ion-text-bold" size="12">{{bean?.name}}</ion-col>
            </ion-item>
            <ion-item *ngIf="bean?.weight && settings.grind_weight">
              <ion-col class="ion-text-bold"
                       size="12">{{"BEAN_WEIGHT_ALREADY_USED" | translate: {
                gramUsed: getUsedWeightCount(),
                gramTotal: bean?.weight
              } }}
              </ion-col>
            </ion-item>
            <ion-item *ngIf="bean.roast !== getRoastEnum(roast_enum.UNKNOWN)">
              <ion-col size="6">{{"BEAN_DATA_ROAST_NAME" | translate}}
              </ion-col>
              <ion-col *ngIf="bean.roast === getRoastEnum(roast_enum.CUSTOM_ROAST)" size="6">
                {{bean.roast_custom}}
              </ion-col>
              <ion-col *ngIf="bean.roast !== getRoastEnum(roast_enum.CUSTOM_ROAST)" size="6">
                {{bean.roast}}
              </ion-col>
            </ion-item>
            <ion-item *ngIf="bean?.roastingDate">
              <ion-col size="6">{{"BEAN_DATA_ROASTING_DATE" | translate}}
              </ion-col>
              <ion-col size="6">
                {{bean.roastingDate | formatDate:["DD.MM.YYYY"]}}
              </ion-col>
            </ion-item>
            <ion-item *ngIf="bean?.roaster">
              <ion-col size="6">{{"BEAN_DATA_ROASTER" | translate}}
              </ion-col>
              <ion-col size="6">
                {{bean.roaster}}
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col class="ion-justify-content-center" size="1">
          <ion-button (click)="showBeanActions($event)" class="button-top-absolute"
                      color="accent" fill="clear">
            <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
