:host {
  ion-card-content {
    --ion-background-color: var(--ion-color-light);
  }

  ion-card {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

    ion-card-content {
      padding: 8px;
      padding-bottom: 0px;
      padding-top: var(--padding-top);
    }
  }

  .no-overflow {
    overflow: hidden;
  }

  .no-overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .add-child-margin {
    >*:not(:last-child) {
      margin-right: 5px;
    }
  }

  .center-icons-to-text {
    display: flex;

    ion-icon {
      flex: none;
    }
  }

  .expand-fill-space {
    flex-grow: 1;
    min-width: 0;
  }

  .children-force-newline>* {
    // you can override this for a specific child eg by `clear: none !important;`
    clear: both;
  }

  .hide-if-empty:empty {
    display: none;
  }

  .stacked-info {
    margin-top: -10px;
    padding-left: 0px;
    line-height: normal;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;

    >*:only-child {
      margin-top: 12px;
    }
  }

  .frozen-id-label {
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 4px;
    color: var(--ion-color-medium) !important;

    >* {
      color: inherit !important;
    }

    ion-icon {
      max-width: 0.8rem;
    }
  }

  // Overwrite
  .button-top-absolute {
    position: absolute;
    top: -20px;
    right: -20px;
    min-height: 20px;

    ion-icon {
      font-size: 18px !important;
      width: 18px !important;
      height: 18px !important;
    }
  }

  .no-ion-col-vertical-padding {
    ion-col {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

  }

  ion-text {
    position: relative;
    top: -5px;
  }

  .limit-grid-overflow {
    padding-top: 0px;
    padding-bottom: 0px;

    ion-text {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }



  .group-card {
    border: 2px solid var(--ion-color-accent);

    &.expanded {
      border-bottom: none;
    }
  }

  .group-children {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    border-top: 2px solid var(--ion-color-accent);

    bean-information {
      display: block;
    }
  }

  .group-child-card {
    margin: 0 !important;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid var(--ion-color-light-shade);
  }
}