<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Permissions -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
      android:exported="true"
      android:label="@string/title_activity_main"
      android:launchMode="singleTask"
      android:theme="@style/AppTheme.NoActionBarLaunch">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- ionic-plugin-deeplinks -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="beanconqueror" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="beanconqueror.com"
          android:pathPrefix="/app/roaster/bean"
          android:scheme="https" />
      </intent-filter>
      <!-- ionic-plugin-deeplinks end -->
    </activity>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
  </application>

  <queries>
    <!-- cordova-plugin-camera -->
    <intent>
      <action android:name="android.media.action.IMAGE_CAPTURE" />
    </intent>
    <intent>
      <action android:name="android.intent.action.GET_CONTENT" />
    </intent>
    <intent>
      <action android:name="android.intent.action.PICK" />
    </intent>
    <intent>
      <action android:name="com.android.camera.action.CROP" />
      <data
        android:mimeType="image/*"
        android:scheme="content" />
    </intent>
    <!-- cordova-plugin-camera end -->
  </queries>

</manifest>
