<ion-item class="no-bottom-border item">
  <ion-label stacked>{{ label }}</ion-label>
  <ion-input prevent-characters type="number" [(ngModel)]="timer.seconds"></ion-input>
  <ion-button (click)="initTimer()" color="danger" fill="clear" size="small" slot="end"
              *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
    <ion-icon name="refresh"></ion-icon>
    Reset
  </ion-button>
  <ion-button (click)="pauseTimer()" color="primary" color="primary" fill="clear" size="small" slot="end"
          *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
    <ion-icon name="pause"></ion-icon>
    Pause
  </ion-button>
  <ion-button (click)="resumeTimer()" color="primary" fill="clear" size="small" slot="end"
          *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
    <ion-icon name="play"></ion-icon>
    Resume
  </ion-button>
  <ion-button (click)="startTimer()" *ngIf="!timer.hasStarted" color="primary" fill="clear" size="small" slot="end">
    <ion-icon name="play"></ion-icon>
    Start
  </ion-button>
</ion-item>

