:host {

  ion-label {
    font-family: 'Baloo', sans-serif;
  }

  ion-card {
    min-height: 185px;

    ion-icon {
      width: 128px;
      height: 128px;
      font-size: 128px;

    }

  }
  @media (max-width: 400px) {
    ion-card {
      min-height: 170px;

      ion-icon {
        width: 96px;
        height: 96px;
        font-size: 96px;

      }
    }
  }
  .preparation-add-card {
    background-color: #ffffff;
  }


}
