:host {

  ion-label {
    font-family: 'Baloo', sans-serif;
  }

  ion-card {
    min-height: 130px;

    ion-icon {
      width: 128px;
      height: 128px;
      font-size: 128px;

    }
  }
  .preparation-add-card {
    background-color: #ffffff;
  }


}
