<ion-header>
  <ion-toolbar>
    <ion-title>{{"ADD_PREPARATION" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let key of preparation_types_enum | keys" size="6">
        <ion-card (click)="choosePreparation(key)" class="preparation-add-card" tappable>
          <ion-card-content *ngIf="key !== 'CUSTOM_PREPARATION'">

              <div class="ion-text-center">
                <ion-icon name="{{data.getIcon(key)}}" slot="icon-only"></ion-icon>
              </div>

            <div class="ion-text-center">
              {{'PREPARATION_TYPE_' + key | translate}}
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="key === 'CUSTOM_PREPARATION'">
              <div class="ion-text-center">
                <ion-icon  name="beanconqueror-preparation-custom" slot="icon-only"></ion-icon>
              </div>
            <div class="ion-text-center" style="line-height:initial;">
              {{'PREPARATION_TYPE_ADD_CUSTOM' | translate}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
