:host {
  .card-background {
    background-color: var(--ion-color-inactive) !important;
  }

  .small-card ion-card-content {
    padding-top: 16px !important;
  }

  ion-card {
    background: #FFFFFF;

    ion-item {
      --background: white;

      ion-label {
        font-family: 'Baloo', sans-serif;
        font-size: 14px;
      }
    }


  }
  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
