<ion-list lines="full">
  <ion-item (click)="choose(getStaticActions().INFORMATION)" button>
    <ion-icon name="list-outline" slot="start"></ion-icon>
    <span>{{"INFORMATION" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().EDIT)" button>
    <ion-icon name="create-outline" slot="start"></ion-icon>
    <span>{{"EDIT" | translate}}</span>
  </ion-item>
  <ion-item (click)="choose(getStaticActions().DELETE)" button>
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    <span>{{"DELETE" | translate}}</span>
  </ion-item>
</ion-list>

