<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_THANKS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      {{"PAGE_THANKS_THANKS_FOR_YOUR_SUPPORT" | translate}}
    </ion-card-header>
    <ion-item>
      Nicola B.
    </ion-item>
    <ion-item>
      Frank R.
    </ion-item>
    <ion-item>
      Oliver O.
    </ion-item>
    <ion-item>
      Richard P.
    </ion-item>
    <ion-item>
      Jörg L.
    </ion-item>
    <ion-item lines="none">
      Karl-Heinz B.
    </ion-item>

  </ion-card>
</ion-content>
