<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_THANKS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card-header>
    {{"PAGE_THANKS_THANKS_FOR_YOUR_SUPPORT" | translate}}
  </ion-card-header>
  <ion-list>
    <ion-item>
      Richard P.
    </ion-item>
    <ion-item>
      Jörg L.
    </ion-item>
    <ion-item>
      Karl-Heinz B.
    </ion-item>
    <ion-item>
      Oliver O.
    </ion-item>
  </ion-list>



</ion-content>
