:host {


  ul {
    text-align:left;
  }
  ion-slides { height: initial; }
  ion-header, ion-content, ion-footer{
    background:#ffffff;
    --background:#ffffff;
  }
  .slider {
    min-height: 100%;
    background-color: #eee;
  }
}
