<ion-content>
  <ion-slides #slider [options]="slideOpts" pager="true">
    <ion-slide *ngFor="let version of versions;let last = last">
      <div class="ion-padding-top">
        <div>
          <ion-title>
            {{"UPDATE_TEXT_TITLE_TITLE." + version + ".TITLE" | translate}}
          </ion-title>
          <div [innerHTML]="'UPDATE_TEXT_TITLE_TITLE.' + version + '.DESCRIPTION' | translate">

          </div>
        </div>
        <ion-row class="ion-padding-top">
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-button (click)="nextSlide()" *ngIf="!last" color="accent" expand="block" tappable>{{"NEXT" | translate}}</ion-button>
            <ion-button (click)="finish()" *ngIf="last" color="accent" expand="block" tappable>{{"UNDERSTOOD" | translate}}</ion-button>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
