:host {


  ul {
    text-align:left;
    color: var(--app-text);
    li {
      word-break: break-word;
    }
  }
  ion-slides { height: initial; }
  ion-header, ion-content, ion-footer{
    background: var(--app-card-background);
    --background: var(--app-card-background);
  }
  swiper-slide {
    div {
      margin-bottom:20px;
    }
  }

}
:root {
  .swiper-pagination-bullet {
    background-color: var(--app-text);
  }
  .swiper-pagination-bullet active-bullet {

    background-color: var(--ion-color-accent);
  }

  swiper-slide {
    display: flex;
    position: relative;

    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 18px;

    text-align: center;
    box-sizing: border-box;
    color: var(--app-text);
  }

  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .swiper-pagination-bullet {
    background-color: var(--app-text);
  }
  .swiper-pagination-bullet.active-bullet {

    background-color: var(--ion-color-accent) !important;
  }
}
