<ion-content #updateContent>
  <ion-slides #slider [options]="slideOpts" pager="true">
    <ion-slide *ngFor="let version of versions;let last = last;let i=index;" >
      <ion-card [style.display]="i+1===this.slide?'block':'none'">
        <div>
          <ion-title>
            {{"UPDATE_TEXT_TITLE_TITLE." + version + ".TITLE" | translate}}
          </ion-title>
          <ul>
              <li *ngFor="let desc of getDescription(version)">{{desc}}</li>
          </ul>
        </div>
        <ion-row class="ion-padding-top">
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-button (click)="nextSlide()" *ngIf="!last" color="accent" expand="block" tappable>{{"NEXT" | translate}}</ion-button>
            <ion-button (click)="finish()" *ngIf="last" color="accent" expand="block" tappable>{{"UNDERSTOOD" | translate}}</ion-button>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
