<ion-card class="long-card" tappable (click)="show()" (long-press)="longPressEdit($event)">
  <ion-card-content class="no-ion-col-vertical-padding ion-padding-top">
    <ion-grid class="no-padding-bottom">
      <ion-row>
        <ion-col size="11"><div class="ion-no-padding font-size-20 ion-title">{{water.name}}</div></ion-col>
        <ion-col size="1">
          <ion-button (click)="showActions($event)" class="button-top-absolute" tappable
                      color="accent" fill="clear">
            <ion-icon name="beanconqueror-dots" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="no-ion-col-vertical-padding">
      <ion-row>
        <ion-col [size]="hasPhotos()?9:12" class="ion-no-padding-right">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="6">
                <ion-label class="card-headline">{{"WATER_SECTION.USED_TIMES" | translate}}</ion-label><br/>

                <ion-text>{{getUsedTimes()}}</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label class="card-headline">{{"WATER_SECTION.AMOUNT" | translate}}</ion-label><br/>

                <ion-text>{{getAmount() | number : '.0-2'}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="ion-no-padding" size="3" *ngIf="hasPhotos()" (click)="showPhoto($event)">
          <div style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
            <async-image [filePath]="water.attachments[0]" class="bean-slider"></async-image>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

