<ion-list>
  <ion-item button (click)="download()">
    <ion-icon name="download-outline" slot="start"></ion-icon>
    {{"POPOVER_BREWS_OPTION_EXPORT" | translate}}
  </ion-item>
  <ion-item button (click)="table()">
    <ion-icon name="eye-outline" slot="start"></ion-icon>
    {{"POPOVER_BREWS_OPTION_TABLE" | translate}}
  </ion-item>
  <ion-item (click)="resetFilter()" button>
    <ion-icon name="refresh-outline" slot="start"></ion-icon>
    {{"POPOVER_BREWS_OPTION_RESET_FILTER" | translate}}
  </ion-item>
</ion-list>
