<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;Zurück
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>
<div *ngIf="settings.brew_view == BREW_VIEW_ENUM.SINGLE_PAGE">
  <ion-list>
    <ion-item *ngIf="settings.grind_size === true">
      <ion-label floating>Mahlgrad</ion-label>
      <ion-input type="text" [(ngModel)]="data.grind_size"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.brew_weight === true">
      <ion-label floating>Gewicht</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_weight"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.brew_temperature === true">
      <ion-label floating>Temperatur</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_temperature"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.method_of_preparation === true">
      <ion-label floating>Zubereitungsmethode</ion-label>
      <ion-select [(ngModel)]="data.method_of_preparation">
        <ion-option value="Standard">Standard</ion-option>

        <ion-option *ngFor="let method of method_of_preparations" value="{{method.config.uuid}}">{{method.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="settings.bean_type === true">
      <ion-label floating>Bohnen</ion-label>
      <ion-select [(ngModel)]="data.bean">
        <ion-option value="Standard">Standard</ion-option>
        <ion-option *ngFor="let bean of beans" value="{{bean.config.uuid}}">{{bean.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <timer #timer timeInSeconds="0" *ngIf="settings.brew_time === true"></timer>
    <ion-item *ngIf="settings.brew_quantity === true">
      <ion-label floating>Bezugsmenge</ion-label>
      <ion-input type="number" [(ngModel)]="data.brew_quantity"></ion-input>
    </ion-item>
    <ion-list-header *ngIf="settings.rating === true">
      Bewertung
      <ion-badge item-end color="secondary">{{data.rating}}</ion-badge>
    </ion-list-header>
    <ion-item  *ngIf="settings.rating === true">
      <ion-range min="0" max="10" step="1" snaps="true" debounce="1000" [(ngModel)]="data.rating">
        <ion-icon range-left small name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item  *ngIf="settings.note === true">
      <ion-label stacked>Notizen</ion-label>
      <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true" [(ngModel)]="data.note"
                    rows="5"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-item (click)="addImage()"  *ngIf="settings.attachments === true">
    Foto hinzufügen
  </button>
  <div *ngIf="data?.attachments && data.attachments.length > 0 && settings.attachments === true">
    <ion-slides #photoSlides pager="true">
      <ion-slide *ngFor="let attachment of data.attachments;let i = index">
        <ion-buttons end>
          <button ion-button color="primary" (click)="deleteImage(i)">Löschen</button>
        </ion-buttons>

        <img [src]="attachment" class="brew-image">
      </ion-slide>
    </ion-slides>
  </div>
  <button margin-top ion-button block icon-right (click)="finish()">
    Speichern & Abschließen
    <ion-icon name="arrow-forward"></ion-icon>
  </button>

</div>
</ion-content>
