<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()" class="big-icon-only" fill="clear">
        <ion-icon class="ion-color-accent" name="beanconqueror-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_BEANS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="bean_segment" class="ion-padding-vertical">
      <ion-segment-button value="open">
        <ion-label>{{"PAGE_BEANS_LIST_OBTAINABLE" | translate}}
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="settings?.show_archived_beans" value="archiv">
        <ion-label>{{"TAB_ARCHIVE" | translate}}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  <div [ngSwitch]="bean_segment">
    <div *ngSwitchCase="'open'">
      <div *ngIf="openBeans?.length > 0 || isFilterActive()" class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">

        <ion-searchbar (ionChange)="research()" [(ngModel)]="openBeansFilterText" class="ion-no-padding ion-no-margin" debounce="750" search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
        <ion-button (click)="showFilter()" fill="clear" size="small" tappable>
          <ion-icon *ngIf="isFilterActive()"  name="beanconqueror-sort-active"
                    slot="icon-only"></ion-icon>
          <ion-icon *ngIf="!isFilterActive()"  name="beanconqueror-sort-inactive"
                    slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="openBeans.length == 0" class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-beans" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
        {{"PAGE_BEANS_LIST_YOU_GOT_NO_FRESH_BEANS" | translate}}
        </div>
      </div>

      <ion-virtual-scroll #openScroll *ngIf="openBeans.length > 0" [items]="openBeans"
                          approxItemHeight="200px">
        <bean-information (beanAction)="beanAction($event[0],$event[1])"  *virtualItem="let bean;"
                          [bean]="bean"></bean-information>
      </ion-virtual-scroll>


    </div>
    <div *ngIf="settings?.show_archived_beans">
      <div *ngSwitchCase="'archiv'">
        <div *ngIf="finishedBeans?.length > 0 || isFilterActive()" class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">

          <ion-searchbar (ionChange)="research()" [(ngModel)]="archivedBeansFilterText" class="ion-no-padding ion-no-margin" debounce="750" search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
          <ion-button (click)="showFilter()" fill="clear" size="small" tappable>
            <ion-icon *ngIf="isFilterActive()"  name="beanconqueror-sort-active"
                      slot="icon-only"></ion-icon>
            <ion-icon *ngIf="!isFilterActive()"  name="beanconqueror-sort-inactive"
                      slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="finishedBeans.length == 0" class="ion-padding ion-text-center">
          <div>
            <ion-icon color="inactive" name="beanconqueror-beans" size="large"></ion-icon>
          </div>
          <div class="text-color-inactive ion-margin-top">
            {{"PAGE_BEANS_LIST_YOU_GOT_NO_FINISHED_BEANS" | translate}}
          </div>
        </div>
        <ion-virtual-scroll #archivedScroll *ngIf="finishedBeans.length > 0" [items]="finishedBeans"
                            approxItemHeight="200px">
          <bean-information (beanAction)="beanAction($event[0],$event[1])"  *virtualItem="let bean;"
                            [bean]="bean"></bean-information>
        </ion-virtual-scroll>

      </div>
    </div>
  </div>



</ion-content>
