<ion-header>
  <ion-toolbar>
    <ion-title *ngIf='multiple'>{{"CHOOSE_BEANS" | translate}}</ion-title>
    <ion-title *ngIf='!multiple'>{{"CHOOSE_BEAN" | translate}}</ion-title>
    <ion-buttons slot='start'>
      <ion-button (click)='dismiss()' class='big-icon-only'>
        <ion-icon name='beanconqueror-back' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot='end'>
      <ion-button (click)="add()" tappable class="big-add-icon" fill="clear">
        <ion-icon class="ion-color-accent" name="beanconqueror-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #beanContent>

  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]='bean_segment'>
    <ion-segment-button value='open'>
      <ion-label>{{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf='settings.freeze_coffee_beans && frozenBeansLength' value='frozen'>
      <ion-label>{{"FROZEN_BEANS" | translate }}
      </ion-label>

    </ion-segment-button>
    <ion-segment-button *ngIf='showFinished===true && finishedBeansLength > 0' value='archive'>
      <ion-label>{{"TAB_ARCHIVE" | translate }}
      </ion-label>

    </ion-segment-button>
  </ion-segment>
  <div *ngIf='multiple'>
    <div [ngSwitch]='bean_segment'>
      <div *ngSwitchCase="'open'">
        <ion-card *ngIf='openBeansLength > 0'>
          <div class='ion-justify-content-end container'>
            <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='openBeansFilterText'
                           class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                           search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
            <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
              <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                        slot='icon-only'></ion-icon>
              <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                        slot='icon-only'></ion-icon>
            </ion-button>
            <ion-button (click)="showSort()" fill="clear" size="small" tappable>
              <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                        slot="icon-only"></ion-icon>
              <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                        slot="icon-only"></ion-icon>
            </ion-button>
          </div>

          <hr />
          <ng-container *ngIf='openBeans.length > 0'>
            <ag-virtual-scroll #openScroll [items]='openBeans' [height]="segmentScrollHeight" min-row-height='60'>
              <ng-element *ngFor='let bean of openScroll.items'>
                <ion-item lines='none' tappable>
                  <ion-checkbox justify='start' label-placement='end' [(ngModel)]='multipleSelection[bean.config.uuid]'>
                    <div style='margin-top:5px;'>
                      <h6 class="no-overflow-ellipsis"><ng-element *ngIf="bean.frozenId"><ion-icon style="top: 3px;position: relative;" name="snow-outline"></ion-icon>&nbsp;</ng-element>{{bean.name}}</h6>
                      <p *ngIf='bean?.frozenId'>{{"BEAN_DATA_FROZEN_ID" | translate}}: {{bean.frozenId}}</p>
                      <p *ngIf='bean?.frozenDate'>{{"BEAN_DATA_FROZEN_DATE" | translate}}: {{bean.frozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.unfrozenDate'>{{"BEAN_DATA_UNFROZEN_DATE" | translate}}: {{bean.unfrozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.frozenStorageType && bean?.frozenStorageType !== beanFreezingStorageTypeEnum.UNKNOWN'>{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}: {{"BEAN_FREEZING_STORAGE_TYPE_" + bean.frozenStorageType | translate}}</p>
                      <div *ngIf='bean?.frozenNote'>{{"BEAN_DATA_FROZEN_NOTE" | translate}}: <pre style='margin-top:3px!important'>{{bean?.frozenNote}}</pre></div>
                      <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                        : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                        ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                      </p>
                      <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                      <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                        : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                      <p *ngIf='bean?.weight > 0'>
                        {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                        [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight,leftOver: bean?.weight - getUsedWeightCount(bean) | number : '.0-2'}"
                        style='margin: 0;padding: 0;display: inline;'></span>
                      </p>
                    </div>
                  </ion-checkbox>
                  <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                    <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                      <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                    </div>
                  </ion-thumbnail>
                </ion-item>
              </ng-element>
            </ag-virtual-scroll>
          </ng-container>
          <div *ngIf='openBeans.length == 0' class='ion-padding ion-text-center'>
            <div>
              <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
            </div>
            <div class='text-color-inactive ion-margin-top'>
              {{"PAGE_BEANS_LIST_YOU_GOT_NO_FRESH_BEANS" | translate}}
            </div>
          </div>
        </ion-card>
      </div>
      <div *ngSwitchCase="'frozen'">
        <ion-card>
          <div class='ion-justify-content-end container'>
            <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='frozenBeansFilterText'
                           class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                           search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
            <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
              <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                        slot='icon-only'></ion-icon>
              <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                        slot='icon-only'></ion-icon>
            </ion-button>
            <ion-button (click)="showSort()" fill="clear" size="small" tappable>
              <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                        slot="icon-only"></ion-icon>
              <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                        slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <hr />
          <ng-container *ngIf='frozenBeans.length > 0'>
            <ag-virtual-scroll #frozenScroll [items]='frozenBeans' [height]="segmentScrollHeight" min-row-height='60'>
              <ng-element *ngFor='let bean of frozenScroll.items'>
                <ion-item lines='none' tappable>
                  <ion-checkbox justify='start' label-placement='end' [(ngModel)]='multipleSelection[bean.config.uuid]'
                                slot='start'>
                    <div style='margin-top:5px;'>
                      <h6 class="no-overflow-ellipsis"><ion-icon style="top: 3px;position: relative;margin-right:5px;" name="snow-outline"
                                    *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.IS_FROZEN)"></ion-icon><span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.IS_FROZEN)'>{{bean.frozenId}}&nbsp;-&nbsp;</span>{{bean.name}}</h6>
                      <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                        : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                        ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                      </p>
                      <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                      <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                        : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                      <p *ngIf='bean?.weight > 0'>
                        {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                        [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight,leftOver: bean?.weight - getUsedWeightCount(bean)| number : '.0-2'}"
                        style='margin: 0;padding: 0;display: inline;'></span>
                      </p>
                    </div>
                  </ion-checkbox>
                  <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                    <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                      <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                    </div>
                  </ion-thumbnail>
                </ion-item>
              </ng-element>
            </ag-virtual-scroll>
          </ng-container>

          <div *ngIf='frozenBeans.length == 0' class='ion-padding ion-text-center'>
            <div>
              <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
            </div>
            <div class='text-color-inactive ion-margin-top'>
              {{"PAGE_BEANS_LIST_YOU_GOT_NO_FROZEN_BEANS" | translate}}
            </div>
          </div>
        </ion-card>
      </div>
      <div *ngSwitchCase="'archive'">
        <ion-card>
          <div class='ion-justify-content-end container'>
            <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='archivedBeansFilterText'
                           class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                           search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
            <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
              <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                        slot='icon-only'></ion-icon>
              <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                        slot='icon-only'></ion-icon>
            </ion-button>
            <ion-button (click)="showSort()" fill="clear" size="small" tappable>
              <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                        slot="icon-only"></ion-icon>
              <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                        slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <hr />
          <ng-container *ngIf='finishedBeans.length > 0'>
            <ag-virtual-scroll #archivedScroll [items]='finishedBeans' [height]="segmentScrollHeight" min-row-height='60'>
              <ng-element *ngFor='let bean of archivedScroll.items'>
                <ion-item lines='none' tappable>
                  <ion-checkbox justify='start' label-placement='end' [(ngModel)]='multipleSelection[bean.config.uuid]'
                                slot='start'>
                    <div style='margin-top:5px;'>
                      <h6 class="no-overflow-ellipsis"><ng-element *ngIf="bean.frozenId">(<ion-icon style="top: 3px;position: relative;" name="snow-outline"></ion-icon>)&nbsp;</ng-element>{{bean.name}}</h6>
                      <p *ngIf='bean?.frozenId'>{{"BEAN_DATA_FROZEN_ID" | translate}}: {{bean.frozenId}}</p>
                      <p *ngIf='bean?.frozenDate'>{{"BEAN_DATA_FROZEN_DATE" | translate}}: {{bean.frozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.unfrozenDate'>{{"BEAN_DATA_UNFROZEN_DATE" | translate}}: {{bean.unfrozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.frozenStorageType && bean?.frozenStorageType !== beanFreezingStorageTypeEnum.UNKNOWN'>{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}: {{"BEAN_FREEZING_STORAGE_TYPE_" + bean.frozenStorageType | translate}}</p>
                      <div *ngIf='bean?.frozenNote'>{{"BEAN_DATA_FROZEN_NOTE" | translate}}: <pre style='margin-top:3px!important'>{{bean?.frozenNote}}</pre></div>
                      <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                        : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                        ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                      </p>
                      <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                      <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                        : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                      <p *ngIf='bean?.weight > 0'>
                        {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                        [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight,leftOver: bean?.weight - getUsedWeightCount(bean)| number : '.0-2'}"
                        style='margin: 0;padding: 0;display: inline;'></span>
                      </p>
                    </div>
                  </ion-checkbox>
                  <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                    <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                      <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                    </div>
                  </ion-thumbnail>
                </ion-item>
              </ng-element>
            </ag-virtual-scroll>
          </ng-container>

          <div *ngIf='finishedBeans.length == 0' class='ion-padding ion-text-center'>
            <div>
              <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
            </div>
            <div class='text-color-inactive ion-margin-top'>
              {{"PAGE_BEANS_LIST_YOU_GOT_NO_FINISHED_BEANS" | translate}}
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf='!multiple'>
    <ion-radio-group [(ngModel)]='radioSelection'>
      <div [ngSwitch]='bean_segment'>
        <div *ngSwitchCase="'open'">
          <ion-card *ngIf='openBeansLength > 0'>
            <div class='ion-justify-content-end container'>
              <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='openBeansFilterText'
                             class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                             search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
              <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
                <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                          slot='icon-only'></ion-icon>
                <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                          slot='icon-only'></ion-icon>
              </ion-button>
              <ion-button (click)="showSort()" fill="clear" size="small" tappable>
                <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                          slot="icon-only"></ion-icon>
                <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                          slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <hr />
            <ng-container *ngIf='openBeans.length > 0'>
              <ag-virtual-scroll #openScroll [items]='openBeans' [height]="segmentScrollHeight" min-row-height='60'>
                <ng-element *ngFor='let bean of openScroll.items'>
                  <ion-item lines='none' tappable>

                    <ion-radio justify='start' label-placement='end' value='{{bean.config.uuid}}'>

                      <h6 class="no-overflow-ellipsis"><ng-element *ngIf="bean.frozenId">(<ion-icon style="top: 3px;position: relative;" name="snow-outline"></ion-icon>)&nbsp;</ng-element>{{bean.name}}</h6>
                      <p *ngIf='bean?.frozenId'>{{"BEAN_DATA_FROZEN_ID" | translate}}: {{bean.frozenId}}</p>
                      <p *ngIf='bean?.frozenDate'>{{"BEAN_DATA_FROZEN_DATE" | translate}}: {{bean.frozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.unfrozenDate'>{{"BEAN_DATA_UNFROZEN_DATE" | translate}}: {{bean.unfrozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.frozenStorageType && bean?.frozenStorageType !== beanFreezingStorageTypeEnum.UNKNOWN'>{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}: {{"BEAN_FREEZING_STORAGE_TYPE_" + bean.frozenStorageType | translate}}</p>
                      <div *ngIf='bean?.frozenNote'>{{"BEAN_DATA_FROZEN_NOTE" | translate}}: <pre style='margin-top:3px!important'>{{bean?.frozenNote}}</pre></div>
                      <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                        : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                        ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                      </p>
                      <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                      <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                        : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                      <p *ngIf='bean?.weight > 0'>
                        {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                        [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight, leftOver: bean?.weight - getUsedWeightCount(bean)| number : '.0-2'}"
                        style='margin: 0;padding: 0;display: inline;'></span>
                      </p>
                    </ion-radio>
                    <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                      <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                        <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                      </div>
                    </ion-thumbnail>
                  </ion-item>
                </ng-element>
              </ag-virtual-scroll>

            </ng-container>

            <div *ngIf='openBeans.length == 0' class='ion-padding ion-text-center'>
              <div>
                <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
              </div>
              <div class='text-color-inactive ion-margin-top'>
                {{"PAGE_BEANS_LIST_YOU_GOT_NO_FRESH_BEANS" | translate}}
              </div>
            </div>
          </ion-card>
        </div>
        <div *ngSwitchCase="'frozen'">
          <ion-card>
            <div class='ion-justify-content-end container'>
              <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='frozenBeansFilterText'
                             class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                             search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
              <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
                <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                          slot='icon-only'></ion-icon>
                <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                          slot='icon-only'></ion-icon>
              </ion-button>
              <ion-button (click)="showSort()" fill="clear" size="small" tappable>
                <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                          slot="icon-only"></ion-icon>
                <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                          slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <hr />
            <ng-container *ngIf='frozenBeans.length > 0'>
              <ag-virtual-scroll #frozenScroll [items]='frozenBeans' [height]="segmentScrollHeight" min-row-height='60'>
                <ng-element *ngFor='let bean of frozenScroll.items'>
                  <ion-item lines='none' tappable>
                    <ion-radio justify='start' label-placement='end' value='{{bean.config.uuid}}'>
                      <h6 class="no-overflow-ellipsis"><ng-element *ngIf="bean.frozenId"><ion-icon style="top: 3px;position: relative;" name="snow-outline"></ion-icon>&nbsp;</ng-element>{{bean.name}}</h6>
                      <p *ngIf='bean?.frozenId'>{{"BEAN_DATA_FROZEN_ID" | translate}}: {{bean.frozenId}}</p>
                      <p *ngIf='bean?.frozenDate'>{{"BEAN_DATA_FROZEN_DATE" | translate}}: {{bean.frozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.unfrozenDate'>{{"BEAN_DATA_UNFROZEN_DATE" | translate}}: {{bean.unfrozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.frozenStorageType && bean?.frozenStorageType !== beanFreezingStorageTypeEnum.UNKNOWN'>{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}: {{"BEAN_FREEZING_STORAGE_TYPE_" + bean.frozenStorageType | translate}}</p>
                      <div *ngIf='bean?.frozenNote'>{{"BEAN_DATA_FROZEN_NOTE" | translate}}: <pre style='margin-top:3px!important'>{{bean?.frozenNote}}</pre></div>
                        <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                          : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                          ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                          <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                          <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                        </p>
                        <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                        <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                          : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                        <p *ngIf='bean?.weight > 0'>
                          {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                          [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight,leftOver: bean?.weight - getUsedWeightCount(bean)| number : '.0-2'}"
                          style='margin: 0;padding: 0;display: inline;'></span>
                        </p>

                    </ion-radio>
                    <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                      <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                        <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                      </div>
                    </ion-thumbnail>
                  </ion-item>
                </ng-element>
              </ag-virtual-scroll>
            </ng-container>

            <div *ngIf='frozenBeans.length == 0' class='ion-padding ion-text-center'>
              <div>
                <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
              </div>
              <div class='text-color-inactive ion-margin-top'>
                {{"PAGE_BEANS_LIST_YOU_GOT_NO_FROZEN_BEANS" | translate}}
              </div>
            </div>
          </ion-card>
        </div>
        <div *ngSwitchCase="'archive'">
          <ion-card>
            <div class='ion-justify-content-end container'>
              <ion-searchbar (ionChange)='research()' (ionInput)='research()' [(ngModel)]='archivedBeansFilterText'
                             class='ion-no-padding ion-no-margin' debounce='750' placeholder="{{'SEARCH' | translate}}"
                             search-icon='beanconqueror-detail' showCancelButton='never'></ion-searchbar>
              <ion-button (click)="showFilter()" fill='clear' size='small' tappable>
                <ion-icon *ngIf="isFilterActive()" name='beanconqueror-filter-active'
                          slot='icon-only'></ion-icon>
                <ion-icon *ngIf="!isFilterActive()" name='beanconqueror-filter-inactive'
                          slot='icon-only'></ion-icon>
              </ion-button>
              <ion-button (click)="showSort()" fill="clear" size="small" tappable>
                <ion-icon *ngIf="isSortActive()"  name="beanconqueror-sort-active"
                          slot="icon-only"></ion-icon>
                <ion-icon *ngIf="!isSortActive()"  name="beanconqueror-sort-inactive"
                          slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <hr />
            <ng-container *ngIf='finishedBeans.length > 0'>
              <ag-virtual-scroll #archivedScroll [items]='finishedBeans' [height]="segmentScrollHeight" min-row-height='60'>
                <ng-element *ngFor='let bean of archivedScroll.items'>
                  <ion-item lines='none' tappable>

                    <ion-radio justify='start' label-placement='end' value='{{bean.config.uuid}}'>

                      <h6 class="no-overflow-ellipsis"><ng-element *ngIf="bean.frozenId">(<ion-icon style="top: 3px;position: relative;" name="snow-outline"></ion-icon>)&nbsp;</ng-element>{{bean.name}}</h6>
                      <p *ngIf='bean?.frozenId'>{{"BEAN_DATA_FROZEN_ID" | translate}}: {{bean.frozenId}}</p>
                      <p *ngIf='bean?.frozenDate'>{{"BEAN_DATA_FROZEN_DATE" | translate}}: {{bean.frozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.unfrozenDate'>{{"BEAN_DATA_UNFROZEN_DATE" | translate}}: {{bean.unfrozenDate  | formatDate:[settings?.date_format]}}</p>
                      <p *ngIf='bean?.frozenStorageType && bean?.frozenStorageType !== beanFreezingStorageTypeEnum.UNKNOWN'>{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}: {{"BEAN_FREEZING_STORAGE_TYPE_" + bean.frozenStorageType | translate}}</p>
                      <div *ngIf='bean?.frozenNote'>{{"BEAN_DATA_FROZEN_NOTE" | translate}}: <pre style='margin-top:3px!important'>{{bean?.frozenNote}}</pre></div>
                      <p *ngIf='bean?.roastingDate'>{{"BEAN_DATA_ROASTING_DATE" | translate}}
                        : {{bean.roastingDate | formatDate:[settings?.date_format]}}&nbsp;
                        ({{bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS}}
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) === 1'>{{"DAY" | translate}}</span>
                        <span *ngIf='(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.BEAN_AGE_IN_DAYS) !== 1'>{{"DAYS" | translate}}</span>)
                      </p>
                      <p *ngIf='bean?.roaster'>{{"BEAN_DATA_ROASTER" | translate}}: {{bean.roaster}}</p>
                      <p *ngIf='bean && !isBeanRoastUnknown(bean)'>{{"BEAN_DATA_ROASTING_TYPE" | translate}}
                        : {{"BEAN_ROASTING_TYPE_" + bean.bean_roasting_type | translate}}</p>
                      <p *ngIf='bean?.weight > 0'>
                        {{"BEANS_AMOUNT_USED" | translate}}:&nbsp;<span
                        [innerHTML]="'BEAN_WEIGHT_ALREADY_USED' | translate: {gramUsed: getUsedWeightCount(bean) | number : '.0-2', gramTotal: bean?.weight, leftOver: bean?.weight - getUsedWeightCount(bean)| number : '.0-2'}"
                        style='margin: 0;padding: 0;display: inline;'></span>
                      </p>
                    </ion-radio>
                    <ion-thumbnail slot="end" *ngIf="(bean | beanFunctionPipe: BEAN_FUNCTION_PIPE_ENUM.HAS_PHOTOS)">
                      <div  style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
                        <async-image [filePath]="bean.attachments[0]" class="bean-slider"></async-image>
                      </div>
                    </ion-thumbnail>
                  </ion-item>
                </ng-element>
              </ag-virtual-scroll>
            </ng-container>
            <div *ngIf='finishedBeans.length == 0' class='ion-padding ion-text-center'>
              <div>
                <ion-icon color='inactive' name='beanconqueror-beans' size='large'></ion-icon>
              </div>
              <div class='text-color-inactive ion-margin-top'>
                {{"PAGE_BEANS_LIST_YOU_GOT_NO_FINISHED_BEANS" | translate}}
              </div>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-radio-group>
  </div>
</ion-content>
<ion-footer #footerContent class='ion-no-border'>
  <ion-row>
    <ion-col size='6'>
      <ion-button (click)='dismiss()' color='accent' expand='block' fill='outline'
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col size='6'>
      <ion-button (click)='choose()' color='accent' expand='block' tappable
                  type='submit'>{{"CHOOSE" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
