home-page {
  .logo-icon {
    width: 150px;
    height: 150px;
    img {
      width: 150px;
      height: 150px;
    }
  }
}


home-page {
  .logo-icon-christmas {
    width: 110px;
    height: 150px;
    img {
      width: 110px;
      height: 150px;
    }
  }
}
