home-page {
  .logo-icon {
    width: 150px;
    height: 150px;
    img {
      width: 150px;
      height: 150px;
    }
  }
  button[justify-content-start] .button-inner{
    justify-content: flex-start;
  }

  .logo-icon-christmas {
    width: 110px;
    height: 150px;
    img {
      width: 110px;
      height: 150px;
    }
  }
}





