:host {
  .brew-title {

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }
  ion-item {
    margin-left: 16px;
    margin-right: 0px;
    line-height: 12px;
    font-size: 12px;
  }
  ion-card-content {
    background:#FFFFFF;
  }
  .full-sized-icon {
    width: 100%;
    height: 100%;
    max-height:60px!important;
  }
  div.brew-layout {
    /** Z-index -1, lets us scroll **/
    z-index: -1;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;

  }
}
