:host {
  --max-height: 40%;
 position:absolute!important;
  height:40%!important;
  bottom:0!important;
  margin: auto 0!important;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  border-radius: 6px;
  margin-block-end: 10px;


  .ion-title{
    line-height: 24px;
  }
}
