<ion-header translucent>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-input label-placement="stacked" label='{{"BEAN_POPOVER_EDIT_FREEZE_DATE" | translate}}' readonly (click)="chooseDate($event);" [(data)]="frozenDate"  [transform-date] displayFormat="{{settings?.date_format}}" placeholder="{{'BEAN_POPOVER_EDIT_FREEZE_DATE' | translate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox label-placement='start' [disabled] [(ngModel)]="copyAttachments">
        <div style='line-height: 14px;' class="ion-label">
          <div>{{"BEAN_POPOVER_COPY_ATTACHMENTS" | translate}}</div>
          <span>{{"BEAN_POPOVER_COPY_ATTACHMENTS_DESCRIPTION" | translate}}</span>
        </div>
      </ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{"BEAN_POPOVER_LEFT_UNFROZEN" | translate}} - {{leftOverBeanBagWeight}}g / {{ getActualFreezingQuantity() }}g</ion-label>
    </ion-item>
    <ion-item [disabled]='getActualFreezingQuantity()>bean.weight'>
      <ion-input label-placement="stacked" label='{{"BEAN_POPOVER_FREEZE_PARTIAL_BAG" | translate}}'  [(ngModel)]="freezePartialBagGrams" autocapitalize="off" inputmode="decimal"
                 name="weight"
                 prevent-characters remove-empty-number spellcheck="false"
                 type="text" tabIndex="2">
      </ion-input>
      <ion-button [disabled]='freezePartialBagGrams<=0 || freezePartialBagGrams>leftOverBeanBagWeight' tabIndex="1" (click)='addOnePartialBag()'
                  class="big-icon-only" fill="clear" slot="end" tappable>
        <ion-icon  name="beanconqueror-add-single-entry" slot='icon-only'></ion-icon>
      </ion-button>
      <ion-button [disabled]='freezePartialBagGrams<=0 || freezePartialBagGrams>leftOverBeanBagWeight' tabIndex="3" (click)='addMaxPartialBags()'
                  class="big-icon-only"  fill="clear" slot="end" tappable>
        <ion-icon  name="beanconqueror-add-list" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list *ngIf='addedBags?.length > 0'>
      <ion-list-header>
        <ion-label>{{"BEAN_POPOVER_FROZEN_BAGS" | translate}}</ion-label>
      </ion-list-header>

      <ion-item *ngFor='let bag of addedBags;let i=index;'>
        <ion-label>{{bag}}g</ion-label>
        <ion-icon (click)="deleteBag(i)" tappable slot="end" name="trash-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
<ion-footer #footerContent class='ion-no-border'>
  <ion-row>
    <ion-col size='6'>
      <ion-button (click)='dismiss()' color='accent' expand='block' fill='outline'
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col size='6'>
      <ion-button [disabled]='addedBags.length<=0 ||  this.frozenDate === ""' (click)='save()' color='accent' expand='block' tappable
                  type='submit'>{{"CREATE_FROZEN_BEANS" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
