:host {
  ion-content {
    --background: var(--app-card-background);
  }
  ion-header {
    background-color: var(--app-card-background);
  }

  ion-toolbar {
    height: 0px !important;
    padding-top: 25px !important;
  }


  ion-label {
    color: var(--app-text-secondary);
    display: block;
    position: relative;
    top: 5px;
  }

  ion-text {
    display: block;
    color: var(--app-text);
  }

  .flow-icon-buttons {
    ion-button {

      --padding-bottom: 0px;
      --padding-end: 0px;
      --padding-start: 0px;
      --padding-top: 0px;
      color: var(--app-text);
    }

  }

}
