:host {
  ion-content {
    --background: var(--ion-color-light);
  }
  ion-header {
    background-color: var(--ion-header-background-color);
  }

  ion-toolbar {
    height: 0px !important;
    padding-top: 25px !important;
  }


  ion-label {
    color: #938F89;
    display: block;
    position: relative;
    top: 5px;
  }

  ion-text {
    display: block;
  }

  .flow-icon-buttons {
    ion-button {

      --padding-bottom: 0px;
      --padding-end: 0px;
      --padding-start: 0px;
      --padding-top: 0px;
    }

  }

}
