<ion-header>
  <ion-title class="ion-text-center ion-margin-top">{{"WELCOME_PAGE_LETS_START_HEADLINE" | translate}}</ion-title>

</ion-header>
<ion-content>
  <div class="ion-padding-top ion-margin-horizontal">
    <div class="welcome-content-text">
      <ion-title>
        {{"ANALYTICS_INFORMATION_TITLE" | translate}}
      </ion-title>
      <div>
        {{"ANALYTICS_INFORMATION_DESCRIPTION" | translate}}
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">

        <ion-row class="ion-padding-top">
          <ion-col size="12">
            <ion-button (click)="finish()" color="accent" expand="block" tappable>{{"UNDERSTOOD" | translate}}</ion-button>
          </ion-col>
        </ion-row>


</ion-footer>
