:host {
  ion-header {
    background-color: var(--app-card-background);
  }

  .big-control-icon {
    height: 128px;
    ion-icon {
      font-size:100px;
      width:80px;
      color: var(--app-text);
    }
  }
  @media (max-width: 375px) {
    .big-control-icon {
      height: 128px;
      ion-icon {
        font-size:100px;
        width:75px;
        color: var(--app-text);
      }
    }
  }
  @media (min-width: 650px) {
    .big-control-icon {
      height: 192px;
      ion-icon {
        font-size: 140px;
        width: 160px;
        color: var(--app-text);
      }
    }
  }

  ion-toolbar {
    height: 0px !important;
    padding-top: 25px !important;
  }

  ion-footer {
    background: var(--app-card-background);
    box-shadow: none;
  }

  #brewFlowContainer {}

  #informationContainer {
    display: flex;
    font-size: 24px;
    margin-left: 5px;
    overflow: scroll;
    color: var(--app-text);

    ion-icon {
      margin-right: 2px;
      margin-left: 5px;
      margin-top: 5px;
      color: var(--app-text);
    }

    span {
      vertical-align: top;
      color: var(--app-text);
    }
  }

  ion-label {
    color: var(--app-text-secondary);
    display: block;
    position: relative;
    top: 5px;
  }

  .information-tile-no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--app-text);
  }

  ion-card.flow-profile {
    margin: 0px;
    background: var(--app-card-background);
    color: var(--app-text);

    ion-card-header {
      color: var(--app-text);
      background-color: var(--ion-color-accent) !important;
      font-size: 75px;
      padding: 2px;
    }
    @media (max-width: 480px) {
      ion-card-header {
        min-height:100px;

      }
    }

    ion-card-content {
      color: var(--app-text);
      padding: 0px 2px;

      ion-icon {
        font-size: 24px;
        color: var(--app-text);
      }
    }

  }
}
