<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col size="11">
      </ion-col>
      <ion-col class="ion-text-right" size="1">
        <ion-button (click)="dismiss()" fill="clear" style="margin-top: -1px;margin-left:-15px;">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>

  <div id="flowCard" style="height:100%">
    <ion-card class="flow-profile ion-text-center timer-card">
      <ion-card-header>
        <span class='information-tile-no-overflow' #timerElement></span>

      </ion-card-header>
    </ion-card>
    <div  id="informationContainer">
      <ion-grid class="ion-text-center ion-no-padding brew-information-panel">
        <ion-row class="ion-justify-content-center">
          <ion-col size='12'>


            @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && brewComponent.timer.showBloomTimer) {
              <ion-button (click)="brewComponent.timer.bloomTime()"
                          class="big-control-icon" fill="clear" tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-blooming" slot="icon-only"></ion-icon>
              </ion-button>
            }
            @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished && brewComponent.timer.showDripTimer) {
              <ion-button (click)="brewComponent.timer.dripTime()"
                          class="big-control-icon" fill="clear" tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-water-drop" slot="icon-only"></ion-icon>
              </ion-button>
            }
            @if(brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) {
              <ion-button (click)="pauseTimer()"
                          class="big-control-icon" fill="clear" tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-pause" slot="icon-only"></ion-icon>
              </ion-button>
            }
            @if((!brewComponent.timer.timer.hasStarted || !brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) && brewComponent.timer.getSeconds()>0) {
              <ion-button (click)="resetTimer()"
                          class="big-control-icon" fill="clear" tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-full-reset" slot="icon-only"></ion-icon>
              </ion-button>
            }
            @if(!brewComponent.timer.timer.runTimer && brewComponent.timer.timer.hasStarted && !brewComponent.timer.timer.hasFinished) {
              <ion-button (click)="resumeTimer()"
                          class="big-control-icon" fill="clear" tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
              </ion-button>
            }
            @if(!brewComponent.timer.timer.hasStarted) {
              <ion-button (click)="startTimer()" class="big-control-icon" fill="clear"
                          tappable>
                <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
              </ion-button>
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
