<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;Zurück
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

    <ion-item>
      <ion-label floating>Name*</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" type="text" #name="ngModel" spellcheck="false"
                 autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Röstgrad*</ion-label>
      <ion-select [(ngModel)]="data.roast" name="roast" #roast="ngModel">
        <ion-option *ngFor="let key of roastsEnum | keys" value="{{key}}">{{roastsEnum[key]}}</ion-option>

      </ion-select>
    </ion-item>
  <ion-item *ngIf="data.roast == 'CUSTOM_ROAST'">
    <ion-label floating >Custom Roast</ion-label>
    <ion-input [(ngModel)]="data.roast_custom" name="roast_custom" type="text" #roast_custom="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>

  </ion-item>
    <ion-item>
      <ion-label floating>Röstdatum*</ion-label>
      <ion-datetime min="2000-01-01" max="2999-12-31" displayFormat="DD.MM.YYYY" [(ngModel)]="data.roastingDate"
                    name="roastingDate"
                    #roastingDate="ngModel"></ion-datetime>
    </ion-item>
  <ion-item>
    <ion-label floating >Röster</ion-label>
    <ion-input [(ngModel)]="data.roaster" name="roaster" type="text" #roaster="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating >Varietät</ion-label>
    <ion-input [(ngModel)]="data.variety" name="variety" type="text" #variety="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating >Herkunftsland</ion-label>
    <ion-input [(ngModel)]="data.country" name="country" type="text" #country="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating >Mischung</ion-label>
    <ion-select [(ngModel)]="data.beanMix"  name="beanMix" #beanMix="ngModel">
      <ion-option *ngFor="let key of mixEnum | keys" value="{{key}}">{{mixEnum[key]}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating >Geschmack</ion-label>
    <ion-input [(ngModel)]="data.aromatics" name="aromatics" type="text" #aromatics="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating >Gewicht</ion-label>
    <ion-input [(ngModel)]="data.weight" name="weight" [remove-empty-number] [prevent-characters] type="text" #weight="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fertig?</ion-label>
    <ion-checkbox item-left [(ngModel)]="data.finished"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label floating>Notizen</ion-label>
      <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true" name="note" #note="ngModel" rows="5"
                    [(ngModel)]="data.note"></ion-textarea>
    </ion-item>
    <button ion-item (click)="addImage()">
      Foto hinzufügen
    </button>
    <div *ngIf="data.filePath != ''">
      <img [src]="data.filePath" style="padding: 0px 20px;">
    </div>



</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button (click)="dismiss()" dark outline block>Abbrechen</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="editBean(editBeanForm)" type="submit" block>Speichern</button>
    </ion-col>

  </ion-row>
</ion-footer>
