<ion-header>
  <app-header [title]="'ADD_BREW' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="confirmDismiss()" />
    @if(brewBrewing?.brewBrewingPreparationDeviceEl?.uiHasAPreparationDeviceSet) {
      @if (brewBrewing?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceConnected) {
        <ion-chip header-slot="end" outline='true' class='machine-connected'>
        @switch (brewBrewing?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceType) {
          @case (PreparationDeviceType.METICULOUS) {
              <ion-icon name="beanconqueror-meticulous-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          }
          @case (PreparationDeviceType.SANREMO_YOU) {
              <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          }
          @case (PreparationDeviceType.XENIA) {
            <ion-icon name="beanconqueror-xenia-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          }
          @case (PreparationDeviceType.GAGGIUINO) {
            <ion-icon name="beanconqueror-gaggiuino-logo" size='large'></ion-icon>
            <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-wifi"></ion-icon>
          }
        }
        </ion-chip>
      } @else {
        <ion-chip header-slot="end" outline='true' class='machine-disconnected'>
          @switch (brewBrewing?.brewBrewingPreparationDeviceEl?.uiPreparationDeviceType) {
            @case (PreparationDeviceType.METICULOUS) {
              <ion-icon name="beanconqueror-meticulous-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
            }
            @case (PreparationDeviceType.SANREMO_YOU) {
              <ion-icon name="beanconqueror-sanremo-you-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: 0px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
            }
            @case (PreparationDeviceType.XENIA) {
              <ion-icon name="beanconqueror-xenia-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
            }
            @case (PreparationDeviceType.GAGGIUINO) {
              <ion-icon name="beanconqueror-gaggiuino-logo" size='large'></ion-icon>
              <ion-icon style='margin-left: -10px;' color="dark" name="beanconqueror-no-wifi"></ion-icon>
            }
          }
        </ion-chip>
      }
    }
    @if(brewBrewing?.brewBrewingGraphEl?.uiSmartScaleConnected && brewBrewing?.brewBrewingGraphEl?.uiSmartScaleSupportsTaring) {
      <app-header-button header-slot="end" icon="beanconqueror-scale-tare" buttonClass="big-icon-only" (clicked)="tareScale()" />
    }
    <app-header-button header-slot="end" icon="beanconqueror-dots" buttonClass="" (clicked)="popoverActionsBrew()" />
  </app-header>
</ion-header>
<ion-content>
  <brew-brewing #brewBrewing [loadSpecificLastPreparation]="loadSpecificLastPreparation" [brewTemplate]="brew_template"
                [brewFlowPreset]='brew_flow_preset'
                [beanPreset]='bean_preset'
    [(data)]="data"></brew-brewing>
</ion-content>
@if(showFooter) {
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="confirmDismiss()" color="accent" expand="block" fill="outline" tappable>{{"CANCEL" |
        translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="finish()" color="accent" disable-double-click expand="block" tappable type="submit">{{"SAVE"
        | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
}
