:host {
  .fixedLabel {
    min-width: 20% !important;
    max-width: 20% !important;
  }


  ion-item {
    --border-width: 0px;
  }

  ion-label {
    font-size: 14px;
    transform: none;
  }

  ion-item {
    margin-left: 16px;
    margin-right: 16px;
  }



}
