// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/**Ion-text-color was overwritten by ionic to always #ffffff, thats why we introduce our own variable **/
:root.md {
  --ion-text-color: #282013;
  --beanconqueror-text-color-light: #FFFFFF;
}
:root.md.ion-palette-dark
{
  --ion-text-color: #D3D3D3;
  --beanconqueror-text-color-light: #FFFFFF;
}
/** Ionic CSS Variables **/
:root {

  --ion-background-color: #F0F0F0;
  --ion-background-color-textarea: #F2F2F2;
  --ion-color-graph-background: #FFFFFF;

  --ion-font-family: 'Karla', sans-serif;
  font-family: var(--ion-font-family) !important;
  /** primary **/
  --ion-color-primary: #282013;
  --ion-color-primary-rgb: 40, 32, 19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #282013;
  --ion-color-primary-tint: #282013;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #BD3D35;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;


  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --beanconqueror-highlight-color-item: #AE9F87;
  --beanconqueror-icon-color: #CDC2AC;
  --beanconqueror-icon-color-inactive: #CCCCCC;
  --beanconqueror-icon-star-full-color: #504027;
  --beanconqueror-icon-star-empty-color: #BFB9B0;

  --beanconqueror-background-highlight-color: #FFACAB;

  /**https://ionicframework.com/docs/theming/colors**/
  --ion-color-accent: #CDC2AC;
  --ion-color-accent-rgb: 184, 130, 101;
  --ion-color-accent-contrast: #FFFFFF;
  --ion-color-accent-contrast-rgb: 255, 255, 255;
  --ion-color-accent-shade: #CDC2AC;
  --ion-color-accent-tint: #FFFFFF;


  --ion-color-accent-secondary: #B88265;
  --ion-color-accent-secondary-rgb: 184, 130, 101;
  --ion-color-accent-secondary-contrast: #FFFFFF;
  --ion-color-accent-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-accent-secondary-shade:  #B88265;
  --ion-color-accent-secondary-tint: #FFFFFF;


  --ion-color-inactive: #CCCCCC;
  --ion-color-inactive-rgb: 204, 204, 204;
  --ion-color-inactive-contrast: #CCCCCC;
  --ion-color-inactive-contrast-rgb: 255, 255, 255;
  --ion-color-inactive-shade: #CCCCCC;
  --ion-color-inactive-tint: #CCCCCC;




}

.item-interactive.ion-valid {
  --highlight-background: var(--beanconqueror-highlight-color-item);
}

/**https://forum.ionicframework.com/t/adding-custom-colours-to-use-with-color-property/136919**/
.ion-color-accent {
  --ion-color-base: var(--ion-color-accent);
}
.ion-color-accent-secondary {
  --ion-color-base: var(--ion-color-accent-secondary);
  color: var(--ion-color-accent-secondary);
}

.ion-color-inactive {
  --ion-color-base: var(--ion-color-inactive);
}

.ion-color-background-highlight {
  background-color: var(--beanconqueror-background-highlight-color);
}

.ion-color-background-inactive {
  background-color: var(--ion-color-inactive);
}

.text-color-inactive {
  color: var(--ion-color-inactive);
}

.ion-palette-dark {



  --ion-background-color: #121212;
  --ion-background-color-textarea: #222428;
  --ion-color-graph-background: #222428;

  --ion-header-background-color: #222428;

  --ion-color-primary: #383a3e;
  --ion-color-primary-rgb: 56, 58, 62;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #313337;
  --ion-color-primary-tint: #4c4f54;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --beanconqueror-highlight-color-item: #383a3e;
  --beanconqueror-icon-color: #8b7e6a;
  --beanconqueror-icon-color-inactive: #363636;
  --beanconqueror-icon-star-full-color: #bdb5a8;
  --beanconqueror-icon-star-empty-color: #38342e;
  --beanconqueror-background-highlight-color: #FFACAB;

  --ion-color-accent: #8b7e6a;
  --ion-color-accent-secondary: #B88265;
  --ion-color-inactive: #555555;
}
