// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Ionic CSS Variables **/
:root {

  --ion-text-color: #282013;
  --ion-background-color: #F0F0F0;
  --ion-font-family: 'Karla', sans-serif;
  font-family: var(--ion-font-family) !important;
  /** primary **/
  --ion-color-primary: #282013;
  --ion-color-primary-rgb: 40, 32, 19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #282013;
  --ion-color-primary-tint: #282013;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #BD3D35;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;


  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --beanconqueror-highlight-color-item: #AE9F87;
  --beanconqueror-icon-color: #AE9F87;
  --beanconqueror-card-highlight: #9F8C6F;

  --beanconqueror-background-highlight-color: #FFACAB;


  /**https://ionicframework.com/docs/theming/colors**/
  --ion-color-accent: #AE9F87A2;
  --ion-color-accent-rgb: 184, 130, 101;
  --ion-color-accent-contrast: #FFFFFF;
  --ion-color-accent-contrast-rgb: 255, 255, 255;
  --ion-color-accent-shade: #AE9F87A2;
  --ion-color-accent-tint: #FFFFFF;


  --ion-color-accent-secondary: #B88265;
  --ion-color-accent-secondary-rgb: 184, 130, 101;
  --ion-color-accent-secondary-contrast: #FFFFFF;
  --ion-color-accent-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-accent-secondary-shade:  #B88265;
  --ion-color-accent-secondary-tint: #FFFFFF;


  --ion-color-inactive: #CCCCCC;
  --ion-color-inactive-rgb: 204, 204, 204;
  --ion-color-inactive-contrast: #CCCCCC;
  --ion-color-inactive-contrast-rgb: 255, 255, 255;
  --ion-color-inactive-shade: #CCCCCC;
  --ion-color-inactive-tint: #CCCCCC;


}

.item-interactive.ion-valid {
  --highlight-background: var(--beanconqueror-highlight-color-item);
}

/**https://forum.ionicframework.com/t/adding-custom-colours-to-use-with-color-property/136919**/
.ion-color-accent {
  --ion-color-base: var(--ion-color-accent);
}
.ion-color-accent-secondary {
  --ion-color-base: var(--ion-color-accent-secondary);
  color: var(--ion-color-accent-secondary);
}

.ion-color-inactive {
  --ion-color-base: var(--ion-color-inactive);
}

.ion-color-background-highlight {
  background-color: var(--beanconqueror-background-highlight-color);
}

.ion-color-background-inactive {
  background-color: var(--ion-color-inactive);
}

.text-color-inactive {
  color: var(--ion-color-inactive);
}

$card-md-border-radius: 5px;
$card-md-header-color: rgba(8, 66, 138, 0.77);
$toolbar-background: #7189a7;
$segment-button-md-text-color-activated: black;
$segment-button-md-border-color-activated: rgb(160, 176, 196);
$list-md-header-color: rgb(160, 176, 196);


$button-md-text-color: white;
$button-md-background-color: rgb(160, 176, 196);
$button-md-outline-text-color: rgb(160, 176, 196);


