<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" style="box-shadow: 0px -2px 10px #00000021;padding-top: 12px;padding-bottom: 12px;">
      <ion-tab-button tab="brew-ratio" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-percentage"></ion-icon>
        <ion-label>{{"PAGE_HELPER_BREW_RATIO" | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="water-hardness" tappable>
        <ion-icon class="menu-icon" name="water-outline"></ion-icon>
        <ion-label>{{"WATER_SECTION.NAV_WATER" | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
