<ion-header translucent>
</ion-header>
<ion-content>
  <ion-item>
    <ion-select label-placement="stacked" label='{{"BREW_DATA_PREPARATION_METHOD" | translate}}' [(ngModel)]="filter.method_of_preparation"
                [show-finished]="segment !== 'open'"
                multiple="true"
                preparation-overlay (ionChange)="resetPreparationTools();">
    </ion-select>
  </ion-item>
  <ion-item *ngIf="hasPreparationTools()">
    <ion-select label-placement="stacked" label='{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}' [(ngModel)]="filter.method_of_preparation_tools"
                placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}"
                [show-finished]="true"
                multiple="true"
                [preparation-ids]="filter.method_of_preparation"
                preparation-tool-overlay></ion-select>

   <!-- <ion-select [(ngModel)]="filter.method_of_preparation_tools" cancelText="{{'CANCEL'| translate }}" color="accent" multiple="true" name="method_of_preparation_tools"  okText="{{'CHOOSE'| translate }}" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD_TOOL' | translate}}">
      <ion-select-option *ngFor="let data of getPreparationTools()" value="{{data.tool.config.uuid}}">{{data.tool.name}} ({{data.name}})</ion-select-option>
    </ion-select>-->
  </ion-item>
  <ion-item>
    <ion-select label-placement="stacked" label='{{"BREW_DATA_BEAN_TYPE" | translate}}' [(ngModel)]="filter.bean"
                [multiple]="true"
                [show-finished]="segment !== 'open'"
                bean-overlay>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select label-placement="stacked" label='{{"BREW_DATA_MILL" | translate}}'  [(ngModel)]="filter.mill"
                [show-finished]="segment !== 'open'"
                mill-overlay
                multiple="true">
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-toggle label-placement='start' [(ngModel)]="filter.favourite">
      <div class="ion-label">
        <p>{{"ONLY_FAVOURITES" | translate}}</p>
      </div>
    </ion-toggle>
  </ion-item>
  <ion-item *ngIf='settings.best_brew'>
    <ion-toggle label-placement='start'  [(ngModel)]="filter.best_brew">
      <div class="ion-label">
        <p>{{"ONLY_BEST_BREWS" | translate}}</p>
      </div>
    </ion-toggle>
  </ion-item>
  <ion-item *ngIf="showOption('chart_data')">
    <ion-toggle label-placement='start' [(ngModel)]="filter.chart_data">
      <div class="ion-label">
        <p>{{"BREW_FILTER_JUST_CHART_DATA" | translate}}</p>
      </div>
    </ion-toggle>
  </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
        style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(filter.rating.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(filter.rating.upper,2)}} </ion-badge>
      </ion-label>
    </ion-item>
  <ion-item style="top:-10px;">
    <ion-range  min="-1" dualKnobs="true" [pinFormatter]='pinFormatter' pin='true' snaps="true" [max]="getMaxBrewRating()" [step]="settings?.brew_rating_steps" [(ngModel)]="filter.rating">
      <ion-icon size="small" slot="start" name="beanconqueror-brew-rating-empty"></ion-icon>
      <ion-icon slot="end" name="beanconqueror-brew-rating-full"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item *ngIf='profiles?.length>0'>
    <ion-select label-placement="stacked" label='{{"BREW_DATA_PRESSURE_PROFILE" | translate}}' placeholder='{{"BREW.PLACE_HOLDER.BREW_DATA_PRESSURE_PROFILE"| translate}}' [interfaceOptions]="selectOptions" [(ngModel)]="filter.profiles" [multiple]='true' >
      <ion-select-option *ngFor="let data of profiles" value="{{data}}">{{data}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list class="ion-no-padding ion-padding-top ion-margin-horizontal">
      <ion-button (click)="useFilter()" color="accent" expand="block" tappable
                  type="submit">{{"USE_FILTER" | translate}}</ion-button>
      <ion-button (click)="resetFilter()" color="dark" expand="block" fill="clear"
                  tappable>{{"RESET_FILTER" | translate}}</ion-button>

  </ion-list>
</ion-content>

