<ion-header translucent>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="stacked">{{"BREW_DATA_PREPARATION_METHOD" | translate}}</ion-label>
    <ion-select [(ngModel)]="filter.method_of_preparation"
                [show-finished]="segment !== 'open'"
                multiple="true"
                preparation-overlay (ionChange)="resetPreparationTools();">
    </ion-select>
  </ion-item>
  <ion-item *ngIf="hasPreparationTools()">
    <ion-label position="stacked">{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}</ion-label>

    <ion-select [(ngModel)]="filter.method_of_preparation_tools"
                placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}"
                [show-finished]="true"
                multiple="true"
                [preparation-ids]="filter.method_of_preparation"
                preparation-tool-overlay></ion-select>

   <!-- <ion-select [(ngModel)]="filter.method_of_preparation_tools" cancelText="{{'CANCEL'| translate }}" color="accent" multiple="true" name="method_of_preparation_tools"  okText="{{'CHOOSE'| translate }}" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD_TOOL' | translate}}">
      <ion-select-option *ngFor="let data of getPreparationTools()" value="{{data.tool.config.uuid}}">{{data.tool.name}} ({{data.name}})</ion-select-option>
    </ion-select>-->
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BREW_DATA_BEAN_TYPE" | translate}}</ion-label>
    <ion-select [(ngModel)]="filter.bean"
                [multiple]="true"
                [show-finished]="segment !== 'open'"
                bean-overlay>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{"BREW_DATA_MILL" | translate }}</ion-label>
    <ion-select [(ngModel)]="filter.mill"
                [show-finished]="segment !== 'open'"
                mill-overlay
                multiple="true">
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="top: -5px;position: relative;">{{"ONLY_FAVOURITES" | translate }}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="filter.favourite"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="top: -5px;position: relative;">{{"BREW_FILTER_JUST_CHART_DATA" | translate }}</ion-label>
    <ion-toggle [(ngModel)]="filter.chart_data" slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
      style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(filter.rating.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(filter.rating.upper,2)}} </ion-badge>
    </ion-label>
    <ion-range min="-1" dualKnobs="true" snaps="true" [max]="getMaxBrewRating()" step="1" [(ngModel)]="filter.rating">
      <ion-icon size="small" slot="start" name="beanconqueror-brew-rating-empty"></ion-icon>
      <ion-icon slot="end" name="beanconqueror-brew-rating-full"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-list class="ion-no-padding ion-padding-top ion-margin-horizontal">
      <ion-button (click)="useFilter()" color="accent" expand="block" tappable
                  type="submit">{{"USE_FILTER" | translate}}</ion-button>
      <ion-button (click)="resetFilter()" color="dark" expand="block" fill="clear"
                  tappable>{{"RESET_FILTER" | translate}}</ion-button>

  </ion-list>
</ion-content>

