<ion-header>
  <ion-toolbar>
    <ion-title>{{"BACK" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="data?.attachments && data.attachments.length > 0">
    <ion-slides #photoSlides pager="true" zoom="true">
      <ion-slide *ngFor="let attachment of data.attachments;let i = index">
        <div class="swiper-zoom-container">
          <async-image class="brew-image" filePath="{{attachment}}"></async-image>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
