<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-margin-top">{{"SEARCH_BLUETOOTH_DEVICES" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="research()" tappable fill="clear">
        <ion-icon class="ion-color-accent" name="refresh-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>

      @if(foundDevices.length <=0 && searchRunning === false) {
        <h2>{{'NO_DEVICES_FOUND_PLEASE_TRY_AGAIN' |translate}}</h2>
      }
      @if(foundDevices.length > 0) {
        <ion-radio-group [(ngModel)]="deviceSelection" (ngModelChange)='checkChanges()'>
        @for(device of foundDevices; track $index) {
          <ion-item lines='none' tappable>
            <ion-radio justify='start' label-placement='end' value='{{device.id}}'>
              @if(device.name) {
                <span>{{device.name}}</span>
              }
              @if(!device.name) {
                <span>?&nbsp;&nbsp;{{device.type}}</span>
              }
            </ion-radio>
          </ion-item>
        }
        </ion-radio-group>
      }
      @if(searchRunning === true) {
        <ion-spinner name="dots"></ion-spinner>
      }
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer class="ion-no-border">

  <ion-row class="ion-padding-top">
    <ion-col size="6">
      <ion-button (click)="close()" fill="outline" color="accent" expand="block" tappable>{{"CLOSE" | translate}}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="connect()" [disabled]='deviceSelection==="" || deviceSelection === undefined' color="accent" expand="block" tappable>{{"CONNECT" | translate}}</ion-button>
    </ion-col>
  </ion-row>


</ion-footer>
