:host {
  --max-height: 30%;
  top: 70%;
  position: absolute;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  border-radius: 6px;
  margin-block-end: 10px;

  @media (max-height: 568px) {
    --max-height: 60%;
    top: 40%;
  }
}
