<ion-content>

  <div class="ion-margin-horizontal popover">
    <form #addPreparationForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">{{"PREPARATION_TYPE_NAME" | translate}}*</ion-label>
        <ion-input #name="ngModel" [(ngModel)]="data.name" autocapitalize="sentences" name="name"
                   placeholder="{{'PREPARATION.PLACE_HOLDER.PREPARATION_TYPE_NAME' | translate}}" required
                   spellcheck="false" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{"PREPARATION_TYPE_STYLE" | translate}}*</ion-label>
        <ion-select #name="ngModel" [(ngModel)]="data.style_type" cancelText="{{'CANCEL'| translate }}"
                    name="style_type" okText="{{'CHOOSE'| translate }}">
          <ion-select-option value="{{PREPARATION_STYLE_TYPE.POUR_OVER}}">{{"PREPARATION_STYLE_POUR_OVER" | translate}}</ion-select-option>
          <ion-select-option value="{{PREPARATION_STYLE_TYPE.ESPRESSO}}">{{"PREPARATION_STYLE_ESPRESSO" | translate}}</ion-select-option>
          <ion-select-option value="{{PREPARATION_STYLE_TYPE.FULL_IMMERSION}}">{{"PREPARATION_STYLE_FULL_IMMERSION" | translate}}</ion-select-option>
          <ion-select-option value="{{PREPARATION_STYLE_TYPE.PERCOLATION}}">{{"PREPARATION_STYLE_PERCOLATION" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{"PREPARATION_TOOLS"}}</ion-label>
        <ion-input [(ngModel)]="nextToolName" name="nextToolName" type="text"></ion-input>

        <ion-button (click)="addTool()" fill="clear" tappable>
          <ion-icon color="accent" name="beanconqueror-add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <div>
        <ion-chip (click)="deleteTool(tool)" *ngFor="let tool of data.tools;let i=index;">{{tool.name}} <ion-icon name="close"></ion-icon></ion-chip>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="dismiss(false)" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="addPreparation()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
