:host {
  --max-height: 40%;
  top: 60%;
  position: absolute;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  border-radius: 6px;
  margin-block-end: 10px;

  @media (max-height: 568px) {
    --max-height: 70%;
    top: 30%;
  }
  @media (max-height: 400px) {
    --max-height: 100%;
    top: 0%;
  }
}
