<ion-card>

  <ion-item lines="none">
    <ion-label>{{"PAGE_SETTINGS_PRESET_LAST_BREW" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.manage_parameters.set_last_coffee_brew"></ion-checkbox>
  </ion-item>
</ion-card>
<ion-card *ngIf="data.manage_parameters.set_last_coffee_brew==true">

  <ion-title class="ion-padding-top">{{"SORT_PARAMETERS_BEFORE" | translate  }}</ion-title>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_GRIND_SIZE" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.grind_size"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_GRIND_WEIGHT" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.grind_weight"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_BREW_TEMPERATURE" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.brew_temperature"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_PREPARATION_METHOD" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.method_of_preparation"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_BEAN_TYPE" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.bean_type"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_MILL" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.mill"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_MILL_SPEED" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.mill_speed"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_MILL_TIMER" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.mill_timer"></ion-checkbox>
  </ion-item>
  <ion-item lines="none" tappable>
    <ion-label>{{"BREW_DATA_PRESSURE_PROFILE" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.pressure_profile"></ion-checkbox>
  </ion-item>
</ion-card>
<ion-card *ngIf="data.manage_parameters.set_last_coffee_brew==true">
  <ion-title class="ion-padding-top">{{"SORT_PARAMETERS_MEANWHILE" | translate  }}</ion-title>

  <ion-item tappable>
    <ion-label>{{"BREW_DATA_TEMPERATURE_TIME" | translate}} / {{"BREW_DATA_SURF_TIME" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.brew_temperature_time"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_TIME" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.brew_time"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.coffee_first_drip_time"></ion-checkbox>
  </ion-item>
  <ion-item lines="none" tappable>
    <ion-label>{{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.coffee_blooming_time"></ion-checkbox>
  </ion-item>
</ion-card>
<ion-card *ngIf="data.manage_parameters.set_last_coffee_brew==true">

  <ion-title class="ion-padding-top">{{"SORT_PARAMETERS_AFTER" | translate  }}</ion-title>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_BREW_QUANTITY" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.brew_quantity"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_COFFEE_TYPE" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.coffee_type"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.coffee_concentration"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_RATING" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.rating"></ion-checkbox>
  </ion-item>
  <ion-item  tappable>
    <ion-label>{{"BREW_DATA_NOTES" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.note"></ion-checkbox>
  </ion-item>
  <ion-item tappable>
    <ion-label>{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.brew_beverage_quantity"></ion-checkbox>
  </ion-item>
  <ion-item lines="none" tappable>
    <ion-label>{{"BREW_DATA_TDS" | translate}}</ion-label>
    <ion-checkbox (ngModelChange)="save()"
                  [(ngModel)]="data.default_last_coffee_parameters.tds"></ion-checkbox>
  </ion-item>
</ion-card>
