<ion-app>
  <ion-split-pane contentId="menu-content" when="false">
    <ion-menu contentId="menu-content" type="overlay">
      <ion-header>
        <ion-toolbar class="ion-text-center">
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon class="icon-black" name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>
            {{"NAV_MENU" | translate}}
          </ion-title>

          <ion-buttons slot="end">
            <!-- do not remove this line, we need this that the title is centered -->
            <ion-button (click)="dismiss()" style="visibility:hidden;">
              <ion-icon class="icon-black" name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-list class="no-label-margin" lines="none">
              <ion-item [routerLink]="[pages.home.url]" [class.active]="pages.home.active">
                <ion-label>{{pages.home.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.brew_parameter.active" [routerLink]="[pages.brew_parameter.url]">
                <ion-label> {{pages.brew_parameter.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.helper_brew_ratio.active" [routerLink]="[pages.helper_brew_ratio.url]">
                <ion-label> {{pages.helper_brew_ratio.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.helper_water_hardness.active"
                        [routerLink]="[pages.helper_water_hardness.url]">
                <ion-label> {{pages.helper_water_hardness.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.statistic.active" [routerLink]="[pages.statistic.url]">
                <ion-label>{{pages.statistic.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.settings.active" [routerLink]="[pages.settings.url]">
                <ion-label>{{pages.settings.title | translate}}</ion-label>
              </ion-item>
             </ion-list>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-list class="no-label-margin" lines="none">
          <ion-item [class.active]="pages.info.active" [routerLink]="[pages.info.url]">
            <ion-label>{{pages.info.title | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
