<ion-app>
  <ion-split-pane contentId="menu-content" when="false">
    <ion-menu contentId="menu-content" type="overlay">
      <ion-header>
        <ion-toolbar class="ion-text-center">
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon class="icon-black" name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>
            {{"NAV_MENU" | translate}}
          </ion-title>

          <ion-buttons slot="end">
            <!-- do not remove this line, we need this that the title is centered -->
            <ion-button (click)="dismiss()" style="visibility:hidden;">
              <ion-icon class="icon-black" name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-list class="no-label-margin" lines="none">
              <ion-item [routerLink]="[pages.home.url]" [class.active]="pages.home.active">
                <ion-label>{{pages.home.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.brew_parameter.active" [routerLink]="[pages.brew_parameter.url]">
                <ion-label> {{pages.brew_parameter.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.helper_brew_ratio.active" [routerLink]="[pages.helper_brew_ratio.url]">
                <ion-label> {{pages.helper_brew_ratio.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.helper_water_hardness.active"
                        [routerLink]="[pages.helper_water_hardness.url]">
                <ion-label> {{pages.helper_water_hardness.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.statistic.active" [routerLink]="[pages.statistic.url]">
                <ion-label>{{pages.statistic.title | translate}}</ion-label>
              </ion-item>
              <ion-item [class.active]="pages.settings.active" [routerLink]="[pages.settings.url]">
                <ion-label>{{pages.settings.title | translate}}</ion-label>
              </ion-item>
              <!--Without $event canceling the menu would close when toggling -->
              <ion-item class="no-border" (click)="toggleAbout =!toggleAbout; $event.stopPropagation();">
                <ion-icon class="menu-icon" item-left name="information-circle-outline"
                          style="color:rgba(0, 0, 0, 0.54);"></ion-icon>
                <div>

                  {{"NAV_INFORMATION_TO_APP" | translate}}
                </div>
                <ion-icon class="sub-menu-icon" item-right *ngIf="toggleAbout == false"
                          name="chevron-down-outline"></ion-icon>
                <ion-icon class="sub-menu-icon" item-right *ngIf="toggleAbout == true"
                          name="chevron-up-outline"></ion-icon>

              </ion-item>
              <ion-list *ngIf="toggleAbout" class="ion-no-padding" no-margin-important
                        style="margin-left:16px!important;">
                <ion-item [routerLink]="[pages.licences.url]" [class.active]="pages.licences.active">
                  <ion-icon class="menu-icon" name="{{pages.licences.icon}}"></ion-icon>
                  {{pages.licences.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.credits.url]" [class.active]="pages.credits.active">
                  <ion-icon class="menu-icon" name="{{pages.credits.icon}}"></ion-icon>
                  {{pages.credits.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.about.url]" [class.active]="pages.about.active">
                  <ion-icon class="menu-icon" name="{{pages.about.icon}}"></ion-icon>
                  {{pages.about.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.contact.url]" [class.active]="pages.contact.active">
                  <ion-icon class="menu-icon" name="{{pages.contact.icon}}"></ion-icon>
                  {{pages.contact.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.thanks.url]" [class.active]="pages.thanks.active">
                  <ion-icon class="menu-icon" name="{{pages.thanks.icon}}"></ion-icon>
                  {{pages.thanks.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.privacy.url]" [class.active]="pages.privacy.active">
                  <ion-icon class="menu-icon" name="{{pages.privacy.icon}}"></ion-icon>
                  {{pages.privacy.title | translate}}
                </ion-item>
                <ion-item [routerLink]="[pages.terms.url]" [class.active]="pages.terms.active">
                  <ion-icon class="menu-icon" name="{{pages.terms.icon}}"></ion-icon>
                  {{pages.terms.title | translate}}
                </ion-item>
                <ion-item [class.active]="pages.logs.active" [routerLink]="[pages.logs.url]">
                  <ion-icon class="menu-icon" name="{{pages.logs.icon}}"></ion-icon>
                  {{pages.logs.title | translate}}
                </ion-item>
              </ion-list>
              <ion-item [routerLink]="[pages.settings.url]" [class.active]="pages.settings.active">
                <ion-icon class="menu-icon" name="{{pages.settings.icon}}"></ion-icon>
                {{pages.settings.title | translate}}
              </ion-item>
             </ion-list>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
