// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.menu-icon {
  margin-right: 5px;
  width: 25px;
}
ion-card {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, .14);
  border-top: 5px solid #cfd7e1;
  padding:8px;
}

:root {
  --ion-color-primary: #a0b0c4;
}
.blockquote {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #cfd7e1;
  border: 1px solid #5b7391;
  font-style: italic;
}

[no-margin-important] {
  margin: 0px !important;
}
ion-label {
  white-space: normal;
}
ion-modal{
  --min-height:100%!important;
  --min-width:100%!important;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-horizontal-5 {
  margin-right: 5px;
  margin-left: 5px;
}
ion-toolbar{
  --background: #7189a7;
  --color:white;
}

ion-card-header {
  white-space: normal;
}

.checkbox-icon {
  border-radius: 0px !important;
}
ion-list.no-last-border .item-block:last-child {
  border-bottom: none !important;
}
ion-buttons[start] {
  order: 1;
  margin: 0 6px;
}

ion-buttons[start] button {
  min-width: 44px;
  box-shadow: none;
}


.navigation-menu {
  .item-block .item-inner, .item-block:first-child, .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {

  }
}
ion-list.no-label-margin ion-label {
  margin: 0px !important;
}
[no-margin-important] {
  margin: 0px !important;
}

.bean-icon {

  /*background: url(../assets/icon/bean.svg) no-repeat top left;*/
  background-size: contain;
  width: 80px;
  height: 35px;
  margin: 20px auto 0 auto;

}
.bean-icon {

  /*background: url(../assets/icon/grinder.svg) no-repeat top left;*/
  background-size: contain;
  width: 80px;
  height: 35px;
  margin: 20px auto 0 auto;

}

[text-italic]{
  font-style:italic;
}
[justify-content-start] .button-inner{
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

pre{
  font-family:inherit!important;
  margin:0px!important;
  white-space: pre-wrap;
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-mill"] {
    mask-image: url(../assets/svg/mill.svg);
  }
  &[class*="custom-filter"] {
    mask-image: url(../assets/svg/filter.svg);
  }

  &[class*="custom-coffee-bag"] {
    mask-image: url(../assets/svg/coffee-bag.svg);
  }
  &[class*="custom-coffee-blooming"] {
    mask-image: url(../assets/svg/coffee-blooming.svg);
  }
}

.position-absolute-button {
  position: absolute;
  top: 0;
  right: 0;
}

ion-alert.select-full-screen {
  .alert-wrapper {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
  }

  .alert-radio-label {
    white-space: normal !important;
  }

  .alert-radio-group {
    max-height: 100%;
    height: 100%;
  }

  // Applies a text wrap on ion options
  .alert-tappable.alert-radio {
    height: auto;
    contain: content;
  }


}

ion-alert.select-break-text {

  .alert-checkbox-label {
    white-space: normal !important;
  }

  .alert-tappable.alert-checkbox {
    height: auto;
    contain: content;
  }


}
