<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-list class="no-label-margin">
              <ion-item [routerLink]="[pages.home.url]" [class.active]="pages.home.active">
                <ion-icon class="menu-icon" name="{{pages.home.icon}}"></ion-icon>
                {{pages.home.title}}
              </ion-item>
              <ion-item [routerLink]="[pages.brew.url]" [class.active]="pages.brew.active">
                <i style="color:rgba(0, 0, 0, 0.54);" class="menu-icon fa {{pages.brew.icon}}"></i>
                {{pages.brew.title}}
              </ion-item>
              <ion-item [routerLink]="[pages.beans.url]" [class.active]="pages.beans.active">
                <ion-icon class="custom-coffee-beans"></ion-icon>
                {{pages.beans.title}}
              </ion-item>
              <ion-item [routerLink]="[pages.preparation.url]" [class.active]="pages.preparation.active">
                <ion-icon class="custom-filter"></ion-icon>
                {{pages.preparation.title}}
              </ion-item>
              <ion-item [routerLink]="[pages.mill.url]" [class.active]="pages.mill.active">
                <ion-icon class="custom-mill"></ion-icon>
                {{pages.mill.title}}
              </ion-item>
              <ion-item [class.active]="pages.statistic.active" [routerLink]="[pages.statistic.url]">
                <ion-icon class="menu-icon" name="{{pages.statistic.icon}}"></ion-icon>
                {{pages.statistic.title}}
              </ion-item>
              <!--Without $event canceling the menu would close when toggling -->
              <ion-item class="no-border" (click)="toggleAbout =!toggleAbout; $event.stopPropagation();">
                <div>
                  <ion-icon style="margin-right: 0px;color:rgba(0, 0, 0, 0.54);" class="menu-icon" item-left name="md-information-circle"></ion-icon>
                  Infos zur App
                </div>
                <ion-icon class="sub-menu-icon" item-right *ngIf="toggleAbout == false"
                          name="md-arrow-dropdown"></ion-icon>
                <ion-icon class="sub-menu-icon" item-right *ngIf="toggleAbout == true"
                          name="md-arrow-dropup"></ion-icon>

              </ion-item>
              <ion-list style="margin-left:16px!important;" no-margin-important no-padding *ngIf="toggleAbout">
                <ion-item [routerLink]="[pages.licences.url]" [class.active]="pages.licences.active">
                  <ion-icon class="menu-icon" name="{{pages.licences.icon}}"></ion-icon>
                  {{pages.licences.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.credits.url]" [class.active]="pages.credits.active">
                  <ion-icon class="menu-icon" name="{{pages.credits.icon}}"></ion-icon>
                  {{pages.credits.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.about.url]" [class.active]="pages.about.active">
                  <ion-icon class="menu-icon" name="{{pages.about.icon}}"></ion-icon>
                  {{pages.about.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.contact.url]" [class.active]="pages.contact.active">
                  <ion-icon class="menu-icon" name="{{pages.contact.icon}}"></ion-icon>
                  {{pages.contact.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.thanks.url]" [class.active]="pages.thanks.active">
                  <ion-icon class="menu-icon" name="{{pages.thanks.icon}}"></ion-icon>
                  {{pages.thanks.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.privacy.url]" [class.active]="pages.privacy.active">
                  <ion-icon class="menu-icon" name="{{pages.privacy.icon}}"></ion-icon>
                  {{pages.privacy.title}}
                </ion-item>
                <ion-item [routerLink]="[pages.terms.url]" [class.active]="pages.terms.active">
                  <ion-icon class="menu-icon" name="{{pages.terms.icon}}"></ion-icon>
                  {{pages.terms.title}}
                </ion-item>
              </ion-list>
              <ion-item [routerLink]="[pages.settings.url]" [class.active]="pages.settings.active">
                <ion-icon class="menu-icon" name="{{pages.settings.icon}}"></ion-icon>
                {{pages.settings.title}}
              </ion-item>
             </ion-list>




            <!--<ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>-->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
