<ion-card *ngIf="showSectionBeforeBrew()" class="popover" style="display:flex; flex-direction: column;">

  <ion-item lines="none">
    <span class="ion-title ion-padding-top">{{"BREW_HEADER_BEFORE_BREW" | translate }}</span>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_size,
                      data.getPreparation().manage_parameters.grind_size,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_size,
                      data.getPreparation().brew_order.before.grind_size,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_GRIND_SIZE" | translate}}</ion-label>
    <ion-input *ngIf="settings.use_numeric_keyboard_for_grind_size !== true" [(ngModel)]="data.grind_size"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_SIZE' | translate}}" type="text"></ion-input>

    <ion-input *ngIf="settings.use_numeric_keyboard_for_grind_size === true" [(ngModel)]="data.grind_size"
      inputmode="decimal" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_SIZE' | translate}}" prevent-characters
      remove-empty-number type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight,
                      data.getPreparation().manage_parameters.grind_weight,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_weight,
                      data.getPreparation().brew_order.before.grind_weight,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_GRIND_WEIGHT" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.grind_weight" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_GRIND_WEIGHT' | translate}}" prevent-characters remove-empty-number
      tabIndex="1" type="text"></ion-input>
    <ion-button (click)="brewRatioCalculator()" class="big-icon-only" fill="clear" slot="end" style="margin-left:0px;"
      tabIndex="2" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-brew-ratio" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="bluetoothScaleSetGrindWeight()" *ngIf="smartScaleConnected()" style="margin-left:0px;"
      tabIndex="3" class="big-icon-only" fill="clear" slot="end" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-smart-scale" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature,
                      data.getPreparation().manage_parameters.brew_temperature,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.brew_temperature,
                      data.getPreparation().brew_order.before.brew_temperature,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_BREW_TEMPERATURE" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.brew_temperature" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_TEMPERATURE' | translate}}" prevent-characters
      remove-empty-number type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation,
                      data.getPreparation().manage_parameters.method_of_preparation,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation,
                      data.getPreparation().brew_order.before.method_of_preparation,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_PREPARATION_METHOD" | translate}}</ion-label>
    <ion-select [(ngModel)]="data.method_of_preparation"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}" [show-finished]="false"
      preparation-overlay (click)="preparationMethodFocused()" (ionChange)='resetPreparationTools()'>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.bean_type,
                      data.getPreparation().manage_parameters.bean_type,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_BEAN_TYPE" | translate}}</ion-label>
    <ion-select [(ngModel)]="data.bean" bean-overlay [show-finished]="false"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BEAN_TYPE' | translate}}">
    </ion-select>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill,
                      data.getPreparation().manage_parameters.mill,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill,
                      data.getPreparation().brew_order.before.mill,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_MILL" | translate}}</ion-label>
    <ion-select [(ngModel)]="data.mill" mill-overlay [show-finished]="false"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL' | translate}}">
    </ion-select>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_speed,
                      data.getPreparation().manage_parameters.mill_speed,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_speed,
                      data.getPreparation().brew_order.before.mill_speed,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_MILL_SPEED" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.mill_speed" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL_SPEED' | translate}}" prevent-characters remove-empty-number
      type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_timer,
                      data.getPreparation().manage_parameters.mill_timer,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_timer,
                      data.getPreparation().brew_order.before.mill_timer,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_MILL_TIMER" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.mill_timer" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_MILL_TIMER' | translate}}" prevent-characters remove-empty-number
      type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.pressure_profile,
                      data.getPreparation().manage_parameters.pressure_profile,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.pressure_profile,
                      data.getPreparation().brew_order.before.pressure_profile,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_PRESSURE_PROFILE" | translate}}</ion-label>
    <ion-input (ionFocus)="onProfileSearchFocus($event);" (ionBlur)="onProfileSearchLeave($event)"
      (ionChange)="onProfileSearchChange($event)" [(ngModel)]="data.pressure_profile" autocapitalize="sentences"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PRESSURE_PROFILE' | translate}}" spellcheck="false"
      type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="profileResultsAvailable && uiBrewHelper.fieldVisible(settings.manage_parameters.pressure_profile,
                      data.getPreparation().manage_parameters.pressure_profile,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.pressure_profile,
                      data.getPreparation().brew_order.before.pressure_profile,
                      data.getPreparation().use_custom_parameters)" lines="none"
    style="margin-top: 5px;margin-bottom: 5px;">
    <ion-list style="width: 100%; max-height: 200px; overflow-y: auto; background: #F2F2F2;">
      <ion-item (click)="profileSelected(result)" *ngFor="let result of profileResults;let last = last" button
        lines="{{last?'none':''}}" style="--background:#F2F2F2">
        <ion-label>{{result}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation_tool,
                      data.getPreparation().manage_parameters.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)"
    [disabled]="getActivePreparationTools().length <= 0" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation_tool,
                      data.getPreparation().brew_order.before.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}</ion-label>

    <ion-select [(ngModel)]="data.method_of_preparation_tools"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}" [show-finished]="true"
      multiple="true" [preparation-id]="data.method_of_preparation" preparation-tool-overlay></ion-select>

    <!-- <ion-select [(ngModel)]="data.method_of_preparation_tools" cancelText="{{'CANCEL'| translate }}" color="accent" multiple="true" name="method_of_preparation_tools"  okText="{{'CHOOSE'| translate }}" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD_TOOL' | translate}}">
      <ion-select-option *ngFor="let tool of getActivePreparationTools()" value="{{tool.config.uuid}}">{{tool.name}}</ion-select-option>
      <ion-select-option *ngFor="let archivedTools of getChoosenPreparationToolsWhichAreArchived()"  value="{{archivedTools.config.uuid}}" disabled="true">{{archivedTools.name}}</ion-select-option>
    </ion-select>-->
  </ion-item>

  <ion-item [disabled]="!hasWaterEntries()" *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.water,
                      data.getPreparation().manage_parameters.water,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.water,
                      data.getPreparation().brew_order.before.water,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_WATER" | translate}}</ion-label>

    <ion-select [(ngModel)]="data.water" water-overlay [show-finished]="isEdit === true"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_WATER' | translate}}">
    </ion-select>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.bean_weight_in,
                      data.getPreparation().manage_parameters.bean_weight_in,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_weight_in,
                      data.getPreparation().brew_order.before.bean_weight_in,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_BEAN_WEIGHT_IN" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.bean_weight_in" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BEAN_WEIGHT_IN' | translate}}" prevent-characters remove-empty-number
      type="text"></ion-input>
    <ion-button *ngIf="smartScaleConnected()" style="margin-left:0px;" (click)="bluetoothScaleSetBeanWeightIn()"
      tabIndex="1" class="big-icon-only" fill="clear" slot="end" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-smart-scale" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.vessel,
                      data.getPreparation().manage_parameters.vessel,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.vessel,
                      data.getPreparation().brew_order.before.vessel,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-row style="width:100%" class="ion-no-padding">
      <ion-col class="ion-no-padding" size="7">
        <ion-label position="stacked">{{"BREW_DATA_VESSEL_NAME" | translate}}</ion-label>
        <ion-input (ionFocus)="onVesselSearchFocus($event);" (ionBlur)="onVesselSearchLeave($event)"
          (ionChange)="onVesselSearchChange($event)" [(ngModel)]="data.vessel_name"
          placeholder="{{'BREW_DATA_VESSEL_NAME' | translate}}" type="text"></ion-input>
      </ion-col>
      <ion-col class="ion-no-padding" size="5">
        <ion-label position="stacked">{{"BREW_DATA_VESSEL_WEIGHT" | translate}}</ion-label>
        <ion-input [(ngModel)]="data.vessel_weight" inputmode="decimal"
          placeholder="{{'BREW_DATA_VESSEL_WEIGHT' | translate}}" prevent-characters remove-empty-number
          type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item *ngIf="vesselResultsAvailable && uiBrewHelper.fieldVisible(settings.manage_parameters.vessel,
                      data.getPreparation().manage_parameters.vessel,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.vessel,
                      data.getPreparation().brew_order.before.vessel,
                      data.getPreparation().use_custom_parameters)" lines="none"
    style="margin-top: 5px;margin-bottom: 5px;">
    <ion-list style="width: 100%; max-height: 200px; overflow-y: auto; background: #F2F2F2;">
      <ion-item (click)="vesselSelected(result)" *ngFor="let result of vesselResults;let last = last" button
        lines="{{last?'none':''}}" style="--background:#F2F2F2">
        <ion-label>{{result.name}} - {{result.weight}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <div class="last-item"></div>
</ion-card>
<ion-card *ngIf="preparationDeviceConnected()" class="popover" style="display:flex; flex-direction: column;">
  <ion-item lines="none">
    <span class="ion-title ion-padding-top">{{"PREPARATION_DEVICE.TYPE_XENIA.TITLE" | translate }}</span>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="stacked">{{"PREPARATION_DEVICE.TYPE_XENIA.PRESS_START_SCRIPT" | translate}}</ion-label>
    <ion-select [interfaceOptions]="customXeniaOptions" [(ngModel)]="data.preparationDeviceBrew?.params.scriptStartId" (ionChange)='checkXeniaScripts()'
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}">
      <ion-select-option [value]="0">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_0" | translate}}
      </ion-select-option>
      <ion-select-option [value]="1">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_1" | translate}}
      </ion-select-option>
      <ion-select-option [value]="2">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_2" | translate}}
      </ion-select-option>
      <ion-select-option *ngFor='let script of preparationDevice?.scriptList' [value]='script.INDEX'>
        {{script.TITLE}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="inset"
    [disabled]="!(data.preparationDeviceBrew?.params.scriptStartId > 0 && (uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) && getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO))">
    <ion-label position="stacked">{{"PREPARATION_DEVICE.TYPE_XENIA.FIRST_DRIP_SCRIPT" | translate}}</ion-label>
    <ion-select [interfaceOptions]="customXeniaOptions" [(ngModel)]="data.preparationDeviceBrew?.params.scriptAtFirstDripId"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}">
      <ion-select-option [value]="0">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_0" | translate}}
      </ion-select-option>
      <ion-select-option [value]="1">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_1" | translate}}
      </ion-select-option>
      <ion-select-option [value]="2">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_2" | translate}}
      </ion-select-option>
      <ion-select-option *ngFor='let script of preparationDevice?.scriptList' [value]='script.INDEX'>
        {{script.TITLE}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item [disabled]="!(data.preparationDeviceBrew?.params.scriptStartId > 0 && smartScaleConnected())" lines="none">
    <ion-label position="stacked">{{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_AT_WEIGHT" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.preparationDeviceBrew?.params.scriptAtWeightReachedNumber" inputmode="decimal" prevent-characters
      remove-empty-number tabIndex="1" type="text"></ion-input>
  </ion-item>
  <ion-item [disabled]="!(data.preparationDeviceBrew?.params.scriptStartId > 0 && smartScaleConnected() && data.preparationDeviceBrew?.params.scriptAtWeightReachedNumber>0)" lines="inset">
    <ion-label position="stacked">{{"PREPARATION_DEVICE.TYPE_XENIA.CHOOSE_SCRIPT_AT_WEIGHT" | translate}}</ion-label>
    <ion-select [interfaceOptions]="customXeniaOptions" [(ngModel)]="data.preparationDeviceBrew?.params.scriptAtWeightReachedId"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_PREPARATION_METHOD' | translate}}">
      <ion-select-option [value]="0">
        {{"PREPARATION_DEVICE.TYPE_XENIA.SCRIPT_LIST_GENERAL_STOP" | translate}}
      </ion-select-option>
      <ion-select-option *ngFor='let script of preparationDevice?.scriptList' [value]='script.INDEX'>
        {{script.TITLE}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>
<ion-card *ngIf="showSectionWhileBrew()" class="popover" style="display:flex; flex-direction: column;">


  <ion-item lines="none">
    <span class="ion-title ion-padding-top">{{"BREW_HEADER_WHILE_BREW" | translate }}</span>

    <ion-button (click)="downloadFlowProfile()"
      *ngIf="flow_profile_raw?.weight.length > 0 || flow_profile_raw?.pressureFlow.length > 0 || flow_profile_raw?.temperatureFlow.length > 0"
      fill="clear" slot="end" style="margin-top: -4px;" tappable>
      <ion-icon name="download" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="maximizeFlowGraph()" *ngIf="!shallFlowProfileBeHidden()" fill="clear" slot="end" tappable>
      <ion-icon name="expand-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature_time,
                      data.getPreparation().manage_parameters.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_temperature_time,
                      data.getPreparation().brew_order.while.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <timer #brewTemperatureTime (timerTicked)="temperatureTimeChanged($event)"
      label="{{'BREW_DATA_TEMPERATURE_TIME' | translate}}" timeInSeconds="0"></timer>
  </ion-item>
  <ion-item [hidden]="shallFlowProfileBeHidden()" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)" class="ion-padding-bottom-half" lines="none">
    <div class="ion-text-center" style="width:100%">
      <ion-chip (click)="toggleChartLines('weight')" *ngIf="smartScaleConnected()"
        [outline]="!this.weightTrace?.visible" class="weight">{{'BREW_FLOW_WEIGHT' | translate}}</ion-chip>
      <ion-chip (click)="toggleChartLines('calc_flow')" *ngIf="smartScaleConnected()"
        [outline]="!this.flowPerSecondTrace?.visible" class="flowcalculated">{{'BREW_FLOW_WEIGHT_PER_SECOND' |
        translate}}</ion-chip>
      <ion-chip (click)="toggleChartLines('realtime_flow')" *ngIf="smartScaleConnected()"
        [outline]="!this.realtimeFlowTrace?.visible" class="flowreal">{{'BREW_FLOW_WEIGHT_REALTIME' |
        translate}}</ion-chip>
      <ion-chip (click)="toggleChartLines('pressure')" *ngIf="pressureDeviceConnected() && getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
        [outline]="!this.pressureTrace?.visible" class="pressure">{{'BREW_PRESSURE_FLOW' | translate}}</ion-chip>
      <ion-chip (click)="toggleChartLines('temperature')" *ngIf="temperatureDeviceConnected()"
        [outline]="!this.temperatureTrace?.visible" class="temperature">{{'BREW_TEMPERATURE_REALTIME' |
        translate}}</ion-chip>
    </div>
  </ion-item>
  <ion-item [hidden]="shallFlowProfileBeHidden()" lines="none" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">
    <ion-grid class="ion-text-center ion-no-padding brew-information-panel">
      <ion-row style="padding-bottom:5px;">
        <ion-col *ngIf='smartScaleConnected()' size="{{this.getGraphIonColSize()}}"
                 style="padding-right:5px;">
          <ion-card class="flow-profile ion-text-center weight-card" style="height: 100%;">
            <ion-card-header>
              <div #smartScaleWeight>? g</div>
              <div>({{data.getBrewRatio()}})</div>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="beanconqueror-scale-outline"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col *ngIf='smartScaleConnected()' size="{{this.getGraphIonColSize()}}"
                 style="padding-right:5px;">
          <ion-card class="flow-profile ion-text-center flow-card" style="height: 100%;">
            <ion-card-header>
              <div #smartScaleWeightPerSecond>? g/s</div>
              <div #smartScaleAvgFlowPerSecond>? g/s</div>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="water-outline"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col (click)="resetPressure()" *ngIf="pressureDeviceConnected() && getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO" style="padding-right:5px;"
                 size="{{this.getGraphIonColSize()}}">
          <ion-card class="flow-profile ion-text-center pressure-card" style="height: 100%;">
            <ion-card-header>
              <div #pressure>? bar</div>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="beanconqueror-pressure"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="temperatureDeviceConnected()"
                 size="{{this.getGraphIonColSize()}}">
          <ion-card class="flow-profile ion-text-center temperature-card" style="height: 100%;">
            <ion-card-header>
              <div #temperature>? °C</div>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="thermometer-outline"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item class="ion-margin-top" [hidden]="shallFlowProfileBeHidden()" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">


    <div style="width:100%;height:100%;" id="canvasContainerBrew">
      <div id="flowProfileChart"></div>
    </div>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time,
                      data.getPreparation().manage_parameters.brew_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <brew-timer #timer (bloomTimer)="setCoffeeBloomingTime($event)" (dripTimer)="setCoffeeDripTime($event)"
      (timerTicked)="brewTimeTicked($event)" (timerStartPressed)="timerStartPressed($event)"
      (timerResumedPressed)="timerResumedPressed($event)" (timerStarted)="timerStarted($event)"
      (timerResumed)="timerResumed($event)" (timerPaused)="timerPaused($event)" (timerReset)="timerReset($event)"
      (tareScale)="tareScale($event)" [bloomTimerVisible]="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_blooming_time,
                      data.getPreparation().manage_parameters.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)"
      [dripTimerVisible]="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) && getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
      label="{{'BREW_DATA_TIME' | translate}}"></brew-timer>
  </ion-item>

  <ion-item
    *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time && settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.brew_time && data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) &&  data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
    [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)" lines="full">
    <ion-label>
      {{'BREW_DATA_CALCULATED_COFFEE_BREW_TIME' | translate}}: {{data.getFormattedCoffeeBrewTime()}}
    </ion-label>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_blooming_time,
                      data.getPreparation().manage_parameters.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_blooming_time,
                      data.getPreparation().brew_order.while.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <timer #brewCoffeeBloomingTime hide-control-buttons="true" (timerTicked)="coffeeBloomingTimeChanged($event)"
      label="{{'BREW_DATA_COFFEE_BLOOMING_TIME' | translate}}"></timer>
    <!--<ion-input [(ngModel)]="data.coffee_blooming_time" inputmode="decimal"
               placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_BLOOMING_TIME' | translate}}" prevent-characters
               remove-empty-number
               type="text"></ion-input>-->

  </ion-item>
  <ion-item
    *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
    [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_first_drip_time,
                      data.getPreparation().brew_order.while.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <timer #brewFirstDripTime hide-control-buttons="true" (timerTicked)="coffeeFirstDripTimeChanged($event)"
      label="{{'BREW_DATA_COFFEE_FIRST_DRIP_TIME' | translate}}"></timer>
    <!--<ion-input [(ngModel)]="data.coffee_first_drip_time" inputmode="decimal"
               placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_FIRST_DRIP_TIME' | translate}}" prevent-characters
               remove-empty-number
               type="text"></ion-input>-->
  </ion-item>
  <div class="last-item"></div>
</ion-card>
<ion-card *ngIf="showSectionAfterBrew()" class="popover" style="clear:both;display:flex; flex-direction: column;">
  <ion-item lines="none">
    <span class="ion-title ion-padding-top">{{"BREW_HEADER_AFTER_BREW" | translate }}</span>
  </ion-item>
  <ion-item
    *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_quantity,
                      data.getPreparation().manage_parameters.brew_quantity,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type !== PREPARATION_STYLE_TYPE.ESPRESSO"
    [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_quantity,
                      data.getPreparation().brew_order.after.brew_quantity,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-row style="width:100%">
      <ion-col class="ion-no-padding" size="10">
        <ion-item class="ion-no-margin-important">
          <ion-label position="stacked">
            <h2>{{"BREW_DATA_BREW_QUANTITY" | translate}}</h2>
            <p style="top: -7px; position: relative;">({{data.getBrewRatio()}} , {{data.getGramsPerLiter()}})</p>
          </ion-label>
          <ion-input [(ngModel)]="data.brew_quantity" inputmode="decimal"
            placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_QUANTITY' | translate}}" prevent-characters
            remove-empty-number type="text" tabIndex="2"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-end" size="2">
        <ion-item class="ion-no-margin-important">
          <ion-select #brewQuantityType="ngModel" [(ngModel)]="data.brew_quantity_type"
            cancelText="{{'CANCEL'| translate }}" name="brewQuantityType" okText="{{'CHOOSE'| translate }}"
            style="max-width:100%;">
            <ion-select-option *ngFor="let key of brewQuantityTypeEnums | keys" value="{{key}}">
              {{brewQuantityTypeEnums[key]}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="smartScaleConnected()" style="margin-left:0px;" (click)="bluetoothScaleSetBrewQuantityWeight()"
      tabIndex="1" class="big-icon-only" fill="clear" slot="end" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-smart-scale" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_type,
                      data.getPreparation().manage_parameters.coffee_type,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_type,
                      data.getPreparation().brew_order.after.coffee_type,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_COFFEE_TYPE" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.coffee_type" placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_TYPE' | translate}}"
      type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_concentration,
                      data.getPreparation().manage_parameters.coffee_concentration,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_concentration,
                      data.getPreparation().brew_order.after.coffee_concentration,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.coffee_concentration"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_COFFEE_CONCENTRATION' | translate}}" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.rating,
                      data.getPreparation().manage_parameters.rating,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.rating,
                      data.getPreparation().brew_order.after.rating,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
        style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(data.rating,2)}}</ion-badge>
    </ion-label>
    <ion-range (ionChange)="changedRating()" [(ngModel)]="data.rating" [max]="maxBrewRating" min="-1" snaps="true"
      [step]="settings.brew_rating_steps">

      <div slot="end" *ngIf="maxBrewRating=== 5 && settings.brew_rating_steps === 1">
        <ngx-stars #brewStars [color]="'#BFB9B0'" [initialStars]="data.rating" [maxStars]="5" [readonly]="true"
          [wholeStars]="true" class="ion-float-right brew-stars"></ngx-stars>
      </div>
      <div slot="end" *ngIf="maxBrewRating !== 5">
        {{this.uiHelper.toFixedIfNecessary(data.rating,0)}}
      </div>
    </ion-range>

  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.note,
                      data.getPreparation().manage_parameters.note,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.note,
                      data.getPreparation().brew_order.after.note,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_NOTES" | translate }}</ion-label>
    <ion-textarea [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true" autocorrect="true"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_NOTES' | translate}}" rows="5" spellcheck="true"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_beverage_quantity,
                      data.getPreparation().manage_parameters.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_beverage_quantity,
                      data.getPreparation().brew_order.after.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-grid class="ion-no-padding">


      <ion-row style="width:100%">
        <ion-col class="ion-no-padding" size="10">
          <ion-item class="ion-no-margin-important">
            <ion-label position="stacked">
              <h2>{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate}}</h2>
              <p style="top: -7px; position: relative;"
                *ngIf="data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO || (data.brew_quantity <=0 && data.brew_beverage_quantity >0)">
                ({{data.getBrewRatio()}} , {{data.getGramsPerLiter()}})</p>
            </ion-label>
            <ion-input [(ngModel)]="data.brew_beverage_quantity" inputmode="decimal"
              placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_BREW_BEVERAGE_QUANTITY' | translate}}" prevent-characters
              remove-empty-number type="text" tabIndex="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding ion-align-self-end" size="2">
          <ion-item class="ion-no-margin-important">
            <ion-select #brewBeverageQuantityType="ngModel" [(ngModel)]="data.brew_beverage_quantity_type"
              cancelText="{{'CANCEL'| translate }}" name="brewQuantityType" okText="{{'CHOOSE'| translate }}"
              style="max-width:100%;">
              <ion-select-option *ngFor="let key of brewQuantityTypeEnums | keys" value="{{key}}">
                {{brewQuantityTypeEnums[key]}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button style="margin-left:0px;" (click)="calculateBrewBeverageQuantity()" class="big-icon-only" fill="clear"
      slot="end" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-calculator" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button *ngIf="smartScaleConnected()" style="margin-left:0px;"
      (click)="bluetoothScaleSetBrewBeverageQuantityWeight()" tabIndex="1" class="big-icon-only" fill="clear" slot="end"
      tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-smart-scale" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_DATA_TDS" | translate}}</ion-label>
    <ion-input [(ngModel)]="data.tds" inputmode="decimal"
      placeholder="{{'BREW.PLACE_HOLDER.BREW_DATA_TDS' | translate}}" prevent-characters remove-empty-number
      type="text"></ion-input>
    <ion-button (click)="calculateBrixToTds()" class="big-icon-only" fill="clear" slot="end" tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-refractometer" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight && settings.manage_parameters.brew_beverage_quantity && settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.grind_weight && data.getPreparation().manage_parameters.brew_beverage_quantity && data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label>
      {{'BREW_DATA_CALCULATED_EXTRACTION_YIELD' | translate}}: {{data.getExtractionYield()}}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.set_custom_brew_time,
                      data.getPreparation().manage_parameters.set_custom_brew_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.set_custom_brew_time,
                      data.getPreparation().brew_order.after.set_custom_brew_time,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <ion-label position="stacked">{{"BREW_CREATION_DATE" | translate }}</ion-label>


    <ion-input readonly (click)="chooseDateTime($event);" [(data)]="customCreationDate" [transform-date]
      displayFormat="DD.MM.YYYY HH:mm"></ion-input>

  </ion-item>
  <div *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.attachments,
                      data.getPreparation().manage_parameters.attachments,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.attachments,
                      data.getPreparation().brew_order.after.attachments,
                      data.getPreparation().use_custom_parameters)" lines="inset">
    <photo-add [(data)]="data"></photo-add>
  </div>
  <div class="last-item"></div>

</ion-card>
