:host {

  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
    --background: var(--app-item-background);
    color: var(--app-text);
  }

  ion-button:focus {
    outline: none;
  }

  ::ng-deep ion-slides img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: contain;
  }

  ion-card {
    background: var(--app-card-background);
    color: var(--app-text);
    
    div.last-item {
      margin-bottom: 16px;
      /*Last one*/
      order: 10000;
    }

  }

  // Fix section headers for dark mode
  .ion-title {
    color: var(--app-text);
    font-weight: bold;
  }

}

