:host {


  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  ::ng-deep ion-slides img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: contain;
  }

  ion-card
  {
    div.last-item {
      margin-bottom:16px;
      /*Last one*/
      order:10000;
    }

  }


  ion-card.flow-profile {
    margin:0px;
    ion-card-header {
      color: #FFFFFF;
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      min-height: 60px;
      padding: 8px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    ion-card-content {
      padding-top: 8px;
      color: #000000;
      padding-bottom: 4px;
    }

  }


}
