<ion-header>
  <app-header [title]="'NAV_BREWS' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content #associatedBrewsComponent>
    @if(associatedBrews?.length > 0) {
      <!--We stay at 100vh, because else ALL brew instances are rendered with 100vh just the needed once are rendered - very strange -->
      <ag-virtual-scroll #openScrollAssociatedBrews [items]="associatedBrews"  [height]="'100vh'" [min-row-height]="180">
        @for(brew of openScrollAssociatedBrews.items; track brew.config.uuid) {
          <brew-information [collapsed]="isCollapsed" (brewAction)="brewAction()"
                            [brew]="brew"></brew-information>
        }
      </ag-virtual-scroll>
    } @else {
      <div class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_BREWS_NO_ENTRIES" | translate}}
        </div>
      </div>
    }
</ion-content>
