<ion-header>
  <ion-toolbar>
    <ion-title>{{"NAV_BREWS" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #brewContent>
  <div *ngIf="associatedBrews?.length == 0" class="ion-padding ion-text-center">
    <div>
      <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
    </div>
    <div class="text-color-inactive ion-margin-top">
      {{"PAGE_BREWS_NO_ENTRIES" | translate}}
    </div>
  </div>

  <ag-virtual-scroll #openScroll [items]="associatedBrews" height="100vh" min-row-height="180">
    <brew-information (brewAction)="brewAction($event[0],$event[1])" *ngFor="let brew of openScroll.items"
                      [brew]="brew"></brew-information>

  </ag-virtual-scroll>

</ion-content>
