:host {
  ion-item {
    margin-left: 16px;
    margin-right: 0px;
    line-height: 12px;
    font-size: 12px;
    --background: var(--app-item-background);
    color: var(--app-text);
  }
  ion-card-content {
    background: var(--app-card-background);
  }
}
