<ion-content>
    <form #addMillForm="ngForm" novalidate>
      <ion-item lines="none">
        <ion-label position="stacked">{{"NAME" | translate}}*</ion-label>
        <ion-input #name="ngModel" [(ngModel)]="data.name" name="name"
                   placeholder="{{'MILL.PLACE_HOLDER.NAME' | translate}}" spellcheck="false" type="text"
                   autocapitalize="sentences" required>
        </ion-input>
      </ion-item>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline">{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addMill(addMillForm)" color="accent" disable-double-click expand="block"
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
