<ion-header>
  <ion-toolbar>
    <ion-title>{{"ADD_SOMETHING" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #addMillForm="ngForm" novalidate>
    <ion-item>
      <ion-label floating>{{"NAME" | translate}}*</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" type="text" #name="ngModel" spellcheck="false"
                 autocapitalize="sentences" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"NOTES" | translate}}</ion-label>
      <ion-textarea #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                    autocorrect="true" name="note" rows="5" spellcheck="true"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CANCEL" | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="addMill(addMillForm)" expand="block" type="submit">{{"GENERATE" | translate}}</ion-button>
      </ion-col>

    </ion-row>
  </form>
</ion-content>
