<ion-header>
  <app-header [title]="'EDIT_ROASTING_MACHINE' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>
  <ion-card class="popover">
    <form #editRoastingMachine="ngForm" novalidate>
      <ion-item>
        <ion-input label-placement="stacked" label='{{"NAME" | translate}}*' aria-labelledby='roastMachineName' #name="ngModel" [(ngModel)]="data.name" name="name"
                   placeholder="{{'ROASTING_MACHINE.PLACE_HOLDER.NAME' | translate}}" spellcheck="false" type="text"
                   autocapitalize="sentences" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox label-placement='start' #finished="ngModel" [(ngModel)]="data.finished" name="finished">
          <div class='ion-label'>{{"ARCHIVED"|translate}}?</div>
        </ion-checkbox>
      </ion-item>
      <ion-item lines="none">
        <ion-label id='note' position="stacked">{{"NOTES" | translate}}</ion-label>
        <ion-textarea aria-labelledby='note' style='margin-top:20px;' #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                      placeholder="{{'ROASTING_MACHINE.PLACE_HOLDER.NOTES' | translate}}"
                      autocorrect="true" name="note" rows="5" spellcheck="true"></ion-textarea>
      </ion-item>
      <photo-add [(data)]="data"></photo-add>
    </form>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="edit(editRoastingMachine)" color="accent" expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
