<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="margin-top:12px;">
      {{"NAV_DEFAULT_PARAMETERS" | translate}}
      <p class="subtitle">{{"PAGE_DEFAULT_PARAMETERS_DESCRIPTION" | translate }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <default-custom-parameter [data]="settings">

  </default-custom-parameter>

</ion-content>
