<ion-header translucent>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>
      <h2>{{"BEAN_DATA_NAME" | translate}}:</h2>
      <h3>{{data.name}}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Average Brew Rating</h2>
      <h3>{{calculateAverageBeanRating(this.data.getBrews())}}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
      style="vertical-align: top;">{{data.rating | toFixed: 2}}</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item style='margin-top:-10px;'  >
    <ion-range (ionChange)="changedRating()" [(ngModel)]="data.rating" [max]="maxBeanRating" min="0" snaps="true" [step]="settings?.bean_rating_steps">

      <div slot="end" *ngIf="maxBeanRating === 5 && settings.bean_rating_steps === 1">
        <ngx-stars #beanRating [color]="'#BFB9B0'"  [initialStars]="data.rating"  [maxStars]="5"  [readonly]="true" [wholeStars]="true" class="ion-float-right brew-stars" ></ngx-stars>
      </div>

    </ion-range>
  </ion-item>
  <ion-item class="ion-margin-bottom">
    <ion-label id='note' position="stacked">{{"NOTES" | translate }}</ion-label>
    <ion-textarea style='margin-top:20px;' aria-labelledby='note' #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                  autocorrect="true" [autoGrow]="true"
                  name="note" placeholder="{{'BEAN.PLACE_HOLDER.NOTES' | translate}}" rows="5" spellcheck="true"></ion-textarea>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="archive()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"ARCHIVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
