<ion-header>
  <ion-toolbar>
    <ion-title>{{"ADD_BEAN" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="confirmDismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment scrollable="true" [(ngModel)]="bean_segment" class="ion-padding-vertical" style="width:100%;padding-top:0px;">
    @if (data?.bean_roast_information?.bean_uuid != '') {
      <ion-segment-button value="roastinformation">
        <ion-label>{{"BEAN_TAB_ROAST_INFORMATION" | translate }}
        </ion-label>
      </ion-segment-button>
    }
    <ion-segment-button value="general">
      <ion-label>{{"BEAN_TAB_GENERAL_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (settings.freeze_coffee_beans) {
      <ion-segment-button value="frozen">
        <ion-label>{{"BEAN_TAB_FROZEN_INFORMATION" | translate }}
        </ion-label>
      </ion-segment-button>
    }
    @if (uiBeanHelper.fieldVisible(settings.bean_manage_parameters.bean_information)) {
      <ion-segment-button value="sortinformation">
        <ion-label>{{"BEAN_TAB_SORT_INFORMATION" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>
  <div>
    @switch (bean_segment) {
      @case ('roastinformation') {
        <div>
          @if (data) {
            <bean-roast-information [(data)]="data"></bean-roast-information>
          }
        </div>
      }
      @case ('general') {
        <div>
          @if (data) {
            <bean-general-information #beanGeneralInformation [(data)]="data"></bean-general-information>
          }
        </div>
      }
      @case ('frozen') {
        <div>
          @if (data) {
            <bean-freeze-information [(data)]="data"></bean-freeze-information>
          }
        </div>
      }
      @case ('sortinformation') {
        <div>
          @if (data) {
            <bean-sort-information [(data)]="data"></bean-sort-information>
          }
        </div>
      }
    }
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="confirmDismiss()" color="accent" expand="block" fill="outline"
      tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addBean()" color="accent" disable-double-click expand="block" tappable
      type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
