<ion-header>
  <ion-toolbar>
    <ion-title>{{"BACK" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="scaleFontSmaller()">
        <ion-icon slot="icon-only"  class="fa fa-search-minus"></ion-icon>
      </ion-button>
      <ion-button (click)="scaleFontBigger()">
        <ion-icon slot="icon-only" class="fa fa-search-plus"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!uiBrewHelper.canBrew()" (click)="addBrew()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="overflow:scroll;">
    <table style="font-size: 14px;" #tableEl>
      <thead>
      <tr>
        <th>
          {{"DAY" | translate}}
        </th>
        <th *ngIf="settings.grind_size === true">
          {{"BREW_DATA_GRIND_SIZE" | translate}}
        </th>
        <th *ngIf="settings.grind_weight === true">
          {{"BREW_DATA_GRIND_WEIGHT" | translate}}
        </th>
        <th *ngIf="settings.method_of_preparation === true">
          {{"BREW_DATA_PREPARATION_METHOD" | translate}}
        </th>
        <th  *ngIf="settings.bean_type === true">
          {{"BREW_DATA_BEAN_TYPE" | translate}}
        </th>
        <th  *ngIf="settings.brew_temperature === true">
          {{"BREW_DATA_BREW_TEMPERATURE" | translate}}
        </th>
        <th *ngIf="settings.brew_temperature_time === true">
          {{'BREW_DATA_TEMPERATURE_TIME' | translate}}
        </th>
        <th *ngIf="settings.brew_time === true">
          {{'BREW_DATA_TIME' | translate}}
        </th>
        <th *ngIf="settings.brew_quantity === true">
          {{"BREW_DATA_BREW_QUANTITY" | translate}}
        </th>
        <th  *ngIf="settings.note === true">
          {{"BREW_DATA_NOTES" | translate }}
        </th>
        <th *ngIf="settings.rating === true">
          {{"BREW_DATA_RATING" | translate }}
        </th>
        <th *ngIf="settings.coffee_type=== true">
          {{"BREW_DATA_COFFEE_TYPE" | translate}}
        </th>
        <th *ngIf="settings.coffee_concentration=== true">
          {{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}
        </th>
        <th *ngIf="settings.coffee_first_drip_time === true">
          {{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}
        </th>
        <th  *ngIf="settings.coffee_blooming_time === true">
          {{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}
        </th>
        <th *ngIf="settings.bean_type === true">
          {{"BREW_INFORMATION_BEAN_AGE"  | translate}}
        </th>
        <th *ngIf="settings.grind_weight === true && settings.brew_quantity === true">
          {{"BREW_INFORMATION_BREW_RATIO"  | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brew of brews">
        <td>
          {{brew.config.unix_timestamp | formatDate:["DD.MM.YYYY HH:mm"] }}
        </td>
        <td *ngIf="settings.grind_size === true">
          {{ brew.grind_size}}
        </td>
        <td *ngIf="settings.grind_weight === true">
          {{ brew.grind_weight}}
        </td>
        <td *ngIf="settings.method_of_preparation === true">
          {{ brew.getPreparation().name}}
        </td>
        <td  *ngIf="settings.bean_type === true">
          {{ brew.getBean().name}}
        </td>
        <td  *ngIf="settings.brew_temperature === true">
          {{ brew.brew_temperature}}
        </td>
        <td *ngIf="settings.brew_temperature_time === true">
          {{ brew.brew_temperature_time}}
        </td>
        <td *ngIf="settings.brew_time === true">
          {{ brew.brew_time}}
        </td>
        <td *ngIf="settings.brew_quantity === true">
          {{ brew.brew_quantity}} (  {{ brew.getBrewQuantityTypeName()}})
        </td>
        <td  *ngIf="settings.note === true">
          <pre>{{ brew.note}}</pre>
        </td>
        <td *ngIf="settings.rating === true">
          {{ brew.rating}}
        </td>
        <td *ngIf="settings.coffee_type=== true">
          {{ brew.coffee_type}}
        </td>
        <td  *ngIf="settings.coffee_concentration=== true">
          {{ brew.coffee_concentration}}
        </td>
        <td  *ngIf="settings.coffee_first_drip_time === true">
          {{ brew.coffee_first_drip_time}}
        </td>
        <td  *ngIf="settings.coffee_blooming_time === true">
          {{ brew.coffee_blooming_time}}
        </td>
        <td *ngIf="settings.bean_type === true">
          {{ brew.getCalculatedBeanAge()}}
        </td>
        <td *ngIf="settings.grind_weight === true && settings.brew_quantity === true">
          {{brew.getBrewRatio()}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
