<ion-item (click)="addImage()" button tappable>
  <ion-icon class="icon-16" name="beanconqueror-add"></ion-icon>&nbsp;{{"ADD_PHOTO" | translate}}
</ion-item>
<div *ngIf="data?.attachments && data.attachments.length > 0">
  <swiper-container  [pagination]="{ clickable: true, dragable:true }"  #photoSlides pager="true">
    <swiper-slide *ngFor="let attachment of data.attachments;let i = index">
      <ion-button (click)="deleteImage(i)" class="position-absolute-button" tappable color="accent" fill="clear">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <async-image class="brew-image" filePath="{{attachment}}"></async-image>
    </swiper-slide>
  </swiper-container>
</div>
