<ion-card class="popover" style="display:flex; flex-direction: column;">

  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_POPOVER_EDIT_FREEZE_DATE" | translate}}' readonly (click)="chooseDate($event,'freeze');" [(data)]="data.frozenDate"  [transform-date] displayFormat="{{settings?.date_format}}" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROASTING_DATE' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="stacked" label='{{"BEAN_POPOVER_EDIT_UNFREEZE_DATE" | translate}}' readonly (click)="chooseDate($event,'unfreeze');" [(data)]="data.unfrozenDate"  [transform-date] displayFormat="{{settings?.date_format}}" placeholder="{{'BEAN.PLACE_HOLDER.BEAN_DATA_ROASTING_DATE' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
  <ion-select label-placement='stacked' label='{{"BEAN_DATA_FROZEN_STORAGE_TYPE" | translate}}'
              [(ngModel)]='data.frozenStorageType' cancelText="{{'CANCEL'| translate }}"
              name='frozenStorage'
              okText="{{'CHOOSE'| translate }}"
              style='padding-left:0px!important;width: 100%; min-width: 100%;'
              multiple='false'>
    <ion-select-option *ngFor='let key of beanFreezingStorageEnum | keys'
                       value='{{key}}'>{{"BEAN_FREEZING_STORAGE_TYPE_" + key | translate}}</ion-select-option>
  </ion-select>
  </ion-item>
</ion-card>
