<ion-header>
  <app-header [title]="(multiple ? 'CHOOSE_ROASTING_MACHINES' : 'CHOOSE_ROASTING_MACHINE') | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="open">
      <ion-label>{{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (showFinished===true && getArchivedEntries().length > 0) {
      <ion-segment-button value="archive">
        <ion-label>{{"TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>
  @if (multiple) {
    <div >
      <div>
        @switch (segment) {
          @case ('open') {
            <div>
              @if (getOpenEntries()?.length == 0) {
                <div class="ion-padding ion-text-center">
                  <div>
                    <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
                  </div>
                  <div class="text-color-inactive ion-margin-top">
                    {{"PAGE_ROASTING_MACHINE_LIST_NO_MACHINES_EXISTING" | translate}}
                  </div>
                </div>
              }
              @if (getOpenEntries().length > 0) {
                <ion-card>
                  @for (data of getOpenEntries(); track data) {
                    <ion-item lines="none" tappable>
                      <ion-checkbox [(ngModel)]="multipleSelection[data.config.uuid]" justify="start" label-placement="end"><h6>{{data.name}}</h6></ion-checkbox>
                    </ion-item>
                  }
                </ion-card>
              }
            </div>
          }
          @case ('archive') {
            <div>
              @if (getArchivedEntries()?.length == 0) {
                <div class="ion-padding ion-text-center">
                  <div>
                    <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
                  </div>
                  <div class="text-color-inactive ion-margin-top">
                    {{"PAGE_ROASTING_MACHINE_LIST_NO_ARCHIVED_MACHINES_EXISTING" | translate}}
                  </div>
                </div>
              }
              @if (getArchivedEntries().length > 0) {
                <ion-card>
                  @for (data of getArchivedEntries(); track data) {
                    <ion-item lines="none" tappable>
                      <ion-checkbox [(ngModel)]="multipleSelection[data.config.uuid]" justify="start" label-placement="end"><h6>{{data.name}}</h6></ion-checkbox>
                    </ion-item>
                  }
                </ion-card>
              }
            </div>
          }
        }
      </div>
    </div>
  }
  @if (!multiple) {
    <div >
        <div>
          @switch (segment) {
            @case ('open') {
              <ion-radio-group [(ngModel)]="radioSelection">
              <div>
                @if (getOpenEntries()?.length == 0) {
                  <div class="ion-padding ion-text-center">
                    <div>
                      <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
                    </div>
                    <div class="text-color-inactive ion-margin-top">
                      {{"PAGE_ROASTING_MACHINE_LIST_NO_MACHINES_EXISTING" | translate}}
                    </div>
                  </div>
                }
                @if (getOpenEntries().length > 0) {
                  <ion-card>
                    @for (data of getOpenEntries(); track data) {
                      <ion-item lines="none" tappable>
                        <ion-radio justify="start" label-placement="end" value="{{data.config.uuid}}"><h6>{{data.name}}</h6></ion-radio>
                      </ion-item>
                    }
                  </ion-card>
                }
              </div>
              </ion-radio-group>
            }
            @case ('archive') {
              <ion-radio-group [(ngModel)]="radioSelection">
              <div>
                @if (getArchivedEntries()?.length == 0) {
                  <div class="ion-padding ion-text-center">
                    <div>
                      <ion-icon color="inactive" name="beanconqueror-coffee-roaster" size="large"></ion-icon>
                    </div>
                    <div class="text-color-inactive ion-margin-top">
                      {{"PAGE_ROASTING_MACHINE_LIST_NO_ARCHIVED_MACHINES_EXISTING" | translate}}
                    </div>
                  </div>
                }
                @if (getArchivedEntries().length > 0) {
                  <ion-card>
                    @for (data of getArchivedEntries(); track data) {
                      <ion-item lines="none" tappable>
                        <ion-radio justify="start" label-placement="end" value="{{data.config.uuid}}"><h6>{{data.name}}</h6></ion-radio>
                      </ion-item>
                    }
                  </ion-card>
                }
              </div>
              </ion-radio-group>
            }
          }
        </div>
    </div>
  }
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
      tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="choose()" color="accent" expand="block" tappable
      type="submit">{{"CHOOSE" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
