<ion-header>
  <ion-toolbar>
    @if (multiple) {
      <ion-title>{{ "CHOOSE_PREPARATIONS" | translate }}</ion-title>
    }
    @if (!multiple) {
      <ion-title>{{ "CHOOSE_PREPARATION" | translate }}</ion-title>
    }
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-segment [(ngModel)]="preparation_segment">
    <ion-segment-button value="open">
      <ion-label>{{ "CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (showFinished===true && archivedPreparations?.length > 0) {
      <ion-segment-button value="archive">
        <ion-label>{{ "TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>

      @switch (preparation_segment) {
        @case ('open') {
          <ion-radio-group [(ngModel)]="radioSelection">
          <div>
            @if (openPreparations.length > 0) {
              <ion-card>
                @for (prep of openPreparations; track prep) {
                  <ion-item lines="none" tappable>
                    @if (multiple) {
                      <ion-checkbox justify="start" label-placement="end" [(ngModel)]="multipleSelection[prep.config.uuid]">
                        <ng-container [ngTemplateOutlet]="preparationInformationCard"
                        [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                      </ion-checkbox>
                    } @else {
                      <ion-radio justify="start" label-placement="end" value="{{prep.config.uuid}}">
                        <ng-container [ngTemplateOutlet]="preparationInformationCard"
                        [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                      </ion-radio>
                    }
                    <ng-container [ngTemplateOutlet]="preparationThumbnailCard"
                    [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                  </ion-item>
                }
              </ion-card>
            }
          </div>
          </ion-radio-group>
        }
        @case ('archive') {
          <ion-radio-group [(ngModel)]="radioSelection">
          <div>
            <ion-card>
              @for (prep of archivedPreparations; track prep) {
                <ion-item lines="none" tappable>
                  @if (multiple) {
                    <ion-checkbox justify="start" label-placement="end" [(ngModel)]="multipleSelection[prep.config.uuid]">
                      <ng-container [ngTemplateOutlet]="preparationInformationCard"
                      [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                    </ion-checkbox>
                  } @else {
                    <ion-radio justify="start" label-placement="end" value="{{prep.config.uuid}}">
                      <ng-container [ngTemplateOutlet]="preparationInformationCard"
                      [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                    </ion-radio>
                  }
                  <ng-container [ngTemplateOutlet]="preparationThumbnailCard"
                  [ngTemplateOutletContext]="{prep:prep}"></ng-container>
                </ion-item>
              }
            </ion-card>
          </div>
          </ion-radio-group>
        }
      }
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
        tappable>{{ "CANCEL" | translate }}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="choose()" color="accent" expand="block" tappable
        type="submit">{{ "CHOOSE" | translate }}
      </ion-button>
    </ion-col>

  </ion-row>
</ion-footer>

<ng-template #preparationInformationCard let-prep='prep'>
  <h6>
    @if ((prep | preparationFunctionPipe: PREPARATION_FUNCTION_PIPE_ENUM.HAS_DEVICE_CONNECTION)) {
      <ion-icon style="top:2px;position: relative;margin-right:5px;" name="wifi-outline"
      ></ion-icon>
    }
    {{ prep.name }}
  </h6>
  <p>{{ "LAST_USE" | translate }}:
    @if (getBrewsCount(prep)> 0) {
      <span>{{ lastUsed(prep) | formatDate:[settings?.date_format] }}</span>
    }
    @if (getBrewsCount(prep) <= 0) {
      <span>-</span>
    }
  </p>
</ng-template>
<ng-template #preparationThumbnailCard let-prep='prep'>
  <ion-thumbnail slot="end">
    @if (!(prep | preparationFunctionPipe: PREPARATION_FUNCTION_PIPE_ENUM.HAS_PHOTOS)) {
      <ion-icon
        class="full-sized-icon"
      name="{{prep | preparationFunctionPipe: PREPARATION_FUNCTION_PIPE_ENUM.GET_ICON}}"></ion-icon>
    }
    @if ((prep | preparationFunctionPipe: PREPARATION_FUNCTION_PIPE_ENUM.HAS_PHOTOS)) {
      <div
        style="margin: 0 auto;height: 100%;display: flex;align-items: center;" tappable>
        <async-image [filePath]="prep.attachments[0]" class="bean-slider"></async-image>
      </div>
    }
  </ion-thumbnail>
</ng-template>
