<ion-card class="long-card">
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-justify-content-center" size="3">
          <ion-icon class="full-sized-icon" name="beanconqueror-mill"></ion-icon>
        </ion-col>
        <ion-col class="ion-padding-start" size="8">
          <ion-list lines="none" style="width:100%;">
            <ion-item>
              <ion-col class="ion-text-bold" size="12">{{mill.name}}</ion-col>
            </ion-item>
            <ion-item>
              <ion-col size="8">{{"PAGE_HOME_TOTAL_BREWS" | translate}}</ion-col>
              <ion-col size="4">{{getBrewsCount()}}</ion-col>
            </ion-item>
            <ion-item>
              <ion-col size="8">{{"COFFEE_GRAMS_GRINDED" | translate}}</ion-col>
              <ion-col size="4">{{getWeightCount()}}</ion-col>
            </ion-item>
            <ion-item>
              <ion-col size="8">{{"BEANS_USED" | translate}}</ion-col>
              <ion-col size="4">{{getBeansCount()}}</ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="showMillActions($event)" class="button-top-absolute"
                      color="accent" fill="clear">
            <ion-icon name="beanconqueror-dots" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
