:host {
  ion-row.center-col ion-col {
    display: flex;
    align-items: center
  }

  button[justify-content-start] .button-inner {
    justify-content: flex-start;
  }

  ion-card.dynamic-padding {
    ion-card-header {
      padding-bottom: 5px;
      padding-top: 5px;
      background-color: #D4D2C1;
    }

    ion-card-content {
      padding: 16px;
      background-color: #FFFFFF;
    }

    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    padding: 0px;
  }

  ion-row.center-col ion-col {
    display: flex;
    align-items: center
  }

  ion-list {
    background: none;
    margin: 0px;
    padding: 0px;

    ion-icon {
      font-size: 14px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;

    }
  }

}
