<ion-header>
  <app-header [title]="(multiple ? 'CHOOSE_WATERS' : 'CHOOSE_WATER') | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="open">
      <ion-label>{{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (showFinished===true && getFinished().length > 0) {
      <ion-segment-button value="archive">
        <ion-label>{{"TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>
  @if (multiple) {
    <div >
      <div>
        @switch (segment) {
          @case ('open') {
            <div>
              @if (getOpen().length > 0) {
                <ion-card>
                  @for (water of getOpen(); track water) {
                    <ion-item lines="none" tappable>
                      <ion-checkbox [(ngModel)]="multipleSelection[water.config.uuid]" justify="start" label-placement="end"><h6 class="no-overflow-ellipsis">{{water.name}}</h6></ion-checkbox>
                    </ion-item>
                  }
                </ion-card>
              }
            </div>
          }
          @case ('archive') {
            <div>
              <ion-card>
                @for (water of getFinished(); track water) {
                  <ion-item lines="none" tappable>
                    <ion-checkbox [(ngModel)]="multipleSelection[water.config.uuid]" justify="start" label-placement="end"><h6 class="no-overflow-ellipsis">{{water.name}}</h6></ion-checkbox>
                  </ion-item>
                }
              </ion-card>
            </div>
          }
        }
      </div>
    </div>
  }

  @if (!multiple) {
    <div>
        <div>
          @switch (segment) {
            @case ('open') {
              <ion-radio-group [(ngModel)]="radioSelection">
              <div>
                @if (getOpen().length > 0) {
                  <ion-card>
                    @for (water of getOpen(); track water) {
                      <ion-item lines="none" tappable>
                        <ion-radio justify="start" label-placement="end" value="{{water.config.uuid}}"><h6 class="no-overflow-ellipsis">{{water.name}}</h6></ion-radio>
                      </ion-item>
                    }
                  </ion-card>
                }
              </div>
              </ion-radio-group>
            }
            @case ('archive') {
              <ion-radio-group [(ngModel)]="radioSelection">
              <div>
                <ion-card>
                  @for (water of getFinished(); track water) {
                    <ion-item lines="none" tappable>
                      <ion-radio justify="start" label-placement="end" value="{{water.config.uuid}}"><h6 class="no-overflow-ellipsis">{{water.name}}</h6></ion-radio>
                    </ion-item>
                  }
                </ion-card>
              </div>
              </ion-radio-group>
            }
          }
        </div>
    </div>
  }
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
      tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="choose()" color="accent" expand="block" tappable
      type="submit">{{"CHOOSE" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
