<ion-header>
  <ion-toolbar>
    <ion-title>{{"PAGE_MILL_INFORMATION" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>{{"PAGE_STATISTICS_FOR_NERDS" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>{{"PAGE_MILL_INFORMATION_BREWS_DONE" | translate}}:&nbsp;{{countBrewsWithThisMillMethod()}}</ion-item>
    <ion-item>{{"PAGE_MILL_INFORMATION_GRIND_WEIGHT" | translate}}:&nbsp;{{countGrindWeight()}} gr</ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
