:host {
  .brew-image img {
    max-width: 50%;
    max-height: 200px;
  }

  ion-button.circle-button {
    --border-radius: 100%;
    height: 65px;
    width: 65px;

  }

  ion-item {
    --background: white;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;

  }
}

