<ion-item class="no-bottom-border item" lines="none">
  <ion-label position="stacked">
    {{ label }}
  </ion-label>
  <ion-datetime (ngModelChange)="changeDate($event)" [(ngModel)]="displayingTime" cancelText="{{'CANCEL' | translate}}" displayFormat="H:mm:ss" doneText="{{'CHOOSE' | translate}}" mode="ios"></ion-datetime>
  <ion-button (click)="bloomTime()" *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished && showBloomTimer"
              class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-blooming" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button (click)="dripTime()" *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished && showDripTimer"
              class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-water-drop" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button (click)="pauseTimer()" *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished"
              class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-pause" slot="icon-only"></ion-icon>

  </ion-button>
  <ion-button (click)="reset()" *ngIf="(!timer.hasStarted || !timer.runTimer && timer.hasStarted && !timer.hasFinished) && this.getSeconds()>0"
              class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-full-reset" slot="icon-only"></ion-icon>

  </ion-button>

  <ion-button (click)="resumeTimer()" *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished"
              class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button (click)="startTimer()" *ngIf="!timer.hasStarted" class="big-icon-only" fill="clear" slot="end" tappable>
    <ion-icon class="ion-color-accent" name="beanconqueror-play" slot="icon-only"></ion-icon>
  </ion-button>


</ion-item>
