<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Zubereitungsmethoden</ion-title>
    <ion-buttons end>
      <button  ion-button icon-only (click)="addPreparation()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding *ngIf="preparations?.length == 0">
    Du hast leider noch keine Brühmethoden hinterlegt!
  </ion-card>
  <ion-card *ngFor="let preparation of preparations">
    <ion-card-header>
      {{preparation.name}}
    </ion-card-header>
    <ion-card-content *ngIf="preparation.note != ''">
      {{preparation.note}}
    </ion-card-content>


    <ion-row>
      <ion-col>
        <button button justify-content-start color="dark" clear ion-button small block icon-left
                (click)="editPreparation(preparation)">
          <ion-icon name="md-create" item-start></ion-icon>
          <span>Editieren</span>
        </button>
      </ion-col>
      <ion-col>
        <button button justify-content-start color="dark" clear ion-button small block icon-left
                (click)="deletePreparation(preparation)">
          <ion-icon name="trash" item-start></ion-icon>
          <span>Löschen</span>
        </button>
      </ion-col>
    </ion-row>


  </ion-card>

</ion-content>
