<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Zubereitungsmethoden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab top right edge #fab1>
    <button ion-fab mini (click)="addPreparation()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let preparation of preparations">
    <ion-card-header>
      {{preparation.name}}
    </ion-card-header>
    <ion-card-content *ngIf="preparation.note != ''">
      {{preparation.note}}
    </ion-card-content>
    

    <ion-row>
      <ion-col>
        <button button justify-content-start color="dark" clear ion-button small block icon-left
                (click)="editPreparation(preparation)">
          <ion-icon name="md-create" item-start></ion-icon>
          <span>Editieren</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button button justify-content-start color="dark" clear ion-button small block icon-left
                (click)="deletePreparation(preparation)">
          <ion-icon name="trash" item-start></ion-icon>
          <span>Löschen</span>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
