<ion-header>
  <ion-toolbar>
    <ion-title>{{"PAGE_BEAN_INFORMATION" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>{{"PAGE_STATISTICS_FOR_NERDS" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>{{"PAGE_BEAN_INFORMATION_COUNT_BREWS" | translate}}:&nbsp;{{countBrews()}}</ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <canvas #beanChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" expand="block" fill="outline">{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
