<ion-header>
  <app-header [title]="'ADD_FLAVORS_AROMAS_TITLE' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>
  @if(this.flavor !== undefined) {
    <cupping-flavors [(data)]="this.data" #flavorEl></cupping-flavors>
  }
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setFlavors()" color="accent" disable-double-click expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
