<ion-header>
  <ion-toolbar>
    <ion-title>{{"ADD_GRAPH" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="popover">
    <form #addGraphForm="ngForm" novalidate>
      <ion-item>
        <ion-input label-placement="stacked" label='{{"NAME" | translate}}*' #name="ngModel" [(ngModel)]="data.name" name="name"
                   placeholder="{{'GRAPH.PLACE_HOLDER.NAME' | translate}}" spellcheck="false" type="text"
                   autocapitalize="sentences" required>
        </ion-input>
      </ion-item>
      <ion-item tappable [button]="true" *ngIf='flowData === undefined' (click)='uploadGraph()'>
        <ion-label>{{"GRAPH.UPLOAD" | translate}}</ion-label>
        <ion-icon slot="end" name="cloud-upload-outline"></ion-icon>
      </ion-item>
      <ion-item  *ngIf='flowData === undefined'>
        <ion-label>
          <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
          <p style="display: inline;">{{"GRAPH.UPLOAD_DESCRIPTION" | translate}}</p>
        </ion-label>
      </ion-item>

      <ng-container  *ngIf='flowData !== undefined'>
        <div style='padding-left:10px;padding-right:10px;'>
          <graph-display-card (click)='showGraph()' [flowProfileData]='flowData'></graph-display-card>
        </div>
        <ion-item tappable [button]="true" (click)='deleteGraph()'>
          <ion-label>{{"GRAPH.DELETE" | translate}}</ion-label>
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-item>
      </ng-container>
      <ion-item lines="none">
        <ion-label id='notes' position="stacked">{{"NOTES" | translate}}</ion-label>
        <ion-textarea style='margin-top:20px;' aria-labelledby='notes' #note="ngModel" [(ngModel)]="data.note" autocapitalize="sentences" autocomplete="true"
                      placeholder="{{'GRAPH.PLACE_HOLDER.NOTES' | translate}}"
                      autocorrect="true" name="note" rows="5" spellcheck="true"></ion-textarea>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [disabled]='saveDisabled()' (click)="addGraph(addGraphForm)" color="accent" expand="block" tappable
                  type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
