<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="beanconqueror-back">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="send()" icon-only>
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_LOGS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row *ngFor="let log of logs" class="ion-padding-bottom">
      <ion-col size="12">
        <ion-text *ngIf="log.key === LOG_ENUM.LOG" color="dark">
          {{log.timestamp}} -  {{log.value}}
        </ion-text>
        <ion-text *ngIf="log.key === LOG_ENUM.INFO" color="primary">
          {{log.timestamp}} -  {{log.value}}
        </ion-text>
        <ion-text *ngIf="log.key === LOG_ENUM.WARN" color="warning">
          {{log.timestamp}} -  {{log.value}}
        </ion-text>
        <ion-text *ngIf="log.key === LOG_ENUM.ERR" color="danger">
          {{log.timestamp}} -  {{log.value}}
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-card>
</ion-content>
