<ion-header>
  <app-header [title]="'NAV_LOGS' | translate">
    <ion-back-button header-slot="start" icon="beanconqueror-back" />
    <app-header-button header-slot="end" icon="send-outline" buttonClass="big-icon-only" (clicked)="send()" />
  </app-header>
</ion-header>
<ion-content>
  <ion-card class="ion-padding">
    @for (log of logs; track log) {
      <ion-row class="ion-padding-bottom">
        <ion-col size="12">
              <ion-text [color]="levelToColor(log.level)">
                {{formatLogEntry(log)}}
            </ion-text>
        </ion-col>
      </ion-row>
    }

  </ion-card>
</ion-content>
