<ion-header>
  <ion-toolbar>
    <ion-title>{{"DETAIL_BEAN" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-segment scrollable="true" [(ngModel)]="bean_segment" class="ion-padding-vertical" style="padding-top:0px;">
    <ion-segment-button value="roastinformation" *ngIf="data?.bean_roast_information?.bean_uuid != ''">
      <ion-label>{{"BEAN_TAB_ROAST_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="general">
      <ion-label>{{"BEAN_TAB_GENERAL_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.bean_information)" value="sortinformation">
      <ion-label>{{"BEAN_TAB_SORT_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="bean_segment">
    <div *ngSwitchCase="'roastinformation'">
      <ion-card class="popover" style="display:flex; flex-direction: column;">
        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.DROP_TEMPERATURE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.drop_temperature}}</h3>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.ROAST_LENGTH" | translate}}:</h2>
            <h3>{{getRoastLengthFormat()}}</h3>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.ROASTER_MACHINE" | translate}}:</h2>
            <h3>{{data.getRoastingMachine().name}}</h3>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.GREEN_BEAN_WEIGHT" | translate}}:</h2>
            <h3>{{data.bean_roast_information.green_bean_weight}}</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>{{"BEAN_DATA_WEIGHT_AFTER_ROASTING" | translate}}:</h2>
            <h3>{{data.weight}}</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.FIRST_CRACK_MINUTE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.first_crack_minute}}</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.FIRST_CRACK_TEMPERATURE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.first_crack_temperature}}</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.SECOND_CRACK_MINUTE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.second_crack_minute}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.SECOND_CRACK_TEMPERATURE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.second_crack_temperature}}</h3>
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.OUTSIDE_TEMPERATURE" | translate}}:</h2>
            <h3>{{data.bean_roast_information.outside_temperature}}</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>{{"ROASTING_SECTION.BEAN.HUMIDITY" | translate}}:</h2>
            <h3>{{data.bean_roast_information.humidity}}</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
    <div *ngSwitchCase="'general'">
      <ion-card class="popover" style="display:flex; flex-direction: column;">
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.name)">
          <ion-label>
            <h2>{{"BEAN_DATA_NAME" | translate}}:</h2>
            <h3>{{data.name}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.roaster)">
          <ion-label>
            <h2>{{"BEAN_DATA_ROASTER" | translate}}:</h2>
            <h3>{{data.roaster}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.buyDate)">
          <ion-label>
            <h2>{{"BEAN_DATA_BUY_DATE" | translate}}:</h2>
            <h3 *ngIf="data.buyDate">{{data.buyDate | formatDate:["DD.MM.YYYY"]}}</h3>
            <h3 *ngIf="!data.buyDate">-</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.roastingDate)">
          <ion-label>
            <h2>{{"BEAN_DATA_ROASTING_DATE" | translate}}:</h2>
            <h3>{{data.roastingDate | formatDate:["DD.MM.YYYY"]}}</h3>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.bean_roasting_type)">
          <ion-label>
            <h2>{{"BEAN_DATA_ROASTING_TYPE" | translate}}:</h2>
            <h3>{{"BEAN_ROASTING_TYPE_" + data.bean_roasting_type | translate}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.roast_range)">
          <ion-label  position="stacked" style="min-height:30px;">{{"BEAN_DATA_ROAST_NAME" | translate}}</ion-label>
          <ion-range disabled="true" [(ngModel)]="data.roast_range" snaps="true" max="5" min="0" step="0.5">
            <div slot="end">
              <ngx-stars #beanStars [readonly]="true" [initialStars]="data.roast_range"  class="bean-display ion-margin-top"></ngx-stars>
            </div>
          </ion-range>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.roast)">
          <ion-label>
            <h2>{{"BEAN_DATA_ROAST_NAME" | translate}}:</h2>
            <h3 *ngIf="bean.roast === getRoastEnum(roast_enum.CUSTOM_ROAST) && bean.roast !== getRoastEnum(roast_enum.UNKNOWN)">
              {{bean.roast_custom}}</h3>
            <h3 *ngIf="bean.roast !== getRoastEnum(roast_enum.CUSTOM_ROAST) && bean.roast !== getRoastEnum(roast_enum.UNKNOWN)">
              {{"ROAST_TYPE_" + bean.roast | translate}}
            </h3>
            <h3 *ngIf=" bean.roast === getRoastEnum(roast_enum.UNKNOWN)">
              -
            </h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.rating)">
          <ion-label position="stacked" style="min-height:30px;">{{"BREW_DATA_RATING" | translate }}&nbsp;<ion-badge
            style="vertical-align: top;">{{data.rating}}</ion-badge>
          </ion-label>
          <ion-range [(ngModel)]="data.rating" [max]="maxBeanRating" [step]="settings?.bean_rating_steps" debounce="500s"  disabled="true" min="0" snaps="true">

            <div slot="end">
              <ngx-stars *ngIf="bean?.rating !== 0 && hasCustomRatingRange() === false"  #beanRating [color]="'#BFB9B0'"  [initialStars]="data.rating"  [maxStars]="5"  [readonly]="true" [wholeStars]="true" class="ion-float-right brew-stars" ></ngx-stars>
              <div  *ngIf="bean?.rating > 0  && hasCustomRatingRange() === true" class="ion-text-right">
                <ion-badge>{{this.uiHelper.toFixedIfNecessary(bean.rating,2)}}</ion-badge>
              </div>
            </div>
          </ion-range>
        </ion-item>

        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.beanMix)" class="ion-margin-bottom">
          <ion-label>
            <h2>{{"BEAN_DATA_MIX" | translate}}:</h2>
            <h3>{{"BEAN_MIX_" + data.beanMix | translate}}</h3>
          </ion-label>
        </ion-item>

      </ion-card>
      <ion-card style="display:flex; flex-direction: column;">
        <ion-item lines="none">
          <span class="ion-title ion-padding-top ion-no-padding-bottom">{{"BEAN_SORT_MORE_INFORMATION" | translate }}</span>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.weight)">
          <ion-label>
            <h2>{{"BEAN_DATA_WEIGHT" | translate}}:</h2>
            <h3>{{data.weight}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.cost)">
          <ion-label>
            <h2>{{"BEAN_DATA_COST" | translate}}:</h2>
            <h3>{{data.cost}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.aromatics)">
          <ion-label>
            <h2>{{"BEAN_DATA_AROMATICS" | translate}}:</h2>
            <h3>{{data.aromatics}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.cupping_points)">
          <ion-label>
            <h2>{{"BEAN_DATA_CUPPING_POINTS" | translate}}:</h2>
            <h3>{{data.cupping_points}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.decaffeinated)">
          <ion-label>
            <h2>{{"BEAN_DATA_DECAFFEINATED" | translate}}:</h2>
          </ion-label>
          <ion-checkbox [(ngModel)]="data.decaffeinated" disabled="true"></ion-checkbox>
        </ion-item>
        <ion-item (click)="openURL()" *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.url)" button lines="inset">
          <ion-label >
            <h2>{{"BEAN_DATA_URL" | translate}}:</h2>
            <h3>{{data.url}}</h3>
          </ion-label>
            <ion-icon *ngIf="data.url" style="position: relative; top: 5px;" name="globe-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.ean_article_number)">
          <ion-label>
            <h2>{{"BEAN_DATA_EAN" | translate}}:</h2>
            <h3>{{data.ean_article_number}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>{{"FINISHED" | translate}}?:</h2>
          </ion-label>
          <ion-checkbox [(ngModel)]="data.finished" disabled="true"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.note)"  class="ion-margin-bottom">
          <ion-label>
            <h2>{{"NOTES" | translate}}:</h2>
            <pre>{{data.note}}</pre>
          </ion-label>
        </ion-item>
        <div *ngIf="uiBeanHelper.fieldVisible(settings.bean_manage_parameters.attachments) && data?.attachments?.length > 0">
          <photo-view [(data)]="data"></photo-view>
        </div>
      </ion-card>
    </div>
    <div *ngSwitchCase="'sortinformation'">
      <bean-detail-sort-information  *ngIf="data" [(data)]="data"></bean-detail-sort-information>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
