<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Beanconqueror
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="4">
        <ion-card [routerLink]="['/home/brews']" class="small-card" style="height: 100%;" tappable>
          <ion-card-header class="custom-background-medium" style="font-size: 2em;">
            <ion-icon name="cafe-outline" slot="start"></ion-icon>
            {{uiStatistic.getBrewsDrunk()}}
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="uiStatistic.getBrewsDrunk() == 1">
                   {{"PAGE_HOME_TOTAL_BREW" | translate}}
            </span>
            <span *ngIf="uiStatistic.getBrewsDrunk() != 1">
                {{"PAGE_HOME_TOTAL_BREWS" | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-card [routerLink]="['/home/beans']" class="small-card" style="height: 100%;" tappable="">
          <ion-card-header class="custom-background-medium" style="font-size: 2em;">
            {{uiStatistic.getBeansCount()}}
          </ion-card-header>
          <ion-card-content>
              <span *ngIf="uiStatistic.getBeansCount() == 1">
                     {{"PAGE_HOME_BEAN_EXPLORED" | translate}}
              </span>
            <span *ngIf="uiStatistic.getBeansCount() != 1">
                     {{"PAGE_HOME_BEANS_EXPLORED" | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-card [routerLink]="['/statistic']" class="small-card" style="height: 100%;" tappable>
          <ion-card-header class="custom-background-medium"
                           style="font-size: 2em;">{{uiStatistic.getTimePassedSinceLastBrew()}}</ion-card-header>
          <ion-card-content>
            {{uiStatistic.getTimePassedSinceLastBrewMessage()}} {{"WITHOUT_COFFEE" | translate}}<br>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="addBrew()" add-brew color="accent" expand="block">
          <ion-icon name="beanconqueror-dashboard-add-fill" size="large" slot="start"></ion-icon>
          <span class="ion-text-bold" slot="end">{{"PAGE_HOME_START_BREW" | translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <h4 class="ion-no-margin">{{"PAGE_HOME_LAST_BREWS" | translate}}</h4>
    </ion-list-header>
    <div *ngIf="getBrews()?.length == 0" class="ion-padding ion-text-center">
      <div>
        <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
      </div>
      <div class="text-color-inactive ion-margin-top">
        {{"PAGE_BREWS_NO_ENTRIES" | translate}}
      </div>
    </div>
    <div *ngFor="let brew of getBrews()">
      <brew-dashboard-information (brewAction)="brewAction($event[0],$event[1])"
                                  [brew]="brew"></brew-dashboard-information>
    </div>
  </ion-list>
</ion-content>
