<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Beanconqueror
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card [routerLink]="['/home/brews']" class="dashboard ion-no-margin" tappable>
            <ion-card-header class="ion-no-padding ion-no-margin">
              <ion-card-title> {{uiStatistic.getBrewsDrunk()}}</ion-card-title>
              <ion-card-subtitle>
                <span *ngIf="uiStatistic.getBrewsDrunk() == 1">
                {{"PAGE_HOME_TOTAL_BREW" | translate}}
                </span>
                <span *ngIf="uiStatistic.getBrewsDrunk() != 1">
                {{"PAGE_HOME_TOTAL_BREWS" | translate}}
                </span>
              </ion-card-subtitle>

            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink]="['/statistic']" class="dashboard ion-no-margin no-border" tappable>
            <ion-card-header class="ion-no-padding ion-no-margin">
              <ion-card-title> {{uiStatistic.getTimePassedSinceLastBrew()}}</ion-card-title>
              <ion-card-subtitle>
                {{uiStatistic.getTimePassedSinceLastBrewMessage()}} {{"WITHOUT_COFFEE" | translate}}
              </ion-card-subtitle>

            </ion-card-header>
          </ion-card>
        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card [routerLink]="['/home/beans']" class="dashboard ion-no-margin" tappable>
            <ion-card-header class="ion-no-padding ion-no-margin">
              <ion-card-title> {{uiStatistic.getBeansCount()}}</ion-card-title>
              <ion-card-subtitle>
                <span *ngIf="uiStatistic.getBeansCount() == 1">
                       {{"PAGE_HOME_BEAN_EXPLORED" | translate}}
                </span>
                <span *ngIf="uiStatistic.getBeansCount() != 1">
                       {{"PAGE_HOME_BEANS_EXPLORED" | translate}}
              </span>
              </ion-card-subtitle>

            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink]="['/home/beans']" class="dashboard ion-no-margin no-border" tappable>
            <ion-card-header class="ion-no-padding ion-no-margin">
              <ion-card-title> {{openBeansLeftOverCount()| number : '.0-2'}}&nbsp;kg</ion-card-title>
              <ion-card-subtitle>
                {{"BEANS_WEIGHT_AVAILABLE" | translate}}
              </ion-card-subtitle>

            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="addBrew()" add-brew color="accent" expand="block">
          <ion-icon name="beanconqueror-dashboard-add-fill" size="large" slot="start"></ion-icon>
          <span class="ion-text-bold" slot="end">{{"PAGE_HOME_START_BREW" | translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <h4 class="ion-no-margin">{{"PAGE_HOME_LAST_BREWS" | translate}}</h4>
    </ion-list-header>
    <div *ngIf="getBrews()?.length == 0" class="ion-padding ion-text-center">
      <div>
        <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
      </div>
      <div class="text-color-inactive ion-margin-top">
        {{"PAGE_BREWS_NO_ENTRIES" | translate}}
      </div>
    </div>
    <div *ngFor="let brew of getBrews()">
      <brew-dashboard-information (brewAction)="brewAction($event[0],$event[1])"
                                  [brew]="brew"></brew-dashboard-information>
    </div>
  </ion-list>
</ion-content>
