:host {


  ion-card.dashboard {
    text-align:center;
    padding: 6px;
    height:100%;

    ion-card-title {
      color: var(--ion-color-accent-secondary);
      font-size:24px;
      font-weight: bold;
    }
    ion-card-subtitle {
      font-weight:bold;
      color: var(--ion-text-color);
      font-size:14px;
    }
  }


  ion-button[add-brew] {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 5px;
    --padding-top: 0px;
    --border-radius: 15px;
    height: 45px;
  }

  ion-button[add-brew] ion-icon {
    left: 20px;
    position: absolute;
    height: 30px;
  }

  ion-grid {
    --ion-grid-column-padding: 5px;

  }

  ion-list {
    padding-top: 0px;

    ion-list-header {
      padding-left: 10px;
      font-size: 16px;

    }
  }

  ion-card.small-card {
    ion-card-content {
      letter-spacing: -0.21px;
      line-height: inherit;
    }

  }

}
