:host {
  .card-background {
    background-color: var(--ion-color-accent) !important;
    color: var(--app-text);
  }

  .small-card ion-card-content {
    padding-top: 16px !important;
  }

  ion-card {
    background: var(--app-card-background);
    color: var(--app-text);

    ion-item {
      --background: var(--app-item-background);
      color: var(--app-text);

      ion-label {
        font-family: 'Baloo', sans-serif;
        font-size: 14px;
        color: var(--app-text);
      }
    }


  }
}
