:host {
  .card-background {
    background-color: var(--ion-color-accent) !important;
    color: var(--ion-text-color);
  }

  .small-card ion-card-content {
    padding-top: 16px !important;
  }


  ion-card {
    background: var(--ion-color-light);

    ion-item {
      --background: var(--ion-color-light);

      ion-label {
        font-family: 'Baloo', sans-serif;
        font-size: 14px;
      }
    }


  }
}
