<ion-header>
  <app-header [title]="'ROASTING_SECTION.GREEN_BEAN.EDIT' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content>
  <ion-segment scrollable="true" [(ngModel)]="bean_segment" class="ion-padding-vertical" style="padding-top:0px;">
    <ion-segment-button value="general">
      <ion-label>{{"BEAN_TAB_GENERAL_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="sortinformation">
      <ion-label>{{"BEAN_TAB_SORT_INFORMATION" | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div>
    @switch (bean_segment) {
      @case ('general') {
        <div>
          @if (data) {
            <green-bean-general-information [(data)]="data"></green-bean-general-information>
          }
        </div>
      }
      @case ('sortinformation') {
        <div>
          @if (data) {
            <bean-sort-information [(data)]="data"></bean-sort-information>
          }
        </div>
      }
    }
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
      tappable>{{"CANCEL" | translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="editBean()" color="accent" disable-double-click expand="block" tappable
      type="submit">{{"SAVE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
