<ion-header>
  <app-header [title]="'NAV_PREPARATION' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="add()" />
  </app-header>
</ion-header>
<ion-content #preparationContent>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="ion-padding-vertical tabs">
    <ion-segment-button value="open">
      <ion-label>
        {{"CURRENT" | translate }}
      </ion-label>
    </ion-segment-button>
    @if (settings?.show_archived_preparations) {
      <ion-segment-button value="archive">
        <ion-label>
          {{"TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>

  <div>
    @switch (segment) {
      @case ('open') {
        <div>
          @if (openPreparationsView?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-preparation" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_PREPARATION_LIST_NO_PREPARATION_EXISTING" | translate}}
              </div>
            </div>
          }
          <ag-virtual-scroll #openScroll [items]="openPreparationsView" [height]="'100vh'" min-row-height="186">
            @for (preparation of openScroll.items; track preparation) {
              <preparation-information-card (preparationAction)="preparationAction($event[0],$event[1])"
                [preparation]="preparation"
              ></preparation-information-card>
            }
          </ag-virtual-scroll>
        </div>
      }
      @case ('archive') {
        <div >
          @if (archivePreparationsView?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-preparation" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_PREPARATION_LIST_NO_ARCHIVED_PREPARATION_EXISTING" | translate}}
              </div>
            </div>
          }
          <ag-virtual-scroll #archivedScroll [items]="archivePreparationsView" [height]="'100vh'" min-row-height="186">
            @for (preparation of archivedScroll.items; track preparation) {
              <preparation-information-card (preparationAction)="preparationAction($event[0],$event[1])"
                [preparation]="preparation"
              ></preparation-information-card>
            }
          </ag-virtual-scroll>
        </div>
      }
    }
  </div>


</ion-content>
