<ion-header>
  <app-header [title]="'NAV_PREPARATION' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="add()" />
  </app-header>
</ion-header>
<ion-content #preparationContent>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="ion-padding-vertical tabs">
    <ion-segment-button value="open">
      <ion-label>
        {{"CURRENT" | translate }}
        <br />
        @if (openPreparationsView?.length !== openPreparationsLength) {
        <span class="value">
          ( {{ openPreparationsView?.length }} / {{ openPreparationsLength }} )
        </span>
        } @else {
        <span class="value">( {{ openPreparationsLength }} )</span>
        }
      </ion-label>
    </ion-segment-button>
    @if (settings?.show_archived_preparations) {
      <ion-segment-button value="archive">
        <ion-label>
          {{"TAB_ARCHIVE" | translate }}
          <br />
          @if (archivePreparationsView?.length !== archivePreparationsLength) {
          <span class="value">
            ( {{ archivePreparationsView?.length }} / {{ archivePreparationsLength }} )
          </span>
          } @else {
          <span class="value">( {{ archivePreparationsLength }} )</span>
          }
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>

  <div>
    @switch (segment) {
      @case ('open') {
        <div>
          @if (openPreparationsView?.length > 0 || uiShallBarBeDisplayed || uiIsTextSearchActive || uiIsSortActive) {
            <div class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">
              <ng-container [ngTemplateOutlet]="preparationSearchToolbar"></ng-container>
            </div>
          }
          @if (openPreparationsView?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-preparation" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_PREPARATION_LIST_NO_PREPARATION_EXISTING" | translate}}
              </div>
            </div>
          }
          <ag-virtual-scroll #openScroll [items]="openPreparationsView" [height]="'100vh'" [min-row-height]="186">
            @for (preparation of openScroll.items; track preparation) {
              <preparation-information-card (preparationAction)="preparationAction($event[0],$event[1])"
                [preparation]="preparation"
              ></preparation-information-card>
            }
          </ag-virtual-scroll>
        </div>
      }
      @case ('archive') {
        <div >
          @if (archivePreparationsView?.length > 0 || uiShallBarBeDisplayed || uiIsTextSearchActive || uiIsSortActive) {
            <div class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">
              <ng-container [ngTemplateOutlet]="preparationSearchToolbar"></ng-container>
            </div>
          }
          @if (archivePreparationsView?.length == 0) {
            <div class="ion-padding ion-text-center">
              <div>
                <ion-icon color="inactive" name="beanconqueror-preparation" size="large"></ion-icon>
              </div>
              <div class="text-color-inactive ion-margin-top">
                {{"PAGE_PREPARATION_LIST_NO_ARCHIVED_PREPARATION_EXISTING" | translate}}
              </div>
            </div>
          }
          <ag-virtual-scroll #archivedScroll [items]="archivePreparationsView" [height]="'100vh'" [min-row-height]="186">
            @for (preparation of archivedScroll.items; track preparation) {
              <preparation-information-card (preparationAction)="preparationAction($event[0],$event[1])"
                [preparation]="preparation"
              ></preparation-information-card>
            }
          </ag-virtual-scroll>
        </div>
      }
    }
  </div>


</ion-content>

<ng-template #preparationSearchToolbar>
  <ion-searchbar (ionChange)="research()" (ionInput)='research()' [(ngModel)]="uiSearchText"
    class="ion-no-padding ion-no-margin" debounce="750" placeholder="{{'SEARCH' | translate}}"
    search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
  <ion-button (click)="showSort()" fill="clear" size="small" tappable>
    @if (uiIsSortActive) {
    <ion-icon name="beanconqueror-sort-active" slot="icon-only"></ion-icon>
    } @else {
    <ion-icon name="beanconqueror-sort-inactive" slot="icon-only"></ion-icon>
    }
  </ion-button>
</ng-template>
