<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="add()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_PREPARATION" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card *ngIf="preparations?.length == 0" class="ion-padding">
    {{"PAGE_PREPARATION_LIST_NO_PREPARATION_EXISTING" | translate}}
  </ion-card>
  <ion-card *ngFor="let preparation of preparations">
    <ion-card-header>
      {{preparation.name}}
    </ion-card-header>
    <ion-card-content *ngIf="preparation.note != ''">
      <pre>{{preparation.note}}</pre>
    </ion-card-content>

    <ion-row>
      <ion-col col-6>
        <ion-button size="small" fill="clear" color="dark" (click)="editPreparation(preparation)">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          <span>{{"EDIT" | translate}}</span>
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button size="small" fill="clear" color="dark" (click)="deletePreparation(preparation)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          <span>{{"DELETE" | translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>



  </ion-card>

</ion-content>
