<ion-header>
  <ion-toolbar with-add-button>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right:-10px;">
      <ion-button (click)="add()" class="big-add-icon" fill="clear">
        <ion-icon class="ion-color-accent" name="beanconqueror-add-box" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_BREWS" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="brew_segment" class="ion-padding-vertical" style="padding-top:0px;">
      <ion-segment-button value="open">
        <ion-label>{{"CURRENT" | translate }}
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="settings?.show_archived_brews" value="archive">
        <ion-label>{{"TAB_ARCHIVE" | translate }}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  <div [ngSwitch]="brew_segment">
    <div *ngSwitchCase="'open'">
      <div *ngIf="openBrewsView?.length > 0 || isFilterActive() === true" class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">

        <ion-searchbar  (ionChange)="research()" [(ngModel)]="openBrewFilterText" class="ion-no-padding ion-no-margin" debounce="750" placeholder="{{'SEARCH' | translate}}" search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
        <ion-button (click)="showFilter()" fill="clear" size="small" tappable>
          <ion-icon *ngIf="isFilterActive()"  name="beanconqueror-filter-active"
                    slot="icon-only"></ion-icon>
          <ion-icon *ngIf="!isFilterActive()"  name="beanconqueror-filter-inactive"
                    slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="openBrewsView?.length == 0" class="ion-padding ion-text-center">
        <div>
          <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
        </div>
        <div class="text-color-inactive ion-margin-top">
          {{"PAGE_BREWS_NO_ENTRIES" | translate}}
        </div>
      </div>

      <ion-virtual-scroll #openScroll [items]="openBrewsView  | searchBrews:query"  approxItemHeight="220px">
        <brew-information (brewAction)="brewAction($event[0],$event[1])" *virtualItem="let brew;"
                          [brew]="brew"></brew-information>
      </ion-virtual-scroll>


    </div>
    <div *ngIf="settings?.show_archived_brews">
      <div *ngSwitchCase="'archive'">

        <div *ngIf="archiveBrewsView?.length > 0 || isFilterActive() === true" class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">

          <ion-searchbar  (ionChange)="research()" [(ngModel)]="archivedBrewFilterText" class="ion-no-padding ion-no-margin" debounce="750" placeholder="{{'SEARCH' | translate}}" search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
          <ion-button (click)="showFilter()" fill="clear" size="small" tappable>
            <ion-icon *ngIf="isFilterActive()"  name="beanconqueror-filter-active"
                      slot="icon-only"></ion-icon>
            <ion-icon *ngIf="!isFilterActive()"  name="beanconqueror-filter-inactive"
                      slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="archiveBrewsView?.length == 0" class="ion-padding ion-text-center">
          <div>
            <ion-icon color="inactive" name="beanconqueror-cup" size="large"></ion-icon>
          </div>
          <div class="text-color-inactive ion-margin-top">
            {{"PAGE_BREWS_NO_ARCHIVED_ENTRIES" | translate}}
          </div>
        </div>

        <ion-virtual-scroll #archivedScroll *ngIf="archiveBrewsView?.length > 0" [items]="archiveBrewsView  | searchBrews:query" approxItemHeight="220px">
          <brew-information (brewAction)="brewAction($event[0],$event[1])" *virtualItem="let brew;"
                            [brew]="brew"></brew-information>
        </ion-virtual-scroll>


      </div>
    </div>
  </div>




</ion-content>
