<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()" [disabled]="!uiBrewHelper.canBrew()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="showMore($event)">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_BREWS" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-segment [(ngModel)]="brew_segment">
      <ion-segment-button value="open">
        <ion-label>{{"CURRENT" | translate }}
          <ion-badge>{{openBrewsCount}}</ion-badge>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="archive">
        <ion-label>{{"ARCHIVE" | translate }}
          <ion-badge>{{archivedBrewsCount}}</ion-badge>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="brew_segment">
    <ion-item *ngIf="uiBrewHelper.canBrew() && settings.method_of_preparation === true">
      <ion-label stacked>{{"BREW_DATA_PREPARATION_METHOD" | translate}}</ion-label>
      <ion-select (ngModelChange)="filterChanged($event)" [(ngModel)]="openBrewsFilter.method_of_preparation"
                  [interfaceOptions]="customSelectSheetOptions"
                  multiple="true">
        <ion-select-option *ngFor="let method of method_of_preparations" value="{{method.config.uuid}}">{{method.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.canBrew() &&  settings.bean_type === true">
      <ion-label stacked>{{"BREW_DATA_BEAN_TYPE" | translate}}</ion-label>
      <ion-select (ngModelChange)="filterChanged($event)" [(ngModel)]="openBrewsFilter.bean"
                  [interfaceOptions]="customSelectSheetOptions" multiple="true">>
        <ion-select-option *ngFor="let bean of beans"
                           value="{{bean.config.uuid}}">{{bean.name}}&nbsp;{{bean.finished ? '(Archiv)' : ''}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.canBrew() &&  settings.mill === true">
      <ion-label stacked>{{"BREW_DATA_MILL" | translate }}</ion-label>
      <ion-select (ngModelChange)="filterChanged($event)" [(ngModel)]="openBrewsFilter.mill"
                  [interfaceOptions]="customSelectSheetOptions" multiple="true">
        <ion-select-option *ngFor="let mill of mills" value="{{mill.config.uuid}}">{{mill.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngSwitchCase="'open'">
      <ion-card *ngIf="!uiBrewHelper.canBrew()" class="ion-padding">
        <h2 [innerHTML]="'PAGE_BREWS_START_A_NEW_BREW' | translate" class="error-text">s</h2>
      </ion-card>
      <ion-card *ngIf="brews?.length == 0 && uiBrewHelper.canBrew()" class="ion-padding">
        {{"PAGE_BREWS_NO_COFFEE_DRUNK_AT_ALL" | translate}}
      </ion-card>
      <ion-card *ngIf="openBrewsView?.length == 0" class="ion-padding">
        {{"PAGE_BREWS_NO_ENTRIES" | translate}}
      </ion-card>
      <ion-list *ngFor="let brewView of openBrewsView">
        <ion-list-header *ngIf="(brewView.brews).length > 0" class="brews-header">
          <ion-label>{{brewView.title}}</ion-label>
        </ion-list-header>
        <ion-card *ngFor="let brew of brewView.brews">
          <ion-card-header>
            <ion-row class="center-col">
              <ion-col *ngIf="settings.bean_type === true" size="10">
                <ion-icon class="custom-coffee-bag"></ion-icon>&nbsp;
                <span *ngIf="brew.getBean().roaster" style="font-weight:bold;">{{brew.getBean().roaster}}</span>
                <span *ngIf="brew.getBean().roaster" class="margin-horizontal-5">-</span>
                <span>{{brew.getBean().name}}</span>
              </ion-col>
              <ion-col class="ion-justify-content-end" size="2">
                <ion-button (click)="showBrewActions($event, brew)" color="medium" fill="clear">
                  <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>

            <ion-grid class="ion-no-padding">
              <ion-row class="center-col">
                <ion-col *ngIf="settings.grind_weight === true" size="3">
                  <i class="fa fa-balance-scale"></i>&nbsp;{{brew.grind_weight}}
                </ion-col>
                <ion-col *ngIf="settings.brew_quantity === true" size="3">
                  <ion-icon name="beaker-outline"></ion-icon>&nbsp;{{brew.brew_quantity}}
                </ion-col>
                <ion-col *ngIf="settings.grind_weight === true && settings.brew_quantity" size="3">
                  <i class="fa fa-percent"></i>&nbsp;{{brew.getBrewRatio()}}
                </ion-col>
                <ion-col *ngIf="settings.brew_time === true" size="3">
                  <ion-icon name="timer-outline"></ion-icon>&nbsp;{{brew.brew_time}}
                  ({{brew.getCalcualatedCoffeeBrewTime()}})
                </ion-col>

              </ion-row>
              <ion-row class="center-col">
                <ion-col *ngIf="settings.grind_size === true" size="3">
                  <i class="fa fa-th"></i>&nbsp;{{brew.grind_size}}
                </ion-col>
                <ion-col *ngIf="settings.brew_temperature === true" size="3">
                  <i class="fa fa-thermometer-half "></i>&nbsp;{{brew.brew_temperature}}
                </ion-col>
                <ion-col *ngIf="settings.rating === true" size="3">
                  <i class="fa fa-smile-o"></i>&nbsp;{{brew.rating}}
                </ion-col>
                <ion-col size="3">
                  <ion-icon name="time-outline"></ion-icon>&nbsp;{{brew.formateDate("HH:mm")}}
                </ion-col>
              </ion-row>

              <ion-row class="center-col">
                <ion-col *ngIf="settings.method_of_preparation === true" size="6">

                  <ion-icon class="custom-filter margin-right-5"></ion-icon>
                  <ion-label>{{brew.getPreparation().name}}</ion-label>
                </ion-col>
                <ion-col *ngIf="settings.mill === true" size="6">
                  <ion-icon class="custom-mill margin-right-5"></ion-icon>
                  <ion-label>{{brew.getMill().name}}</ion-label>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="settings.note === true && brew.note !=''">
                <ion-col class="ion-align-self-center" size="1">
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <pre class="blockquote">{{brew.note}}</pre>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    <div *ngSwitchCase="'archive'">
      <ion-card *ngIf="archiveBrewsView?.length == 0" class="ion-padding">
        Keine Einträge vorhanden.
      </ion-card>
      <ion-list *ngFor="let brewView of archiveBrewsView">
        <ion-list-header *ngIf="(brewView.brews | searchBrews:query).length > 0" class="brews-header">
          <ion-label>{{brewView.title}}</ion-label>
        </ion-list-header>
        <ion-card *ngFor="let brew of brewView.brews | searchBrews:query">
          <ion-card-header>
            <ion-row>
              <ion-col *ngIf="settings.bean_type === true" class="ion-align-self-center" size="10">
                <p>
                  <ion-icon class="custom-coffee-bag"></ion-icon>&nbsp;
                  <span *ngIf="brew.getBean().roaster" style="font-weight:bold;">{{brew.getBean().roaster}}
                    - </span>{{brew.getBean().name}}</p>
              </ion-col>
              <ion-col class="ion-align-self-center" size="2">
                <ion-button (click)="showBrewActions($event, brew)" color="medium" fill="clear">
                  <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>

            <ion-grid class="ion-no-padding">
              <ion-row class="center-col">
                <ion-col *ngIf="settings.grind_weight === true" size="3">
                  <i class="fa fa-balance-scale"></i>&nbsp;{{brew.grind_weight}}
                </ion-col>
                <ion-col *ngIf="settings.brew_quantity === true" size="3">
                  <ion-icon name="beaker-outline"></ion-icon>&nbsp;{{brew.brew_quantity}}
                </ion-col>
                <ion-col *ngIf="settings.grind_weight === true && settings.brew_quantity" size="3">
                  <i class="fa fa-percent"></i>&nbsp;{{brew.getBrewRatio()}}
                </ion-col>
                <ion-col *ngIf="settings.brew_time === true" size="3">
                  <ion-icon name="timer-outline"></ion-icon>&nbsp;{{brew.brew_time}}
                  ({{brew.getCalcualatedCoffeeBrewTime()}})
                </ion-col>

              </ion-row>
              <ion-row class="center-col">
                <ion-col *ngIf="settings.grind_size === true" size="3">
                  <i class="fa fa-th"></i>&nbsp;{{brew.grind_size}}
                </ion-col>
                <ion-col *ngIf="settings.brew_temperature === true" size="3">
                  <i class="fa fa-thermometer-half "></i>&nbsp;{{brew.brew_temperature}}
                </ion-col>
                <ion-col *ngIf="settings.rating === true" size="3">
                  <i class="fa fa-smile-o"></i>&nbsp;{{brew.rating}}
                </ion-col>
                <ion-col size="3">
                  <ion-icon name="time-outline"></ion-icon>&nbsp;{{brew.formateDate("HH:mm")}}
                </ion-col>
              </ion-row>

              <ion-row class="center-col">
                <ion-col *ngIf="settings.method_of_preparation === true" size="6">

                  <ion-icon class="custom-filter margin-right-5"></ion-icon>
                  <ion-label>{{brew.getPreparation().name}}</ion-label>
                </ion-col>
                <ion-col *ngIf="settings.mill === true" size="6">
                  <ion-icon class="custom-mill margin-right-5"></ion-icon>
                  <ion-label>{{brew.getMill().name}}</ion-label>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="settings.note === true && brew.note !=''">
                <ion-col class="ion-align-self-center" size="1">
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <pre class="blockquote">{{brew.note}}</pre>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>




</ion-content>
