:host {
  ion-row.center-col ion-col {
    display: flex;
    align-items: center
  }
  .brews-header{
    border-top:none;
    background-color:rgb(160,176,196);
    color:black;
  }
  ion-list{
    margin-top: 0px !important;
  }
  ion-list:first-child{
    margin-top:0px!important;
  }

  button[justify-content-start] .button-inner{
    justify-content: flex-start;
  }
  .error-text{
    color:red;
  }

  ion-card.dynamic-padding {
    ion-card-header {
      padding-top: 0px;
      padding-left: 5px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    ion-card-content {
      padding-left: 5px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    padding: 5px;
    padding-top: 0px;
  }


  ion-list-header {
    --background: rgb(160, 176, 196);
    --color: black;
  }

}


