<ion-header>
  <ion-toolbar>
    <ion-title>{{"DETAIL_BREW" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="loaded">

  <ion-card *ngIf=" showSectionBeforeBrew()" class="ion-margin-horizontal popover" style="display:flex; flex-direction: column;">

      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"BREW_HEADER_BEFORE_BREW" | translate }}</span>
      </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_size,
                      data.getPreparation().manage_parameters.grind_size,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_size,
                      data.getPreparation().brew_order.before.grind_size,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_SIZE" | translate}}:</h2>
        <h3>{{data.grind_size}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight,
                      data.getPreparation().manage_parameters.grind_weight,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_weight,
                      data.getPreparation().brew_order.before.grind_weight,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_WEIGHT" | translate}}:</h2>
        <h3>{{data.grind_weight}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature,
                      data.getPreparation().manage_parameters.brew_temperature,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.brew_temperature,
                      data.getPreparation().brew_order.before.brew_temperature,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_TEMPERATURE" | translate}}:</h2>
        <h3>{{data.brew_temperature}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation,
                      data.getPreparation().manage_parameters.method_of_preparation,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation,
                      data.getPreparation().brew_order.before.method_of_preparation,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD" | translate}}:</h2>
        <h3>{{data.getPreparation().name}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.bean_type,
                      data.getPreparation().manage_parameters.bean_type,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BEAN_TYPE" | translate}}:</h2>
        <h3>{{data.getBean().name}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="data.getCalculatedBeanAge()>-1" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)">
        <ion-label>
          <h2>{{"BREW_INFORMATION_BEAN_AGE" | translate}}:</h2>
          <h3>{{data.getCalculatedBeanAge()}}</h3>
        </ion-label>
      </ion-item>
      <ion-item [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)">
        <ion-label>
          <h2>{{"BREW_INFORMATION_BREW_RATIO"  | translate}}:</h2>
          <h3>{{data.getBrewRatio()}}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill,
                      data.getPreparation().manage_parameters.mill,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill,
                      data.getPreparation().brew_order.before.mill,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_MILL" | translate}}:</h2>
        <h3>{{data.getMill().name}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_speed,
                      data.getPreparation().manage_parameters.mill_speed,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_speed,
                      data.getPreparation().brew_order.before.mill_speed,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_SPEED" | translate}}:</h2>
        <h3>{{data.mill_speed}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_timer,
                      data.getPreparation().manage_parameters.mill_timer,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_timer,
                      data.getPreparation().brew_order.before.mill_timer,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_TIMER" | translate}}:</h2>
        <h3>{{data.mill_timer}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.pressure_profile,
                      data.getPreparation().manage_parameters.pressure_profile,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.pressure_profile,
                      data.getPreparation().brew_order.before.pressure_profile,
                      data.getPreparation().use_custom_parameters)">
        <ion-label>
          <h2>{{"BREW_DATA_PRESSURE_PROFILE" | translate}}:</h2>
          <h3>{{data.pressure_profile}}</h3>
        </ion-label>
      </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation_tool,
                      data.getPreparation().manage_parameters.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation_tool,
                      data.getPreparation().brew_order.before.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)"
              lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}:</h2>
        <ion-chip  *ngFor="let uuid of data.method_of_preparation_tools">{{data.getPreparationToolName(uuid)}}</ion-chip>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="showSectionWhileBrew()" class="ion-margin-horizontal popover" style="display:flex; flex-direction: column;">

      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"BREW_HEADER_WHILE_BREW" | translate }}</span>
      </ion-item>

      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature_time,
                      data.getPreparation().manage_parameters.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_temperature_time,
                      data.getPreparation().brew_order.while.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{'BREW_DATA_TEMPERATURE_TIME' | translate}} / {{'BREW_DATA_SURF_TIME' | translate}}:</h2>
        <h3>{{data.brew_temperature_time}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time,
                      data.getPreparation().manage_parameters.brew_time,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{'BREW_DATA_TIME' | translate}}:</h2>
        <h3>{{data.getFormattedBrewTime()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time && settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.brew_time && data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) &&  data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)" lines="full">
      <ion-label>
        <h2>{{'BREW_DATA_CALCULATED_COFFEE_BREW_TIME' | translate}}:</h2>
        <h3>{{data.getFormattedCoffeeBrewTime()}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_blooming_time,
                      data.getPreparation().manage_parameters.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_blooming_time,
                      data.getPreparation().brew_order.while.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}:</h2>
        <h3>{{data.coffee_blooming_time}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_first_drip_time,
                      data.getPreparation().brew_order.while.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}:</h2>
        <h3>{{data.coffee_first_drip_time}}</h3>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card  *ngIf="showSectionAfterBrew()" class="ion-margin-horizontal popover" style="display:flex; flex-direction: column;">
      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"BREW_HEADER_AFTER_BREW" | translate }}</span>
      </ion-item>
      <ion-item  *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_quantity,
                      data.getPreparation().manage_parameters.brew_quantity,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type !== PREPARATION_STYLE_TYPE.ESPRESSO"

                 [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_quantity,
                      data.getPreparation().brew_order.after.brew_quantity,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_QUANTITY" | translate}}:</h2>
        <h3>{{data.brew_quantity}} ({{data.getBrewQuantityTypeName()}})</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_type,
                      data.getPreparation().manage_parameters.coffee_type,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_type,
                      data.getPreparation().brew_order.after.coffee_type,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_TYPE" | translate}}
        </h2>
        <h3>{{data.coffee_type}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_concentration,
                      data.getPreparation().manage_parameters.coffee_concentration,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_concentration,
                      data.getPreparation().brew_order.after.coffee_concentration,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}:</h2>
        <h3>{{data.coffee_concentration}}</h3>
      </ion-label>
    </ion-item>
      <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.rating,
                      data.getPreparation().manage_parameters.rating,
                      data.getPreparation().use_custom_parameters)"

                [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.rating,
                      data.getPreparation().brew_order.after.rating,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_RATING" | translate }}:</h2>
        <h3>{{data.rating}}</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_beverage_quantity,
                      data.getPreparation().manage_parameters.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_beverage_quantity,
                      data.getPreparation().brew_order.after.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate }}:</h2>
        <h3>{{data.brew_beverage_quantity}}&nbsp;({{data.getBrewBeverageQuantityTypeName()}})</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_TDS" | translate }}:</h2>
        <h3>{{data.tds}}</h3>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight && settings.manage_parameters.brew_quantity && settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.grind_weight && data.getPreparation().manage_parameters.brew_quantity && data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)"disabled="true" lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_CALCULATED_EXTRACTION_YIELD" | translate }}:</h2>
        <h3>{{data.getExtractionYield()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.note,
                    data.getPreparation().manage_parameters.note,
                    data.getPreparation().use_custom_parameters)"

              [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.note,
                    data.getPreparation().brew_order.after.note,
                    data.getPreparation().use_custom_parameters)">
    <ion-label>
      <h2>{{"BREW_DATA_NOTES" | translate }}:</h2>
      <pre>{{data.note}}</pre>
    </ion-label>
  </ion-item>

    <div class="last-item"></div>
  </ion-card>
  <ion-card   *ngIf="showCupping()" class="ion-margin-horizontal popover" style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_CUPPING" | translate }}</span>
    </ion-item>
    <div  class="ion-margin-horizontal" style="display: block">
      <canvas #cuppingChart></canvas>
    </div>
    <ion-item *ngIf="data.cupping.notes !== ''" lines="none">
      <ion-label position="stacked">{{"BREW_DATA_NOTES" | translate }}</ion-label>
      <pre>{{data.cupping.notes}}</pre>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline"
                  tappable>{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
