:host {

  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }


  ion-card {
    div.last-item {
      margin-bottom: 16px;
      /*Last one*/
      order: 10000;
    }

  }


  ion-card.flow-profile {
    margin: 0px;

    ion-card-header {
      color: #FFFFFF;
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      min-height: 60px;
      padding: 8px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    ion-card-content {
      padding-top: 8px;
      color: #000000;
      padding-bottom: 4px;
    }

  }

  ion-chip.weight {
    --background: #cdc2ac;
    --color: black;
  }

  ion-chip.flowcalculated {
    --background: #7F97A2;
    --color: white;
  }

  ion-chip.chip-outline {
    --color: black !important;
  }

  ion-chip.flowreal {
    --background: #09485D;
    --color: white;
  }

  ion-chip.pressure {
    --background: #05C793;
    --color: black;
  }

  ion-chip.temperature {
    --background: #CC3311;
    --color: white;
  }
}