:host {
  // Fix repeat icon sizing in header
  ::ng-deep app-header-button ion-icon[name='beanconqueror-repeat'] {
    width: 32px;
    margin-top: 5px;
  }

  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  ion-card {
    div.last-item {
      margin-bottom: 16px;
      /*Last one*/
      order: 10000;
    }
  }

  ion-card.flow-profile {
    margin: 0px;

    ion-card-header {
      color: var(--ion-text-color);
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      min-height: 60px;
      padding: 8px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    ion-card-content {
      padding-top: 8px;
      color: var(--ion-color-text);
      padding-bottom: 4px;
    }
  }

  ion-card.flow-profile.temperature-card {
    ion-card-header {
      background-color: #cc3311 !important;
    }

    ion-icon {
      color: #cc3311 !important;
    }
  }

  ion-card.flow-profile.pressure-card {
    ion-card-header {
      background-color: #05c793 !important;
    }

    ion-icon {
      color: #05c793 !important;
    }

    ion-icon > div.icon-inner > svg.s-ion-icon > g {
      fill: #05c793 !important;
    }
  }

  ion-card.flow-profile.flow-card {
    ion-card-header {
      background-color: #09485d !important;
    }

    ion-icon {
      color: #09485d !important;
    }
  }

  ion-card.flow-profile.weight-card {
    ion-card-header {
      background-color: #cdc2ac !important;
    }

    ion-icon {
      color: #cdc2ac !important;
    }
  }

  .brew-information-panel {
    ion-icon {
      font-size: 30px;
    }
  }
}
