<ion-header>
  <ion-toolbar>
    <ion-title>{{"DETAIL_BREW" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="big-icon-only" (click)="repeat()" tappable>
        <ion-icon style='width: 32px;margin-top:5px;' name="beanconqueror-repeat" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="big-icon-only" (click)="edit()" tappable>
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--We need to set editActive here aswell, because this will destroy 'everything' else we sometimes have the issue on android that plotly does not render the lines on the first time -->
<ion-content *ngIf="loaded && editActive === false">

  <ion-card *ngIf="uiShowSectionBeforeBrew" class="popover"
    style="display:flex; flex-direction: column;">

    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_BEFORE_BREW" | translate }}</span>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.grind_size,
                      choosenPreparation.manage_parameters.grind_size,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.grind_size,
                      choosenPreparation.brew_order.before.grind_size,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_SIZE" | translate}}:</h2>
        <h3>{{data.grind_size}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.grind_weight,
                      choosenPreparation.manage_parameters.grind_weight,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.grind_weight,
                      choosenPreparation.brew_order.before.grind_weight,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_WEIGHT" | translate}}:</h2>
        <h3>{{data.grind_weight}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_temperature,
                      choosenPreparation.manage_parameters.brew_temperature,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.brew_temperature,
                      choosenPreparation.brew_order.before.brew_temperature,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_TEMPERATURE" | translate}}:</h2>
        <h3>{{data.brew_temperature}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.method_of_preparation,
                      choosenPreparation.manage_parameters.method_of_preparation,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.method_of_preparation,
                      choosenPreparation.brew_order.before.method_of_preparation,
                      choosenPreparation.use_custom_parameters])" detail="true" (click)="detailPreparation()">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD" | translate}}:</h2>
        <h3>{{choosenPreparation.name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.bean_type,
                      choosenPreparation.manage_parameters.bean_type,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.bean_type,
                      choosenPreparation.brew_order.before.bean_type,
                      choosenPreparation.use_custom_parameters])" detail="true" (click)="detailBean()">
      <ion-label>
        <h2>{{"BREW_DATA_BEAN_TYPE" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_BEAN_NAME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_CALCULATED_BEAN_AGE)>-1" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.bean_type,
                      choosenPreparation.brew_order.before.bean_type,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_INFORMATION_BEAN_AGE" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_CALCULATED_BEAN_AGE}}</h3>
      </ion-label>
    </ion-item>
    <ion-item [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.bean_type,
                      choosenPreparation.brew_order.before.bean_type,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_INFORMATION_BREW_RATIO" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_BREW_RATIO}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.mill,
                      choosenPreparation.manage_parameters.mill,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.mill,
                      choosenPreparation.brew_order.before.mill,
                      choosenPreparation.use_custom_parameters])" detail="true" (click)="detailMill()">
      <ion-label>
        <h2>{{"BREW_DATA_MILL" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_MILL_NAME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.mill_speed,
                      choosenPreparation.manage_parameters.mill_speed,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.mill_speed,
                      choosenPreparation.brew_order.before.mill_speed,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_SPEED" | translate}}:</h2>
        <h3>{{data.mill_speed}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.mill_timer,
                      choosenPreparation.manage_parameters.mill_timer,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.mill_timer,
                      choosenPreparation.brew_order.before.mill_timer,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_TIMER" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_TOTAL_MILL_TIME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.pressure_profile,
                      choosenPreparation.manage_parameters.pressure_profile,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.pressure_profile,
                      choosenPreparation.brew_order.before.pressure_profile,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_PRESSURE_PROFILE" | translate}}:</h2>
        <h3>{{data.pressure_profile}}</h3>
      </ion-label>
      <ion-button *ngIf="(data | brewFunctionPipe : BREW_FUNCTION_PIPE_ENUM.IS_PRESSURE_PARAMETER_URL)" style="margin-left:0px;" (click)="openURL(data.pressure_profile)"
                  tabIndex="1" class="big-icon-only" fill="clear" slot="end" tappable>
        <ion-icon class="ion-color-accent" name="globe-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.method_of_preparation_tool,
                      choosenPreparation.manage_parameters.method_of_preparation_tool,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.method_of_preparation_tool,
                      choosenPreparation.brew_order.before.method_of_preparation_tool,
                      choosenPreparation.use_custom_parameters])" lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}:</h2>
        <div class="break-whitespaces"><ion-chip
            *ngFor="let uuid of data.method_of_preparation_tools">{{data | brewFunctionPipe: [BREW_FUNCTION_PIPE_ENUM.GET_PREPARATION_TOOL_NAME,uuid] }}</ion-chip></div>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.bean_weight_in,
                      choosenPreparation.manage_parameters.bean_weight_in,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.bean_weight_in,
                      choosenPreparation.brew_order.before.bean_weight_in,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_BEAN_WEIGHT_IN" | translate}}:</h2>
        <h3>{{data.bean_weight_in}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.vessel,
                      choosenPreparation.manage_parameters.vessel,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.vessel,
                      choosenPreparation.brew_order.before.vessel,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_VESSEL_NAME" | translate}}:</h2>
        <h3 *ngIf="data.vessel_name !== ''">{{data.vessel_name}}</h3>
        <h3 *ngIf="data.vessel_name === ''">-</h3>
      </ion-label>
      <ion-label>
        <h2>{{"BREW_DATA_VESSEL_WEIGHT" | translate}}:</h2>
        <h3>{{data.vessel_weight}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.water,
                      choosenPreparation.manage_parameters.water,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.before.water,
                      choosenPreparation.brew_order.before.water,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_WATER" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.GET_WATER_NAME}}</h3>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  @if(data?.preparationDeviceBrew?.type === PreparationDeviceType.SANREMO_YOU) {
    <ion-card class="popover" style="display:flex; flex-direction: column;">
      <ion-item lines="none">
        <span class="ion-title ion-padding-top">{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.TITLE" | translate }}</span>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.SELECT_MODE" | translate}}</h3>

        @switch(data?.preparationDeviceBrew?.params.selectedMode) {
          @case (SanremoYOUMode.LISTENING) {
            <span>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.MODE_LISTENING" | translate}}</span>
          }
          @case (SanremoYOUMode.MANUAL_CONTROLLING) {
            <span>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.MANUAL_CONTROLLING" | translate}}</span>
          }
          @case (SanremoYOUMode.PROFILE_P1_CONTROLLING) {
            <span>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.PROFILE_P1_CONTROLLING" | translate}}</span>
          }
          @case (SanremoYOUMode.PROFILE_P2_CONTROLLING) {
            <span>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.PROFILE_P2_CONTROLLING" | translate}}</span>
          }
          @case (SanremoYOUMode.PROFILE_P3_CONTROLLING) {
            <span>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.PROFILE_P3_CONTROLLING" | translate}}</span>
          }
        }
        </ion-label>
      </ion-item>
      @if(data?.preparationDeviceBrew?.params.selectedMode !== SanremoYOUMode.LISTENING) {
      <ion-item  lines="none">
        <ion-label>
          <h3>{{"PREPARATION_DEVICE.TYPE_SANREMO_YOU.STOP_AT_WEIGHT" | translate}}</h3>
          <span>{{data?.preparationDeviceBrew?.params.stopAtWeight}}</span>
        </ion-label>


      </ion-item>
      }





    </ion-card>
  }
  <ion-card *ngIf="uiShowSectionWhileBrew" class="popover"
    style="display:flex; flex-direction: column;">

    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_WHILE_BREW" | translate }}</span>

    </ion-item>

    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_temperature_time,
                      choosenPreparation.manage_parameters.brew_temperature_time,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.brew_temperature_time,
                      choosenPreparation.brew_order.while.brew_temperature_time,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{'BREW_DATA_TEMPERATURE_TIME' | translate}} / {{'BREW_DATA_SURF_TIME' | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_TOTAL_COFFEE_TEMPERATURE_TIME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.flow_profile" lines="none" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.brew_time,
                      choosenPreparation.brew_order.while.brew_time,
                      choosenPreparation.use_custom_parameters])">

      <ion-grid class="ion-text-center" style="padding-left: 0px; padding-right: 0px; padding-top: 0px;">
        <ion-row class="ion-no-padding">
          <ion-col size="5">

            <ion-card class="flow-profile ion-text-center" style="height: 100%;">
              <ion-card-header>
                <div>{{getAvgFlow()| toFixed: 2}} g/s</div>
              </ion-card-header>
              <ion-card-content>
                {{"BREW_AVG_FLOW_WEIGHT_PER_SECOND" | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="2" style="margin:auto">
            <ion-button fill="clear" id="popover-button" tappable>
              <ion-icon name="download" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-popover [dismissOnSelect]="true" trigger="popover-button">
              <ng-template>
                <ion-content style="--background:white;">
                  <ion-list style="padding:0;background:white;">
                    <ion-item (click)="downloadFlowProfile()" tappable [button]="true" [detail]="false"
                      class="ion-padding-horizontal">{{"DOWNLOAD_XLSX" | translate}}</ion-item>
                    <ion-item (click)="downloadJSONProfile()" tappable [button]="true" [detail]="false"
                      class="ion-padding-horizontal">{{"DOWNLOAD_JSON" | translate}}</ion-item>
                    <ion-item (click)="downloadVisualizerProfile()" tappable [button]="true" [detail]="false"
                              class="ion-padding-horizontal">{{"MANUAL_EXPORT_TO_VISUALIZER" | translate}}</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-col>
          <ion-col size="2" style="margin:auto">

            <ion-button (click)="shareFlowProfile()" tappable fill="clear">
              <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" style="margin:auto">
            <ion-button (click)="maximizeFlowGraph()" tappable fill="clear">
              <ion-icon name="expand-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
    <brew-brewing-graph *ngIf='editActive===false && data.flow_profile' [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.brew_time,
                      choosenPreparation.brew_order.while.brew_time,
                      choosenPreparation.use_custom_parameters])" #brewBrewingGraphEl [isDetail]='true' [brewComponent]='this' [(data)]='data'></brew-brewing-graph>

    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_time,
                      choosenPreparation.manage_parameters.brew_time,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.brew_time,
                      choosenPreparation.brew_order.while.brew_time,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{'BREW_DATA_TIME' | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_BREW_TIME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="((settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_time && settings.manage_parameters.coffee_first_drip_time,
                      choosenPreparation.manage_parameters.brew_time && choosenPreparation.manage_parameters.coffee_first_drip_time,
                      choosenPreparation.use_custom_parameters]) &&  choosenPreparation.style_type === PREPARATION_STYLE_TYPE.ESPRESSO) || (choosenPreparation.use_custom_parameters &&  choosenPreparation.manage_parameters.coffee_first_drip_time)"
      [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.brew_time,
                      choosenPreparation.brew_order.while.brew_time,
                      choosenPreparation.use_custom_parameters])" lines="full">
      <ion-label>
        <h2>{{'BREW_DATA_CALCULATED_COFFEE_BREW_TIME' | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_COFFEE_BREW_TIME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.coffee_blooming_time,
                      choosenPreparation.manage_parameters.coffee_blooming_time,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.coffee_blooming_time,
                      choosenPreparation.brew_order.while.coffee_blooming_time,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_TOTAL_COFFEE_BLOOMING_TIME}}</h3>
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="((settings | brewFieldVisiblePipe: [settings.manage_parameters.coffee_first_drip_time,
                      choosenPreparation.manage_parameters.coffee_first_drip_time,
                      choosenPreparation.use_custom_parameters]) && choosenPreparation.style_type === PREPARATION_STYLE_TYPE.ESPRESSO) || (choosenPreparation.use_custom_parameters &&  choosenPreparation.manage_parameters.coffee_first_drip_time)"
      [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.while.coffee_first_drip_time,
                      choosenPreparation.brew_order.while.coffee_first_drip_time,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}:</h2>
        <h3>{{data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.FORMATTED_TOTAL_COFFEE_FIRST_DRIP_TIME}}</h3>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="uiShowSectionAfterBrew" class="popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_AFTER_BREW" | translate }}</span>
    </ion-item>
    <ion-item
      *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_quantity,
                      choosenPreparation.manage_parameters.brew_quantity,
                      choosenPreparation.use_custom_parameters]) && choosenPreparation.style_type !== PREPARATION_STYLE_TYPE.ESPRESSO"
      [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.brew_quantity,
                      choosenPreparation.brew_order.after.brew_quantity,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_QUANTITY" | translate}}:</h2>
        <h3>{{data.brew_quantity}} ({{data.getBrewQuantityTypeName()}})</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.coffee_type,
                      choosenPreparation.manage_parameters.coffee_type,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.coffee_type,
                      choosenPreparation.brew_order.after.coffee_type,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_TYPE" | translate}}
        </h2>
        <h3>{{data.coffee_type}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.coffee_concentration,
                      choosenPreparation.manage_parameters.coffee_concentration,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.coffee_concentration,
                      choosenPreparation.brew_order.after.coffee_concentration,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}:</h2>
        <h3>{{data.coffee_concentration}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.rating,
                      choosenPreparation.manage_parameters.rating,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.rating,
                      choosenPreparation.brew_order.after.rating,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_RATING" | translate }}:</h2>
        <h3>{{data.rating | number : '.0-2'}}</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.brew_beverage_quantity,
                      choosenPreparation.manage_parameters.brew_beverage_quantity,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.brew_beverage_quantity,
                      choosenPreparation.brew_order.after.brew_beverage_quantity,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate }}:</h2>
        <h3>{{data.brew_beverage_quantity}}&nbsp;({{data.getBrewBeverageQuantityTypeName()}})</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.tds,
                      choosenPreparation.manage_parameters.tds,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.tds,
                      choosenPreparation.brew_order.after.tds,
                      choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_TDS" | translate }}:</h2>
        <h3>{{data.tds}}</h3>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.grind_weight && settings.manage_parameters.brew_beverage_quantity && settings.manage_parameters.tds,
                      choosenPreparation.manage_parameters.grind_weight && choosenPreparation.manage_parameters.brew_beverage_quantity && choosenPreparation.manage_parameters.tds,
                      choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.tds,
                      choosenPreparation.brew_order.after.tds,
                      choosenPreparation.use_custom_parameters])" lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_CALCULATED_EXTRACTION_YIELD" | translate }}:</h2>
        <h3>{{data | brewFunctionPipe: [BREW_FUNCTION_PIPE_ENUM.GET_EXTRACTION_YIELD,data.tds]}}</h3>
      </ion-label>
      <ion-button *ngIf="(data | brewFunctionPipe: [BREW_FUNCTION_PIPE_ENUM.GET_EXTRACTION_YIELD,data.tds])" style="margin-left:0px;"
      (click)="showExtractionChart($event)" tabIndex="1" class="big-icon-only" fill="clear" slot="end"
      tappable>
      <ion-icon class="ion-color-accent" name="beanconqueror-extraction-chart" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-item>
    <ion-item *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.note,
                    choosenPreparation.manage_parameters.note,
                    choosenPreparation.use_custom_parameters])" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.note,
                    choosenPreparation.brew_order.after.note,
                    choosenPreparation.use_custom_parameters])">
      <ion-label>
        <h2>{{"BREW_DATA_NOTES" | translate }}:</h2>
        <pre>{{data.note}}</pre>
      </ion-label>
      <ion-button *ngIf='data.note' (click)='copyNotesToClipboard()'
                  tabIndex="1" class="big-icon-only" fill="clear" slot="end" tappable>
        <ion-icon class="ion-color-accent" name="clipboard-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-item>

    <div *ngIf="(settings | brewFieldVisiblePipe: [settings.manage_parameters.attachments,
                  choosenPreparation.manage_parameters.attachments,
                  choosenPreparation.use_custom_parameters]) && data?.attachments?.length>0" [style.order]="(settings | brewFieldOrderPipe: [settings.brew_order.after.attachments,
                  choosenPreparation.brew_order.after.attachments,
                  choosenPreparation.use_custom_parameters])">
      <photo-view [(data)]="data"></photo-view>
    </div>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="uiShowCupping" class="popover" style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_CUPPING" | translate }}</span>
    </ion-item>
    <div class="ion-margin-horizontal" style="display: block">
      <canvas #cuppingChart></canvas>
    </div>
    <ion-item *ngIf="data.cupping.notes !== ''" lines="none">
      <ion-label position="stacked">{{"BREW_DATA_NOTES" | translate }}</ion-label>
      <pre>{{data.cupping.notes}}</pre>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>

  <ion-card *ngIf="(data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.HAS_CUSTOM_FLAVORS)" class="ion-margin-horizontal popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"CUSTOM_FLAVORS_AROMAS" | translate }}</span>
    </ion-item>

    <ion-item *ngFor="let customFlavor of this.data.cupped_flavor.custom_flavors;let index = i;let last = last;"
      lines="{{last?'none':'inset'}}">
      <ion-label>{{customFlavor}}</ion-label>
    </ion-item>

  </ion-card>
  <ion-card *ngIf="(data | brewFunctionPipe: BREW_FUNCTION_PIPE_ENUM.HAS_PREDEFINED_FLAVORS)" class="ion-margin-horizontal popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"PREDEFINED_FLAVORS_AROMAS" | translate }}</span>
    </ion-item>

    <ion-item *ngFor="let item of this.data.cupped_flavor.predefined_flavors | keyvalue;let last = last;"
      lines="{{last?'none':'inset'}}">
      <ion-label>{{'CUPPING_' + item.key | translate}}</ion-label>
    </ion-item>

  </ion-card>


</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline" tappable>{{"CLOSE" |
        translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
