<ion-header>
  <ion-toolbar>
    <ion-title>{{"DETAIL_BREW" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="big-icon-only" (click)="edit()" tappable>
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="loaded">

  <ion-card *ngIf=" showSectionBeforeBrew()" class="popover"
    style="display:flex; flex-direction: column;">

    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_BEFORE_BREW" | translate }}</span>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_size,
                      data.getPreparation().manage_parameters.grind_size,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_size,
                      data.getPreparation().brew_order.before.grind_size,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_SIZE" | translate}}:</h2>
        <h3>{{data.grind_size}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight,
                      data.getPreparation().manage_parameters.grind_weight,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.grind_weight,
                      data.getPreparation().brew_order.before.grind_weight,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_GRIND_WEIGHT" | translate}}:</h2>
        <h3>{{data.grind_weight}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature,
                      data.getPreparation().manage_parameters.brew_temperature,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.brew_temperature,
                      data.getPreparation().brew_order.before.brew_temperature,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_TEMPERATURE" | translate}}:</h2>
        <h3>{{data.brew_temperature}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation,
                      data.getPreparation().manage_parameters.method_of_preparation,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation,
                      data.getPreparation().brew_order.before.method_of_preparation,
                      data.getPreparation().use_custom_parameters)" detail="true" (click)="detailPreparation()">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD" | translate}}:</h2>
        <h3>{{data.getPreparation().name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.bean_type,
                      data.getPreparation().manage_parameters.bean_type,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)" detail="true" (click)="detailBean()">
      <ion-label>
        <h2>{{"BREW_DATA_BEAN_TYPE" | translate}}:</h2>
        <h3>{{data.getBean().name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.getCalculatedBeanAge()>-1" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_INFORMATION_BEAN_AGE" | translate}}:</h2>
        <h3>{{data.getCalculatedBeanAge()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_type,
                      data.getPreparation().brew_order.before.bean_type,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_INFORMATION_BREW_RATIO" | translate}}:</h2>
        <h3>{{data.getBrewRatio()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill,
                      data.getPreparation().manage_parameters.mill,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill,
                      data.getPreparation().brew_order.before.mill,
                      data.getPreparation().use_custom_parameters)" detail="true" (click)="detailMill()">
      <ion-label>
        <h2>{{"BREW_DATA_MILL" | translate}}:</h2>
        <h3>{{data.getMill().name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_speed,
                      data.getPreparation().manage_parameters.mill_speed,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_speed,
                      data.getPreparation().brew_order.before.mill_speed,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_SPEED" | translate}}:</h2>
        <h3>{{data.mill_speed}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.mill_timer,
                      data.getPreparation().manage_parameters.mill_timer,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.mill_timer,
                      data.getPreparation().brew_order.before.mill_timer,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_MILL_TIMER" | translate}}:</h2>
        <h3>{{data.mill_timer}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.pressure_profile,
                      data.getPreparation().manage_parameters.pressure_profile,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.pressure_profile,
                      data.getPreparation().brew_order.before.pressure_profile,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_PRESSURE_PROFILE" | translate}}:</h2>
        <h3>{{data.pressure_profile}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.method_of_preparation_tool,
                      data.getPreparation().manage_parameters.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.method_of_preparation_tool,
                      data.getPreparation().brew_order.before.method_of_preparation_tool,
                      data.getPreparation().use_custom_parameters)" lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_PREPARATION_METHOD_TOOL" | translate}}:</h2>
        <div class="break-whitespaces"><ion-chip
            *ngFor="let uuid of data.method_of_preparation_tools">{{data.getPreparationToolName(uuid)}}</ion-chip></div>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.bean_weight_in,
                      data.getPreparation().manage_parameters.bean_weight_in,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.bean_weight_in,
                      data.getPreparation().brew_order.before.bean_weight_in,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BEAN_WEIGHT_IN" | translate}}:</h2>
        <h3>{{data.bean_weight_in}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.vessel,
                      data.getPreparation().manage_parameters.vessel,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.vessel,
                      data.getPreparation().brew_order.before.vessel,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_VESSEL_NAME" | translate}}:</h2>
        <h3 *ngIf="data.vessel_name !== ''">{{data.vessel_name}}</h3>
        <h3 *ngIf="data.vessel_name === ''">-</h3>
      </ion-label>
      <ion-label>
        <h2>{{"BREW_DATA_VESSEL_WEIGHT" | translate}}:</h2>
        <h3>{{data.vessel_weight}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.water,
                      data.getPreparation().manage_parameters.water,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.before.water,
                      data.getPreparation().brew_order.before.water,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_WATER" | translate}}:</h2>
        <h3>{{data.getWater().name}}</h3>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="showSectionWhileBrew()" class="popover"
    style="display:flex; flex-direction: column;">

    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_WHILE_BREW" | translate }}</span>

    </ion-item>

    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_temperature_time,
                      data.getPreparation().manage_parameters.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_temperature_time,
                      data.getPreparation().brew_order.while.brew_temperature_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{'BREW_DATA_TEMPERATURE_TIME' | translate}} / {{'BREW_DATA_SURF_TIME' | translate}}:</h2>
        <h3>{{data?.getFormattedTotalCoffeeTemperatureTime()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.flow_profile !== '' || !this.platform.is('cordova')" lines="none" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">

      <ion-grid class="ion-text-center" style="padding-left: 0px; padding-right: 0px; padding-top: 0px;">
        <ion-row class="ion-no-padding">
          <ion-col size="5">

            <ion-card class="flow-profile ion-text-center" style="height: 100%;">
              <ion-card-header>
                <div>{{this.uiHelper.toFixedIfNecessary(getAvgFlow(),2)}} g/s</div>
              </ion-card-header>
              <ion-card-content>
                {{"BREW_AVG_FLOW_WEIGHT_PER_SECOND" | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="2" style="margin:auto">
            <ion-button fill="clear" id="popover-button" tappable>
              <ion-icon name="download" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-popover [dismissOnSelect]="true" trigger="popover-button">
              <ng-template>
                <ion-content style="--background:white;">
                  <ion-list style="padding:0;background:white;">
                    <ion-item (click)="downloadFlowProfile()" [button]="true" [detail]="false"
                      class="ion-padding-horizontal">{{"DOWNLOAD_XLSX" | translate}}</ion-item>
                    <ion-item (click)="downloadJSONProfile()" [button]="true" [detail]="false"
                      class="ion-padding-horizontal">{{"DOWNLOAD_JSON" | translate}}</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-col>
          <ion-col size="2" style="margin:auto">

            <ion-button (click)="shareFlowProfile()" tappable fill="clear">
              <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" style="margin:auto">
            <ion-button (click)="maximizeFlowGraph()" tappable fill="clear">
              <ion-icon name="expand-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-item [hidden]="data.flow_profile.length<=0 && this.platform.is('cordova')" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)"  class="ion-padding-bottom-half" lines="none">
      <div class="ion-text-center" style="width:100%">


        <ion-chip (click)="toggleChartLines('weight')"  *ngIf="this.weightTrace?.x.length > 0" [outline]="!this.weightTrace?.visible"
          class="weight">{{'BREW_FLOW_WEIGHT' | translate}}</ion-chip>
        <ion-chip (click)="toggleChartLines('calc_flow')"  *ngIf="this.flowPerSecondTrace?.x.length > 0"  [outline]="!this.flowPerSecondTrace?.visible"
          class="flowcalculated">{{'BREW_FLOW_WEIGHT_PER_SECOND' | translate}}</ion-chip>
        <ion-chip (click)="toggleChartLines('realtime_flow')" *ngIf="this.realtimeFlowTrace?.x.length > 0" [outline]="!this.realtimeFlowTrace?.visible"
          class="flowreal">{{'BREW_FLOW_WEIGHT_REALTIME' | translate}}</ion-chip>
        <ion-chip (click)="toggleChartLines('pressure')" *ngIf="this.pressureTrace?.x.length > 0"
          [outline]="!this.pressureTrace?.visible" class="pressure">{{'BREW_PRESSURE_FLOW' | translate}}</ion-chip>
        <ion-chip (click)="toggleChartLines('temperature')" *ngIf="this.temperatureTrace?.x.length > 0"
          [outline]="!this.temperatureTrace?.visible" class="temperature">{{'BREW_TEMPERATURE_REALTIME' |
          translate}}</ion-chip>
      </div>
    </ion-item>
    <ion-item [hidden]="data.flow_profile.length<=0 && this.platform.is('cordova')" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">
      <div *ngIf="editActive===false" id="canvasContainerBrew" style="width:100%;height:100%;">
        <div id="flowProfileChart"></div>
      </div>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time,
                      data.getPreparation().manage_parameters.brew_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{'BREW_DATA_TIME' | translate}}:</h2>
        <h3>{{data.getFormattedBrewTime()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_time && settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.brew_time && data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) &&  data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
      [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.brew_time,
                      data.getPreparation().brew_order.while.brew_time,
                      data.getPreparation().use_custom_parameters)" lines="full">
      <ion-label>
        <h2>{{'BREW_DATA_CALCULATED_COFFEE_BREW_TIME' | translate}}:</h2>
        <h3>{{data.getFormattedCoffeeBrewTime()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_blooming_time,
                      data.getPreparation().manage_parameters.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_blooming_time,
                      data.getPreparation().brew_order.while.coffee_blooming_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_BLOOMING_TIME" | translate}}:</h2>
        <h3>{{data?.getFormattedTotalCoffeeBloomingTime()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_first_drip_time,
                      data.getPreparation().manage_parameters.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type === PREPARATION_STYLE_TYPE.ESPRESSO"
      [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.while.coffee_first_drip_time,
                      data.getPreparation().brew_order.while.coffee_first_drip_time,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_FIRST_DRIP_TIME" | translate}}:</h2>
        <h3>{{data?.getFormattedTotalCoffeeFirstDripTime()}}</h3>
      </ion-label>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="showSectionAfterBrew()" class="popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_AFTER_BREW" | translate }}</span>
    </ion-item>
    <ion-item
      *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_quantity,
                      data.getPreparation().manage_parameters.brew_quantity,
                      data.getPreparation().use_custom_parameters) && data.getPreparation().style_type !== PREPARATION_STYLE_TYPE.ESPRESSO"
      [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_quantity,
                      data.getPreparation().brew_order.after.brew_quantity,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_QUANTITY" | translate}}:</h2>
        <h3>{{data.brew_quantity}} ({{data.getBrewQuantityTypeName()}})</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_type,
                      data.getPreparation().manage_parameters.coffee_type,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_type,
                      data.getPreparation().brew_order.after.coffee_type,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_TYPE" | translate}}
        </h2>
        <h3>{{data.coffee_type}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.coffee_concentration,
                      data.getPreparation().manage_parameters.coffee_concentration,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.coffee_concentration,
                      data.getPreparation().brew_order.after.coffee_concentration,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_COFFEE_CONCENTRATION" | translate}}:</h2>
        <h3>{{data.coffee_concentration}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.rating,
                      data.getPreparation().manage_parameters.rating,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.rating,
                      data.getPreparation().brew_order.after.rating,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_RATING" | translate }}:</h2>
        <h3>{{data.rating | number : '.0-2'}}</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.brew_beverage_quantity,
                      data.getPreparation().manage_parameters.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.brew_beverage_quantity,
                      data.getPreparation().brew_order.after.brew_beverage_quantity,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_BREW_BEVERAGE_QUANTITY" | translate }}:</h2>
        <h3>{{data.brew_beverage_quantity}}&nbsp;({{data.getBrewBeverageQuantityTypeName()}})</h3>
      </ion-label>

    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_TDS" | translate }}:</h2>
        <h3>{{data.tds}}</h3>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.grind_weight && settings.manage_parameters.brew_quantity && settings.manage_parameters.tds,
                      data.getPreparation().manage_parameters.grind_weight && data.getPreparation().manage_parameters.brew_quantity && data.getPreparation().manage_parameters.tds,
                      data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.tds,
                      data.getPreparation().brew_order.after.tds,
                      data.getPreparation().use_custom_parameters)" disabled="true" lines="inset">
      <ion-label>
        <h2>{{"BREW_DATA_CALCULATED_EXTRACTION_YIELD" | translate }}:</h2>
        <h3>{{data.getExtractionYield()}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.note,
                    data.getPreparation().manage_parameters.note,
                    data.getPreparation().use_custom_parameters)" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.note,
                    data.getPreparation().brew_order.after.note,
                    data.getPreparation().use_custom_parameters)">
      <ion-label>
        <h2>{{"BREW_DATA_NOTES" | translate }}:</h2>
        <pre>{{data.note}}</pre>
      </ion-label>
    </ion-item>

    <div *ngIf="uiBrewHelper.fieldVisible(settings.manage_parameters.attachments,
                  data.getPreparation().manage_parameters.attachments,
                  data.getPreparation().use_custom_parameters) && data?.attachments?.length>0" [style.order]="uiBrewHelper.fieldOrder(settings.brew_order.after.attachments,
                  data.getPreparation().brew_order.after.attachments,
                  data.getPreparation().use_custom_parameters)">
      <photo-view [(data)]="data"></photo-view>
    </div>
    <div class="last-item"></div>
  </ion-card>
  <ion-card *ngIf="showCupping()" class="popover" style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"BREW_HEADER_CUPPING" | translate }}</span>
    </ion-item>
    <div class="ion-margin-horizontal" style="display: block">
      <canvas #cuppingChart></canvas>
    </div>
    <ion-item *ngIf="data.cupping.notes !== ''" lines="none">
      <ion-label position="stacked">{{"BREW_DATA_NOTES" | translate }}</ion-label>
      <pre>{{data.cupping.notes}}</pre>
    </ion-item>
    <div class="last-item"></div>
  </ion-card>

  <ion-card *ngIf="data.hasCustomFlavors()" class="ion-margin-horizontal popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"CUSTOM_FLAVORS_AROMAS" | translate }}</span>
    </ion-item>

    <ion-item *ngFor="let customFlavor of this.data.cupped_flavor.custom_flavors;let index = i;let last = last;"
      lines="{{last?'none':'inset'}}">
      <ion-label>{{customFlavor}}</ion-label>
    </ion-item>

  </ion-card>
  <ion-card *ngIf="data.hasPredefinedFlavors()" class="ion-margin-horizontal popover"
    style="display:flex; flex-direction: column;">
    <ion-item lines="none">
      <span class="ion-title ion-padding-top">{{"PREDEFINED_FLAVORS_AROMAS" | translate }}</span>
    </ion-item>

    <ion-item *ngFor="let item of this.data.cupped_flavor.predefined_flavors | keyvalue;let last = last;"
      lines="{{last?'none':'inset'}}">
      <ion-label>{{'CUPPING_' + item.key | translate}}</ion-label>
    </ion-item>

  </ion-card>


</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline" tappable>{{"CLOSE" |
        translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
