<ion-header>
  <app-header [title]="'NAV_FROZEN_BEANS_LIST' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content #beanContent>

  <!--- We changed back to 100vh because of rendering issues somehow...-->
  <ag-virtual-scroll #openScroll [items]="frozenBeansList" [height]="'100vh'" [min-row-height]="180">
    @for (bean of openScroll.items; track bean) {
      <bean-information [disabled]='true' [showActions]='false'
      [bean]="bean"></bean-information>
    }

  </ag-virtual-scroll>

</ion-content>
