<ion-header>
  <app-header [title]="'WATER_SECTION.NAV_WATER' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="add()" />
  </app-header>
</ion-header>

<ion-content #waterContent>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" class="ion-padding-vertical" style="padding-top:0px;">
    <ion-segment-button value="open">
      <ion-label>{{"CURRENT" | translate}}
      </ion-label>
    </ion-segment-button>
    @if (settings?.show_archived_waters) {
      <ion-segment-button value="archiv">
        <ion-label>{{"TAB_ARCHIVE" | translate}}
        </ion-label>
      </ion-segment-button>
    }
  </ion-segment>
  @switch (segment) {
    @case ('open') {
      @if (openWaters.length == 0) {
        <div class="ion-padding ion-text-center">
          <div>
            <ion-icon color="inactive" name="water-outline" size="large"></ion-icon>
          </div>
          <div class="text-color-inactive ion-margin-top">
            {{"WATER_SECTION.YOU_GOT_NO_WATER" | translate}}
          </div>
        </div>
      }
      <ag-virtual-scroll #openScroll [items]="openWaters" [height]="'100vh'" min-row-height="165">
        @for (water of openScroll.items; track water) {
          <water-information-card (waterAction)="triggerAction($event[0],$event[1])" [water]="water"></water-information-card>
        }
      </ag-virtual-scroll>
    }
    @case ('archiv') {
      @if (settings?.show_archived_beans) {
        @if (finishedWaters.length == 0) {
          <div class="ion-padding ion-text-center">
            <div>
              <ion-icon color="inactive" name="water-outline" size="large"></ion-icon>
            </div>
            <div class="text-color-inactive ion-margin-top">
              {{"WATER_SECTION.YOU_GOT_NO_ARCHIVED_WATER" | translate}}
            </div>
          </div>
        }
        <ag-virtual-scroll #archivedScroll [items]="finishedWaters" [height]="'100vh'" min-row-height="165">
          @for (water of archivedScroll.items; track water) {
            <water-information-card (waterAction)="triggerAction($event[0],$event[1])" [water]="water"></water-information-card>
          }
        </ag-virtual-scroll>
      }
    }
  }
</ion-content>
