<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_HOME" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" col-5>
        <ion-img *ngIf="isChristmasTime()" class="logo-icon-christmas" src="assets/img/icon_christmas.png"
                 style="background:transparent;"></ion-img>
        <ion-img *ngIf="!isChristmasTime()" class="logo-icon" src="assets/img/icon.png"
                 style="background:transparent;"></ion-img>
      </ion-col>
      <ion-col class="ion-text-center" col-7>
        <h1 style="font-size:2rem;">Beanconqueror</h1>
        <p style="font-size:1.2rem;">{{"PAGE_HOME_WELCOME_GREETINGS" | translate}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" col-6>
        <ion-card style="height: 100%;">
          <ion-card-header style="font-size: 2em;">
            <ion-icon name="cafe" slot="start"></ion-icon>
            {{uiStatistic.getBrewsDrunk()}}
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="uiStatistic.getBrewsDrunk() == 1">
                   {{"PAGE_HOME_TOTAL_BREW" | translate}}
            </span>
            <span *ngIf="uiStatistic.getBrewsDrunk() != 1">
                {{"PAGE_HOME_TOTAL_BREWS" | translate}}
            </span>
            <div *ngIf="uiStatistic.getBrewsDrunk() >0" style="max-width:200px;margin:0 auto;">
              <ion-button (click)="addBrew()" fill="outline" size="small">
                <ion-icon name="add-outline" slot="start"></ion-icon>
                <span>{{"BREW" | translate}}</span>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center" col-6>
        <ion-card (click)="showBeans()" style="height: 100%;" tappable="">
          <ion-card-header style="font-size: 2em;">
            <ion-icon class="custom-coffee-bag"></ion-icon>
            {{uiStatistic.getBeansCount()}}
          </ion-card-header>
          <ion-card-content>
              <span *ngIf="uiStatistic.getBeansCount() == 1">
                     {{"PAGE_HOME_BEAN_EXPLORED" | translate}}
              </span>
            <span *ngIf="uiStatistic.getBeansCount() != 1">
                     {{"PAGE_HOME_BEANS_EXPLORED" | translate}}
              </span>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="uiStatistic.getLastDrunkBrewTimestamp()">
      <ion-col class="ion-text-center" col-12>
        <ion-card (click)="showBrews()" tappable>
          <ion-card-header style="font-size: 2em;">{{uiStatistic.getSloganTimePassedSinceLastBrew()}}</ion-card-header>
          <ion-card-content>
            {{"PAGE_HOME_LAST_BREW" | translate}}: {{uiStatistic.getLastDrunkBrewTimestamp()}}<br>
            <ion-icon class="custom-coffee-bag"></ion-icon>&nbsp;{{uiStatistic.getLastBeanUsed()}}<br/>
            <ion-icon class="custom-filter"></ion-icon>&nbsp;{{uiStatistic.getLastPreparationMethodUsed()}}<br/>
            <ion-icon class="custom-mill"></ion-icon>&nbsp;{{uiStatistic.getLastMillUsed()}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="uiStatistic.getPreparationsCount()>1">
      <ion-col class="ion-text-center" col-12>
        <ion-card (click)="showPreparation()" tappable>
          <ion-card-content>
            <strong>{{"PAGE_HOME_DIFFERENT_PREPARATION_METHODS" | translate}}
              :</strong> {{uiStatistic.getPreparationsCount()}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="uiStatistic.getMillsCount()>1">
      <ion-col class="ion-text-center" col-12>
        <ion-card (click)="showMills()" tappable>
          <ion-card-content>
            <strong>{{"PAGE_HOME_DIFFERENT_MILLS" | translate}}
              :</strong> {{uiStatistic.getMillsCount()}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!--<ion-row *ngIf="uiStatistic.getTotalGround()!=0">
      <ion-col col-12 text-center>
        <ion-card>
          <ion-card-content>
            <strong>Gesamt gemahlen:</strong> {{uiStatistic.getTotalGround()}}&nbsp;g
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>-->
    <!--<ion-row *ngIf="uiStatistic.getTotalDrunk()!=0">
      <ion-col col-12 text-center>
        <ion-card>
          <ion-card-content>
            <strong>Gesamt getrunken:</strong> {{uiStatistic.getTotalDrunk()}} ml/g
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>
