<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" style="box-shadow: 0px -2px 10px #00000021;padding-top: 12px;padding-bottom: 12px;">
      <ion-tab-button tab="dashboard" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-home"></ion-icon>
        <ion-label>{{"NAV_HOME" | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="brews" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-brew"></ion-icon>
        <ion-label>{{"NAV_BREWS" | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="beans" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-bean"></ion-icon>
        <ion-label>{{"NAV_BEANS" | translate}}</ion-label>
        <ion-badge *ngIf="!activeBeansExists()" color="danger"></ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="preparations" tappable>
        <ion-icon class="menu-icon" name="beanconqueror-preparation"></ion-icon>
        <ion-label>{{"NAV_PREPARATION" | translate}}</ion-label>
        <ion-badge *ngIf="!activePreparationsExists()" color="danger"></ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="mills" tappable>
        <ion-icon class="menu-icon stroke" name="beanconqueror-pepper-mill"></ion-icon>
        <ion-label>{{"NAV_MILL" | translate}}</ion-label>
        <ion-badge *ngIf="!activeMillsExists()" color="danger"></ion-badge>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
</ion-content>
