<ion-header>
  <ion-toolbar>
    <ion-title>{{"BACK" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="big-icon-only">
        <ion-icon name="beanconqueror-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="ion-padding-horizontal" style="overflow:scroll;">
  <textarea [(ngModel)]='logString' style="width: 100%;height: 100vh;outline: 0;border: 0px;">
  </textarea>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline">{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

