<ion-header>
  <app-header [title]="'BACK' | translate">
    <app-header-dismiss-button header-slot="start" (dismissed)="dismiss()" />
  </app-header>
</ion-header>
<ion-content >
  <div class="ion-padding-horizontal" style="overflow:scroll;">
    <p>Select all text and copy it to your smartphone or tablet clipboard, to send it by email</p>
  <textarea [(ngModel)]='logString' style="width: 100%;height: 100vh;outline: 0;border: 0px;">
  </textarea>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="dismiss()" color="accent" expand="block" fill="outline">{{"CLOSE" | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

