:host {
  display: block;
  height: 100%;
  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
  ion-card.flow-profile {
    margin: 0px;

    ion-card-header {
      /**White on dark and light mode**/
      color: white;
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      min-height: 60px;
      padding: 8px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      font-weight: bold;
    }

    ion-card-content {
      padding-top: 8px;
      color: #000000;
      padding-bottom: 4px;
    }
  }

  ion-card.flow-profile.trace-card {
    ion-card-header {
      background-color: var(--card-color) !important;
    }

    ion-icon {
      color: var(--card-color) !important;
    }

    ion-icon > div.icon-inner > svg.s-ion-icon > g {
      fill: var(--card-color) !important;
    }
  }

  .brew-information-panel-barista {
    ion-icon {
      position: relative;
      top: 2px;
    }
    ion-card-header {
      min-height: 30px !important;
      height: 40px !important;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 16px !important;
      span {
        margin-left: 3px;
      }
    }
    .trace-card {
      ion-card-header {
        background-color: white !important;
        border: 2px solid var(--card-color);
      }
      ion-icon {
        color: var(--card-color) !important;
      }
    }

    span {
      color: black;
    }
  }



  .brew-information-panel {
    ion-icon {
      font-size: 30px;
    }
  }
  .information-tile-no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
