:host {
  display:block;
  height:100%;
  ion-item {
    --border-width: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
  ion-card.flow-profile {
    margin: 0px;

    ion-card-header {
      color: #FFFFFF;
      background-color: var(--ion-color-accent) !important;
      font-size: 18px;
      min-height: 60px;
      padding: 8px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    ion-card-content {
      padding-top: 8px;
      color: #000000;
      padding-bottom: 4px;
    }

  }

  ion-card.flow-profile.temperature-card {
    ion-card-header {
      background-color: #CC3311 !important;
    }

    ion-icon {
      color: #CC3311 !important;
    }
  }

  ion-card.flow-profile.pressure-card {
    ion-card-header {
      background-color: #05C793 !important;
    }

    ion-icon {
      color: #05C793 !important;
    }

    ion-icon>div.icon-inner>svg.s-ion-icon>g {
      fill: #05C793 !important;
    }
  }

  ion-card.flow-profile.flow-card {
    ion-card-header {
      background-color: #09485D !important;
    }

    ion-icon {
      color: #09485D !important;
    }
  }

  ion-card.flow-profile.weight-card {
    ion-card-header {
      background-color: #cdc2ac !important;
    }

    ion-icon {
      color: #cdc2ac !important;
    }
  }

  .brew-information-panel {
    ion-icon {
      font-size: 30px;
    }
  }
  .information-tile-no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  ion-chip.weight {
    --background: #cdc2ac;
    --color: black;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.flowcalculated {
    --background: #7F97A2;
    --color: white;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.chip-outline {
    --color: black !important;
  }

  ion-chip.flowreal {
    --background: #09485D;
    --color: white;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.pressure {
    --background: #05C793;
    --color: black;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.temperature {
    --background: #CC3311;
    --color: white;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.weightsecond {
    --background: #8F6400;
    --color: white;
    margin-right: 4px;
    margin-left: 0px;
  }

  ion-chip.flowrealsecond {
    --background: #1FB6EA;
    --color: white;
    margin-right: 4px;
    margin-left: 0px;
  }
}
