<ion-card class="long-card">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="custom-background-small" size="3">
        <ion-col size="2">
          <div class="dashboard-time-center">
            <div>
              <span class="ion-text-bold" style="font-size:24px;">{{brew.config.unix_timestamp | formatDate:["DD"]}}.</span>
            </div>
            <div>{{brew.config.unix_timestamp | formatDate:["MMMM"]}}<br/>{{brew.config.unix_timestamp | formatDate:["YYYY"]}}</div>
          </div>

        </ion-col>
      </ion-col>
      <ion-col size="9" style="padding-left:16px;">
        <ion-card class="ion-no-padding ion-no-margin long-card"
                  style="padding-top:8px;padding-right:8px;padding-bottom:8px;">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="margin-header" size="10">
                  <ion-list lines="none" style="width:100%;">
                    <ion-item>
                      <ion-col size="12">
                        <ion-icon name="beanconqueror-bean"></ion-icon>&nbsp;{{brew.getBean().name}}</ion-col>
                    </ion-item>
                    <ion-item>
                      <ion-col size="12">
                        <ion-icon name="beanconqueror-preparation"></ion-icon>&nbsp;{{brew.getPreparation().name}}
                      </ion-col>
                    </ion-item>
                    <ion-item>
                      <ion-col size="12">
                        <ion-icon name="beanconqueror-pepper-mill"></ion-icon>&nbsp;{{brew.getMill().name}}</ion-col>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size="2">
                  <ion-button (click)="showBrewActions($event)" class="button-top-absolute" color="accent"
                              fill="clear" tappable>
                    <ion-icon name="beanconqueror-dots" slot="icon-only"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


