<ion-card (click)="openBrewClick()" class="long-card" tappable>
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row class="center-col">
        <ion-col class="ion-justify-content-center custom-background-small" size="2">
          <ion-list lines="none">
            <ion-item class="ion-text-center">
              <ion-label class="ion-no-margin"><h1>{{brew.config.unix_timestamp | formatDate:["DD"]}}.</h1></ion-label>
            </ion-item>
            <ion-item class="ion-text-center">
              <ion-label class="ion-no-margin">{{brew.config.unix_timestamp | formatDate:["MMMM"]}}</ion-label>
            </ion-item>
            <ion-item class="ion-text-center">
              <ion-label class="ion-no-margin">{{brew.config.unix_timestamp | formatDate:["YYYY"]}}</ion-label>
            </ion-item>

          </ion-list>

        </ion-col>
        <ion-col class="ion-padding-start" size="8">
          <ion-list lines="none">
            <ion-item>
              <ion-icon name="beanconqueror-bean"></ion-icon>&nbsp;{{brew.getBean().name}}
            </ion-item>
            <ion-item>
              <ion-icon name="beanconqueror-preparation"></ion-icon>&nbsp;{{brew.getPreparation().name}}
            </ion-item>
            <ion-item>
              <ion-icon name="beanconqueror-pepper-mill"></ion-icon>&nbsp;{{brew.getMill().name}}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col class="ion-justify-content-center" size="2">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
