<ion-card class="long-card">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="3" size-xs="4">

          <div class="dashboard-time-center">
            <div class="font-size-18">
             {{brew.config.unix_timestamp | formatDate:["DD"]}}.<br/>
              <span class="font-size-14">
              {{brew.config.unix_timestamp | formatDate:["MMMM"]}}<br/>{{brew.config.unix_timestamp | formatDate:["YYYY"]}}
            </span>
            </div>

          </div>
        <div class="vr"></div>
      </ion-col>
      <ion-col size="9" size-xs="8" style="padding-left:16px;">
        <ion-card class="ion-no-padding ion-no-margin long-card"
                  style="padding-top:8px;padding-right:8px;padding-bottom:8px;">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="margin-header" size="10">
                  <ion-list lines="none" style="width:100%;">
                    <ion-item>
                      <ion-col class="ion-text-bold" size="12">
                        {{brew.getBean().name}}</ion-col>
                    </ion-item>
                    <ion-item>
                      <ion-col size="12">
                        {{brew.getPreparation().name}}
                      </ion-col>
                    </ion-item>
                    <ion-item>
                      <ion-col size="12">
                        {{brew.getMill().name}}</ion-col>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size="2">
                  <ion-button (click)="showBrewActions($event)" class="button-top-absolute" color="accent"
                              fill="clear" tappable>
                    <ion-icon name="beanconqueror-dots" slot="icon-only"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


