<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Open-Source-Lizenzen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let key of licences | keys" (click)="licences[key].active = !licences[key].active">
    <ion-item>
      <ion-icon *ngIf="!licences[key].active" name="md-arrow-dropdown" item-left large></ion-icon>
      <ion-icon *ngIf="licences[key].active" name="md-arrow-dropup" item-left large></ion-icon>
      <h2>{{ licences[key].TITLE }}</h2>
      <button ion-button (click)="openLink($event,licences[key].LINK)">Webseite</button>
    </ion-item>

    <ion-card-content *ngIf="licences[key].active" style="border-top: 1px solid rgba(0, 0, 0, 0.3);padding-top: 10px;"
                      class="white-space-normal"
                      [innerHTML]="licences[key].DESCRIPTION">
    </ion-card-content>
  </ion-card>

</ion-content>
