<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;Zurück
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
      <ion-label floating >Name*</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" type="text" #name="ngModel" spellcheck="false"
                 autocapitalize="off" required>
      </ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Röstgrad*</ion-label>
      <ion-select [(ngModel)]="data.roast"  name="roast" #roast="ngModel">
        <ion-option *ngFor="let key of roastsEnum | keys" value="{{key}}">{{roastsEnum[key]}}</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Röstdatum*</ion-label>
      <ion-datetime min="2000-01-01" max="2999-12-31" displayFormat="DD.MM.YYYY" [(ngModel)]="data.roastingDate" name="roastingDate"
                    #roastingDate="ngModel"></ion-datetime>
    </ion-item>
  <ion-item>
    <ion-label floating >Röster</ion-label>
    <ion-input [(ngModel)]="data.roaster" name="roaster" type="text" #roaster="ngModel" spellcheck="false"
               autocapitalize="off" required>
    </ion-input>
  </ion-item>
    <ion-item>
      <ion-label floating>Notizen</ion-label>
      <ion-textarea autocomplete="true" spellcheck="true" autocorrect="true" name="note" #note="ngModel" rows="5" [(ngModel)]="data.note"></ion-textarea>
    </ion-item>
    <button ion-item (click)="addImage()">
      Foto hinzufügen
    </button>
    <ion-item *ngIf="data.filePath != ''">
      <img [src]="data.filePath" style="padding: 0px 20px;">
    </ion-item>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button (click)="dismiss()" dark outline block>Abbrechen</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addBean()" type="submit" block>Anlegen</button>
    </ion-col>

  </ion-row>
</ion-footer>
