<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_STATISTICS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
  <ion-card>
    <ion-card-content>
      <canvas #brewChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas #drinkingChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background" style="font-size: 2em;">{{uiStatistic.getMillsCount()}}
        </ion-card-header>
        <ion-card-content>
          {{"NAV_MILL" | translate}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background" style="font-size: 2em;">{{uiStatistic.getPreparationsCount()}}
        </ion-card-header>
        <ion-card-content>
          {{"PAGE_STATISTICS_DIFFERENT_PREPARATION_METHOD" | translate}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background" style="font-size: 2em;">{{uiStatistic.getTotalGround() | number : '.0-2'}}&nbsp;kg
        </ion-card-header>
        <ion-card-content>
          {{"PAGE_STATISTICS_TOTAL_GROUND_BEANS" | translate}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background"
                         style="font-size: 2em;">{{uiStatistic.getSpentMoneyForCoffeeBeans() | number : '.0-2'}}&nbsp;€
        </ion-card-header>
        <ion-card-content>
          {{"PAGE_STATISTICS_MONEY_SPENT_FOR_COFFEE" | translate}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background" style="font-size: 2em;">{{uiStatistic.getBrewsDrunk() | number : '.0'}}
        </ion-card-header>
        <ion-card-content>
          {{"PAGE_STATISTICS_DRUNKEN_BREWS" | translate}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-card class="small-card" style="height: 100%;">
        <ion-card-header class="card-background" style="font-size: 2em;">{{uiStatistic.getTotalDrunk() | number : '.0-2'}}
        </ion-card-header>
        <ion-card-content>
          {{"PAGE_STATISTICS_DRUNKEN_QUANTITY" | translate}} (kg/l)
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
