:host {
  ion-card-header {
    padding: 8px;
  }
  .card-background {
    background-color: var(--ion-color-accent) !important;
    color: var(--ion-text-color);
  }

  .chart-container {
    height: 35vh;
    position: relative;
    display: block;
  }

  .chart-legend {
    height: 15vh;
    overflow-y: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        cursor: pointer;
        .legend-color-box {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
