<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_SETTINGS"  | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card *ngIf="isMobile()">

    <ion-card-content>
      <ion-card-title>{{"PAGE_SETTINGS_TRANSFER" | translate}}</ion-card-title>
      <ion-item (click)="import()" button tappable>
        <ion-label>{{"IMPORT" | translate}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="export()" button lines="none" tappable>
        <ion-label>{{"EXPORT" | translate}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>

    <ion-card-content>
      <!--
        <ion-card-title>{{"PAGE_SETTINGS_GENERAL_SETTINGS" | translate}}</ion-card-title>
        <ion-item>
          <ion-label>{{"PAGE_SETTINGS_DISPLAY" | translate}}</ion-label>
          <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.brew_view">
            <ion-select-option
              value="{{BREW_VIEWS.SINGLE_PAGE}}">{{"PAGE_SETTINGS_DISPLAY_SINGLE_PAGE" | translate}}</ion-select-option>
            <ion-select-option disabled
                               value="{{BREW_VIEWS.MULTIPLE_PAGE}}">{{"PAGE_SETTINGS_DISPLAY_PAGING" | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      -->

      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_LANGUAGE" | translate}}</ion-label>
        <ion-select (ngModelChange)="languageChanged($event)" [(ngModel)]="settings.language"
                    cancelText="{{'CANCEL'| translate }}" cancelText="{{'CANCEL'| translate }}"
                    okText="{{'CHOOSE'| translate }}" okText="{{'CHOOSE'| translate }}">
          <ion-select-option value="de">{{"PAGE_SETTINGS_LANGUAGE_GERMAN" | translate}}</ion-select-option>
          <ion-select-option value="en">{{"PAGE_SETTINGS_LANGUAGE_ENGLISH" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_STARTUP_VIEW" | translate}}</ion-label>
        <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.startup_view"
                    cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
          <ion-select-option value="{{STARTUP_VIEW.HOME_PAGE}}">{{"NAV_HOME" | translate}}</ion-select-option>
          <ion-select-option value="{{STARTUP_VIEW.BREW_PAGE}}">{{"NAV_BREWS" | translate}}</ion-select-option>
          <ion-select-option value="{{STARTUP_VIEW.ADD_BREW}}">{{"ADD_BREW" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_ANALYTICS_INFORMATION" | translate}}</ion-label>
        <ion-checkbox (ionChange)="checkAnalytics()" (ngModelChange)="saveSettings();"
                      [(ngModel)]="settings.analytics"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_TRACK_BREW_COORDINATES" | translate}}</ion-label>
        <ion-checkbox (ionChange)="checkCoordinates()" (ngModelChange)="saveSettings();" [(ngModel)]="settings.track_brew_coordinates"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label><h2>{{"PAGE_SETTINGS_FAST_REPEAT" | translate}}</h2>
        <p>Activate features to repeat your brew without popover</p></ion-label>
        <ion-checkbox  (ngModelChange)="saveSettings();" [(ngModel)]="settings.fast_brew_repeat"></ion-checkbox>

      </ion-item>

      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_SHOW_ARCHIVED_BEANS" | translate}}</ion-label>
        <ion-checkbox (ngModelChange)="saveSettings();"
                      [(ngModel)]="settings.show_archived_beans"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_SHOW_ARCHIVED_BREWS" | translate}}</ion-label>
        <ion-checkbox (ngModelChange)="saveSettings();"
                      [(ngModel)]="settings.show_archived_brews"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>{{"PAGE_SETTINGS_SHOW_ARCHIVED_PREPARATIONS" | translate}}</ion-label>
        <ion-checkbox (ngModelChange)="saveSettings();"
                      [(ngModel)]="settings.show_archived_preparations"></ion-checkbox>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{"PAGE_SETTINGS_SHOW_ARCHIVED_MILLS" | translate}}</ion-label>
        <ion-checkbox (ngModelChange)="saveSettings();"
                      [(ngModel)]="settings.show_archived_mills"></ion-checkbox>
      </ion-item>


    </ion-card-content>
      </ion-card>





</ion-content>
