<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"NAV_SETTINGS" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true"
             (ionScrollStart)="handleScrollStart()"
             (ionScroll)="handleScroll($any($event))"
             (ionScrollEnd)="handleScrollEnd()">
  <ion-segment scrollable="true" [(ngModel)]="settings_segment" class="ion-padding-vertical" style="padding-top:0px;">
    <ion-segment-button value="general">
      <ion-label>{{"PAGE_SETTINGS_TAB_GENERAL" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bluetoothscale">
      <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bluetoothpressure">
      <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_PRESSURE" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bluetoothtemperature">
      <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_TEMPERATURE" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bluetoothrefractometer">
      <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_REFRACTOMETER" | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="settings_segment">
    <div *ngSwitchCase="'general'">
      <ion-card>

        <ion-card-content>
          <ion-card-title>{{"PAGE_SETTINGS_TRANSFER" | translate}}</ion-card-title>
          <ion-item (click)="import()" button tappable>
            <ion-label>{{"IMPORT" | translate}}</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item (click)="export()" button tappable>
            <ion-label>{{"EXPORT" | translate}}</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item (click)="excelExport()" button lines="none" tappable>
            <ion-label>{{"EXCEL_EXPORT" | translate}}</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item *ngIf='false' (click)="importBeansExcel()" button lines="none" tappable>
            <ion-label>{{"IMPORT_BEANS_EXCEL" | translate}}</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>


      <ion-card class="margin-top-20">
        <ion-card-content>
          <ion-card-title>{{"PAGE_SETTINGS_GENERAL" | translate}}</ion-card-title>
          <ion-item>
            <ion-select (ngModelChange)="languageChanged($event)" [(ngModel)]="settings.language"
              cancelText="{{'CANCEL'| translate }}" cancelText="{{'CANCEL'| translate }}"
              okText="{{'CHOOSE'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_LANGUAGE" | translate}}</div>
              <ion-select-option value="de">{{"PAGE_SETTINGS_LANGUAGE_GERMAN" | translate}}</ion-select-option>
              <ion-select-option value="en">{{"PAGE_SETTINGS_LANGUAGE_ENGLISH" | translate}}</ion-select-option>
              <ion-select-option value="es">{{"PAGE_SETTINGS_LANGUAGE_SPANISH" | translate}}</ion-select-option>
              <ion-select-option value="tr">{{"PAGE_SETTINGS_LANGUAGE_TURKISH" | translate}}</ion-select-option>
              <ion-select-option value="zh">{{"PAGE_SETTINGS_LANGUAGE_CHINESE" | translate}}</ion-select-option>
              <ion-select-option value="fr">{{"PAGE_SETTINGS_LANGUAGE_FRANCE" | translate}}</ion-select-option>
              <ion-select-option value="id">{{"PAGE_SETTINGS_LANGUAGE_INDONESIA" | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.startup_view"
              cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_STARTUP_VIEW" | translate}}</div>
              <ion-select-option value="{{STARTUP_VIEW.HOME_PAGE}}">{{"NAV_HOME" | translate}}</ion-select-option>
              <ion-select-option value="{{STARTUP_VIEW.BREW_PAGE}}">{{"NAV_BREWS" | translate}}</ion-select-option>
              <ion-select-option value="{{STARTUP_VIEW.ADD_BREW}}">{{"ADD_BREW" | translate}}</ion-select-option>
              <ion-select-option value="{{STARTUP_VIEW.BEANS_PAGE}}">{{"NAV_BEANS" | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.date_format"
                        cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_DATE_FORMAT" | translate}}</div>
              <ion-select-option value="DD.MM.YYYY">DD.MM.YYYY</ion-select-option>
              <ion-select-option value="DD/MM/YYYY">DD/MM/YYYY</ion-select-option>
              <ion-select-option value="MM-DD-YYYY">MM-DD-YYYY</ion-select-option>
              <ion-select-option value="MM/DD/YYYY">MM/DD/YYYY</ion-select-option>
              <ion-select-option value="YYYY-MM-DD">YYYY-MM-DD</ion-select-option>
              <ion-select-option value="YYYY/MM/DD">YYYY/MM/DD</ion-select-option>

            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>{{"PAGE_SETTINGS_IMAGE_QUALITY" | translate}}</h2>
            </ion-label>
            <ion-icon name="information-outline" slot="end"
              tooltip='{{"PAGE_SETTINGS_IMAGE_QUALITY_TOOLTIP" | translate}}'></ion-icon>
          </ion-item>
          <ion-item style="top:-10px;">
            <ion-range  [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="50" snaps="true" max="100"
              step="1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.image_quality">
              <div class='ion-label' slot="end">{{settings.image_quality}}%</div>
            </ion-range>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>{{"PAGE_SETTINGS_BREW_RATING" | translate}}</h2>
            </ion-label>
            <ion-icon name="information-outline" slot="end"
              tooltip='{{"PAGE_SETTINGS_BREW_RATING_TOOLTIP" | translate}}'></ion-icon>
          </ion-item>
          <ion-item style="top:-10px;" lines="none">
            <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="5" snaps="true" max="100"
              step="1" (ngModelChange)="changeBrewRating()" [(ngModel)]="settings.brew_rating">
              <div class='ion-label' slot="end">{{settings.brew_rating}}</div>
            </ion-range>

          </ion-item>
          <ion-item style="margin-top:-25px;">
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.brew_rating_steps"
              cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_BREW_RATING_STEPS" | translate}}</div>
              <ion-select-option [value]="1">
                1
              </ion-select-option>
              <ion-select-option [value]="0.75">
                0.75
              </ion-select-option>
              <ion-select-option [value]="0.5">
                0.5
              </ion-select-option>
              <ion-select-option [value]="0.25">
                0.25
              </ion-select-option>
              <ion-select-option [value]="0.1">
                0.1
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>{{"PAGE_SETTINGS_BEAN_RATING" | translate}}</h2>
            </ion-label>
            <ion-icon name="information-outline" slot="end"
              tooltip='{{"PAGE_SETTINGS_BEAN_RATING_TOOLTIP" | translate}}'></ion-icon>
          </ion-item>
          <ion-item style="top:-10px;" lines="none">
            <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="5" snaps="true" max="100"
              step="1" (ngModelChange)="changeBeanRating()" [(ngModel)]="settings.bean_rating">
              <div class='ion-label' slot="end">{{settings.bean_rating}}</div>
            </ion-range>

          </ion-item>

          <ion-item style="margin-top:-25px;">
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.bean_rating_steps"
              cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_BEAN_RATING_STEPS" | translate}}</div>
              <ion-select-option [value]="1">
                1
              </ion-select-option>
              <ion-select-option [value]="0.75">
                0.75
              </ion-select-option>
              <ion-select-option [value]="0.5">
                0.5
              </ion-select-option>
              <ion-select-option [value]="0.25">
                0.25
              </ion-select-option>
              <ion-select-option [value]="0.1">
                0.1
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item (click)="showAnalyticsInformation()" tappable button>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.matomo_analytics">
              <div class='ion-label'>
                <h2>{{"PAGE_SETTINGS_ANALYTICS_INFORMATION" | translate}}</h2>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.wake_lock">
              <div class='ion-label'>{{"PAGE_SETTINGS_WAKE_LOCK" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.security_check_when_going_back">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_SECURITY_CHECK_WHEN_GOING_BACK" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_SECURITY_CHECK_WHEN_GOING_BACK_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ionChange)="checkCoordinates()" (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.track_brew_coordinates">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_TRACK_BREW_COORDINATES" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_TRACK_BREW_COORDINATES_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.fast_brew_repeat">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_FAST_REPEAT" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_FAST_REPEAT_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item [lines]="settings.brew_milliseconds?'none':'full'">
            <ion-checkbox  label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.brew_milliseconds">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_BREW_ENABLE_MILLISECONDS" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_BREW_ENABLE_MILLISECONDS_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item *ngIf="settings?.brew_milliseconds===true">
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.brew_milliseconds_leading_digits"
              cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_BREW_MILLISECONDS_DECIMAL_PLACES_DESCRIPTION" | translate}}</div>
              <ion-select-option [value]="3">
                3
              </ion-select-option>
              <ion-select-option [value]="2">
                2
              </ion-select-option>
              <ion-select-option [value]="1">
                1
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-checkbox (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.brew_display_bean_image">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_BREW_DISPLAY_BEAN_IMAGE" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_BREW_DISPLAY_BEAN_IMAGE_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.use_numeric_keyboard_for_grind_size">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_USE_NUERMIC_KEYBOARD_FOR_GRIND_SIZE" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_USE_NUERMIC_KEYBOARD_FOR_GRIND_SIZE_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-select (ngModelChange)="saveSettings()" [(ngModel)]="settings.currency"
              cancelText="{{'CANCEL'| translate }}" okText="{{'CHOOSE'| translate }}">
              <div slot="label">{{"PAGE_SETTINGS_CURRENCY" | translate}}</div>
              <ion-select-option *ngFor="let key of currencies | keys" value="{{key}}">
                {{key}} ({{currencies[key]}})
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="isHealthSectionAvailable" lines="none">
            <ion-checkbox label-placement='start' (click)="checkHealthPlugin()"
              [(ngModel)]="settings.track_caffeine_consumption">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_TRACK_CAFFEINE_CONSUMPTION" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_TRACK_CAFFEINE_CONSUMPTION_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="resetFilter();saveSettings();" [(ngModel)]="settings.best_brew">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_BEST_BREW" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_BEST_BREW_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_backup_issues">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_SHOW_BACKUP_ISSUES" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_SHOW_BACKUP_ISSUES_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="margin-top-20">
        <ion-card-content>
          <ion-card-title>{{"PAGE_SETTINGS_MANAGE_SECTIONS" | translate}}</ion-card-title>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_roasting_section">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ROASTING_SECTION" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" (click)="checkWaterSection()"
              [(ngModel)]="settings.show_water_section">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_WATER_SECTION" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                          [(ngModel)]="settings.show_graph_section">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_GRAPH_SECTION" | translate}}</div>
            </ion-checkbox>
          </ion-item>

          <ion-item *ngIf="false">
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_cupping_section">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_CUPPING_SECTION" | translate}}</div>
            </ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>


      <ion-card class="margin-top-20">
        <ion-card-content>
          <ion-card-title>{{"PAGE_SETTINGS_MANAGE_ARCHIVE" | translate}}</ion-card-title>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_archived_beans">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_BEANS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item *ngIf="settings.show_roasting_section">
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_archived_mills">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_GREEN_BEANS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_archived_brews">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_BREWS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item *ngIf="settings.show_graph_section">
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_archived_graphs">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_GRAPHS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.show_archived_brews_on_dashboard">
              <div class="ion-label">
                <h2>{{"PAGE_SETTINGS_HIDE_ARCHIVED_BREWS_DASHBOARD" | translate}}</h2>
                <p>{{"PAGE_SETTINGS_HIDE_ARCHIVED_BREWS_DASHBOARD_DESCRIPTION" | translate}}</p>
              </div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.show_archived_preparations">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_PREPARATIONS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.show_archived_mills">
              <div class='ion-label'>{{"PAGE_SETTINGS_SHOW_ARCHIVED_MILLS" | translate}}</div>
            </ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="margin-top-20">
        <ion-card-content>
          <ion-card-title>{{"PAGE_SETTINGS_VISUALIZER_SECTION" | translate}}</ion-card-title>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.visualizer_active">
              <div class='ion-label'>{{"VISUALIZER.ACTIVATE" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ng-container *ngIf='settings.visualizer_active'>
            <ion-item>


            <ion-select label-placement="stacked" label='{{"VISUALIZER.CHOOSE_SERVER" | translate}}' #visualizer_server="ngModel" (ionChange)='visualizerServerHasChanged();' (ngModelChange)="saveSettings();" [(ngModel)]="settings.visualizer_server" cancelText="{{'CANCEL'| translate }}" name="visualizer_server"
                        okText="{{'CHOOSE'| translate }}"
                        placeholder="{{'VISUALIZER.CHOOSE_SERVER' | translate}}"
                        style="padding-left:0px!important;width: 100%; min-width: 100%;">
              <ion-select-option *ngFor="let key of visualizerServerEnum | keys" value="{{key}}">{{"VISUALIZER.SERVER." + key | translate}}</ion-select-option>
            </ion-select>
            </ion-item>
            <ion-item>
              <ion-input [disabled]='settings.visualizer_server === visualizerServerEnum.VISUALIZER' (ionBlur)='checkVisualizerURL();' (ngModelChange)="saveSettings();" label-placement="stacked" label='{{"VISUALIZER.URL" | translate}}' #visualizer_url="ngModel" [(ngModel)]="settings.visualizer_url" autocapitalize="sentences" name="visualizer_url"
                         placeholder="{{'VISUALIZER.URL' | translate}}"
                         spellcheck="false" type="text">
              </ion-input>

              <ion-button (click)="checkVisualizerConnection()" class="big-icon-only" fill="clear"
                          slot="end" style="margin-left:0px;" tabIndex="2" tappable>
                <ion-icon class="ion-color-accent" name="checkmark-circle-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-input label-placement="stacked" label='{{"VISUALIZER.USERNAME" | translate}}' (ngModelChange)="saveSettings();" #visualizer_username="ngModel" [(ngModel)]="settings.visualizer_username"  name="visualizer_username"
                         placeholder="{{'VISUALIZER.USERNAME' | translate}}"
                         spellcheck="false" type="text">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input label-placement="stacked" label='{{"VISUALIZER.PASSWORD" | translate}}' (ngModelChange)="saveSettings();" #visualizer_password="ngModel" [(ngModel)]="settings.visualizer_password"  name="visualizer_password"
                         placeholder="{{'VISUALIZER.PASSWORD' | translate}}"
                         spellcheck="false" type="password">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.visualizer_upload_automatic">
                <div class='ion-label'>
                  <h2>{{"VISUALIZER.UPLOAD_AUTOMATIC" | translate}}</h2>
                  <p>{{"VISUALIZER.UPLOAD_AUTOMATIC_TOOLTIP" | translate}}</p>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item [button]="true" tappable *ngIf='howManyBrewsAreNotUploadedToVisualizer() > 0 && settings.visualizer_password && settings.visualizer_username' (click)='uploadBrewsToVisualizer()'>
              <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              <ion-label>{{"VISUALIZER.UPLOAD_ALL" | translate}}</ion-label>
              <ion-note slot="end">{{howManyBrewsAreNotUploadedToVisualizer()}}</ion-note>
            </ion-item>
          </ng-container>
        </ion-card-content>
      </ion-card>

    </div>
    <div *ngSwitchCase="'bluetoothscale'">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE" | translate }}
          </ion-card-title>
          <ion-list>
            <ion-item lines="full" *ngIf="settings.scale_id === ''" (click)="findAndConnectScale()" tappable button>
              <ion-label>
                <h2>{{"CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.scale_id !== '' && isScaleConnected() === false" (click)="retryConnectScale()"
              tappable button>
              <ion-label>
                <h2>{{"RETRY_CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.scale_id !== ''" (click)="disconnectScale()" tappable button>
              <ion-label>
                <h2>{{"DISCONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="beanconqueror-bluetooth-off" slot="end"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_stay_connected">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"SMART_SCALE_STAY_CONNECTED_ON_APP_MINIMIZE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_tare_on_brew">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_TARE_ON_BREW" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_stop_timer_on_brew">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_STOP_TIMER_ON_BREW" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_reset_timer_on_brew">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_RESET_TIMER_ON_BREW" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_tare_on_start_timer">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_TARE_ON_START_TIMER" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                [(ngModel)]="settings.bluetooth_scale_maximize_on_start_timer">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"SMART_SCALE_MAXIMIZE_ON_START_TIMER" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item [lines]="settings.bluetooth_scale_listening_threshold_active?'none':'full'">
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                            [(ngModel)]="settings.bluetooth_scale_listening_threshold_active">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"SMART_SCALE_AUTO_START_LISTENING" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item lines='none' *ngIf="settings.bluetooth_scale_listening_threshold_active">
              <ion-label class="ion-margin-end">
                <p>{{"SMART_SCALE_AUTO_START_LISTENING_DESCRIPTION" | translate}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="settings.bluetooth_scale_listening_threshold_active">
              <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="0.1" snaps="true" max="5"
                         step="0.1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.bluetooth_scale_listening_threshold_start">
                <div class='ion-label'
                     slot="end">{{this.uiHelper.toFixedIfNecessary(settings.bluetooth_scale_listening_threshold_start,1)}}</div>
              </ion-range>
            </ion-item>
            <ion-item [lines]="settings.bluetooth_scale_espresso_stop_on_no_weight_change?'none':'full'">
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                            [(ngModel)]="settings.bluetooth_scale_espresso_stop_on_no_weight_change">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"SMART_SCALE_ESPRESSO_STOP_ON_NO_WEIGHT_CHANGE" | translate}}</h2>
                  <p>{{"SMART_SCALE_ESPRESSO_STOP_ON_NO_WEIGHT_CHANGE_DESCRIPTION" | translate}}</p>
                </div>
              </ion-checkbox>
            </ion-item>

            <ion-item lines='none' *ngIf="settings?.bluetooth_scale_espresso_stop_on_no_weight_change===true">
              <ion-label class="ion-margin-end">
                <p>{{"SMART_SCALE_ESPRESSO_STOP_ON_NO_WEIGHT_CHANGE_MIN_FLOW_DESCRIPTION" | translate}}</p>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;" *ngIf="settings?.bluetooth_scale_espresso_stop_on_no_weight_change===true">
              <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:0px;padding-right:0px;" min="0.05" snaps="true" max="1"
                         step="0.01" (ngModelChange)="fixWeightChangeMinFlowNumber();saveSettings()" [(ngModel)]="settings.bluetooth_scale_espresso_stop_on_no_weight_change_min_flow">
                <div class='ion-label' slot="end">{{settings.bluetooth_scale_espresso_stop_on_no_weight_change_min_flow | number : '.0-2'}} g/s</div>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_ignore_negative_values">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"IGNORE_NEGATIVE_VALUES" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_ignore_anomaly_values">
                <div class='ion-label'>
                  <h2>{{"IGNORE_ANOMALY_VALUES" | translate}}</h2>
                  <p>{{"IGNORE_ANOMALY_VALUES_TOOLTIP" | translate}}</p>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.bluetooth_scale_ignore_weight_button_active">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_IGNORE_INCOMING_WEIGHT" | translate}}</h2>
                  <p>{{"SMART_SCALE_IGNORE_INCOMING_WEIGHT_TOOLTIP" | translate}}</p>
                </div>
              </ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <h2>{{"SMART_SCALE_COMMAND_DELAY" | translate}}</h2>
              </ion-label>
              <ion-icon name="information-outline" slot="end"
                tooltip='{{"SMART_SCALE_COMMAND_DELAY_TOOLTIP" | translate}}'></ion-icon>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="50" snaps="true" max="1000"
                step="1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.bluetooth_command_delay">
                <div class='ion-label' slot="end">{{settings.bluetooth_command_delay}} ms</div>
              </ion-range>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <h2>{{"SMART_SCALE_ACAIA_HEARTBEAT_TIMER" | translate}}</h2>
              </ion-label>
              <ion-icon name="information-outline" slot="end"
                        tooltip='{{"SMART_SCALE_ACAIA_HEARTBEAT_TIMER_TOOLTIP" | translate}}'></ion-icon>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' style="padding-left:20px;padding-top:0;padding-bottom:15px;padding-right:0px;" min="200" snaps="true" max="1000"
                         step="1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.acaia_heartbeat_command_delay">
                <div class='ion-label' slot="end">{{settings.acaia_heartbeat_command_delay}} ms</div>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ionChange)="toggleLog();" [(ngModel)]="settings.scale_log">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"SMART_SCALE_LOG" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>

          </ion-list>

          <ion-label>
            <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
            <p style="display: inline;">{{"SCALE.INFORMATION_DESCRIPTION" | translate}}</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_SHOW_GRAPHS_FILTER" | translate }}
          </ion-card-title>
          <ion-list>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.graph.FILTER.weight">
                <div class='ion-label'>{{"BREW_FLOW_WEIGHT" | translate}}</div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                [(ngModel)]="settings.graph.FILTER.calc_flow">
                <div class='ion-label'>{{"BREW_FLOW_WEIGHT_PER_SECOND" | translate}}</div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                [(ngModel)]="settings.graph.FILTER.realtime_flow">
                <div class='ion-label'>{{"BREW_FLOW_WEIGHT_REALTIME" | translate}}</div>
              </ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_SHOW_GRAPHS_ESPRESSO" | translate }}
          </ion-card-title>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.graph.ESPRESSO.weight">
              <div class='ion-label'>{{"BREW_FLOW_WEIGHT" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.graph.ESPRESSO.calc_flow">
              <div class='ion-label'>{{"BREW_FLOW_WEIGHT_PER_SECOND" | translate}}</div>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
              [(ngModel)]="settings.graph.ESPRESSO.realtime_flow">
              <div class='ion-label'>{{"BREW_FLOW_WEIGHT_REALTIME" | translate}}</div>
            </ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_AXIS" | translate }}
            <p>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_AXIS_DESCRIPTION" | translate}}</p>
          </ion-card-title>
          <ion-list>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_FILTER_WEIGHT" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(settings.graph_weight.FILTER.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(settings.graph_weight.FILTER.upper,2)}} </ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();"  min="0" dualKnobs="true" snaps="true" [max]="300" step="1" [(ngModel)]="settings.graph_weight.FILTER">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_FILTER_FLOW" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(settings.graph_flow.FILTER.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(settings.graph_flow.FILTER.upper,2)}} </ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();"  min="0" dualKnobs="true" snaps="true" [max]="20" step="0.1" [(ngModel)]="settings.graph_flow.FILTER">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_ESPRESSO_WEIGHT" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(settings.graph_weight.ESPRESSO.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(settings.graph_weight.ESPRESSO.upper,2)}} </ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();" min="0" dualKnobs="true" snaps="true" [max]="70" step="1" [(ngModel)]="settings.graph_weight.ESPRESSO">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_ESPRESSO_FLOW" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{this.uiHelper.toFixedIfNecessary(settings.graph_flow.ESPRESSO.lower,2)}}&nbsp;-&nbsp;{{this.uiHelper.toFixedIfNecessary(settings.graph_flow.ESPRESSO.upper,2)}} </ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();"  min="0" dualKnobs="true" snaps="true" [max]="10" step="0.1" [(ngModel)]="settings.graph_flow.ESPRESSO">
              </ion-range>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_AXIS" | translate }}
            <p>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_DESCRIPTION" | translate}}</p>
          </ion-card-title>
          <ion-list>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_FILTER_AXIS_NORMAL_SCREEN" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{settings.graph_time.FILTER.NORMAL_SCREEN}}</ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();" min="20"  snaps="true" [max]="40" step="1" [(ngModel)]="settings.graph_time.FILTER.NORMAL_SCREEN">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_FILTER_AXIS_FULL_SCREEN_SCREEN" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{settings.graph_time.FILTER.FULL_SCREEN}}</ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' min="30" (ngModelChange)="saveSettings();"  snaps="true" [max]="60" step="1" [(ngModel)]="settings.graph_time.FILTER.FULL_SCREEN">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_ESPRESSO_AXIS_NORMAL_SCREEN" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{settings.graph_time.ESPRESSO.NORMAL_SCREEN}}</ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' (ngModelChange)="saveSettings();" min="20"  snaps="true" [max]="40" step="1" [(ngModel)]="settings.graph_time.ESPRESSO.NORMAL_SCREEN">
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{"PAGE_SETTINGS_TAB_BLUETOOTH_SCALE_GRAPHS_TIME_ESPRESSO_AXIS_FULL_SCREEN_SCREEN" | translate}}&nbsp;<ion-badge
                style="vertical-align: top;">{{settings.graph_time.ESPRESSO.FULL_SCREEN}}</ion-badge>
              </ion-label>
            </ion-item>
            <ion-item style="top:-10px;">
              <ion-range [disabled]='isScrolling' min="30" (ngModelChange)="saveSettings();"  snaps="true" [max]="60" step="1" [(ngModel)]="settings.graph_time.ESPRESSO.FULL_SCREEN">
              </ion-range>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'bluetoothpressure'">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_PRESSURE" | translate }}
          </ion-card-title>
          <ion-list>
            <ion-item lines="full" *ngIf="settings.pressure_id === ''" (click)="findAndConnectPressureDevice()" tappable button>
              <ion-label>
                <h2>{{"CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.pressure_id !== '' && isPressureDeviceConnected() === false"
              (click)="retryConnectPressureDevice()" tappable button>
              <ion-label>
                <h2>{{"RETRY_CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.pressure_id !== ''" (click)="disconnectPressureDevice()" tappable button>
              <ion-label>
                <h2>{{"DISCONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="beanconqueror-bluetooth-off" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.pressure_stay_connected">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"PRESSURE.STAY_CONNECTED_ON_APP_MINIMIZE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.pressure_threshold_active">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"PRESSURE_THRESHOLD_ACTIVE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item *ngIf="settings.pressure_threshold_active">
              <div class='ion-label' style="white-space: normal;">
                <h2>{{"PRESSURE_THRESHOLD_BAR" | translate}}</h2>
              </div>
              <ion-range [disabled]='isScrolling' style="padding-top:0;padding-bottom:0px;padding-right:0px;" min="0.1" snaps="true" max="12"
                step="0.1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.pressure_threshold_bar">
                <div class='ion-label'
                  slot="end">{{this.uiHelper.toFixedIfNecessary(settings.pressure_threshold_bar,1)}}</div>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();"
                [(ngModel)]="settings.bluetooth_scale_maximize_on_start_timer">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"SMART_SCALE_MAXIMIZE_ON_START_TIMER" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ionBlur)="toggleLog();" [(ngModel)]="settings.pressure_log">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"PRESSURE_LOG" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-label>
            <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
            <p style="display: inline;">{{"PRESSURE.INFORMATION_DESCRIPTION" | translate}}</p>
          </ion-label><br/>
          <ion-label>
            <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
            <p style="display: inline;">{{"PRESSURE_DEVICE_JUST_VISIBLE_ON_ESPRESSO" | translate}}</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'bluetoothtemperature'">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_TEMPERATURE" | translate }}
          </ion-card-title>
          <ion-list>
            <ion-item lines="full" *ngIf="settings.temperature_id === ''" (click)="findAndConnectTemperatureDevice()"
              tappable button>
              <ion-label>
                <h2>{{"CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.temperature_id !== '' && isTemperatureDeviceConnected() === false"
              (click)="retryConnectTemperatureDevice()" tappable button>
              <ion-label>
                <h2>{{"RETRY_CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.temperature_id !== ''" (click)="disconnectTemperatureDevice()" tappable button>
              <ion-label>
                <h2>{{"DISCONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="beanconqueror-bluetooth-off" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.temperature_stay_connected">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"TEMPERATURE.STAY_CONNECTED_ON_APP_MINIMIZE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.temperature_threshold_active">
                <div class='ion-label' style="white-space: normal;">
                  <h2>{{"TEMPERATURE.THRESHOLD_ACTIVE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>
            <ion-item *ngIf="settings.temperature_threshold_active">
              <div class='ion-label' style="white-space: normal;">
                <h2>{{"TEMPERATURE.THRESHOLD_TEMP" | translate}}</h2>
              </div>
              <ion-range [disabled]='isScrolling' style="padding-top:0;padding-bottom:0px;padding-right:0px;" min="60" snaps="true" max="100"
                step="0.1" (ngModelChange)="saveSettings()" [(ngModel)]="settings.temperature_threshold_temp">
                <div class='ion-label'
                  slot="end">{{this.uiHelper.toFixedIfNecessary(settings.temperature_threshold_temp,1)}}</div>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ionBlur)="toggleLog();" [(ngModel)]="settings.temperature_log">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"TEMPERATURE.LOG" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>

          </ion-list>

          <ion-label>
            <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
            <p style="display: inline;">{{"TEMPERATURE.INFORMATION_DESCRIPTION" | translate}}</p>
          </ion-label>
        </ion-card-content>

      </ion-card>
    </div>
    <div *ngSwitchCase="'bluetoothrefractometer'">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{"PAGE_SETTINGS_TAB_BLUETOOTH_REFRACTOMETER" | translate }}
          </ion-card-title>
          <ion-list>
            <ion-item lines="full" *ngIf="settings.refractometer_id === ''" (click)="findAndConnectRefractometerDevice()"
              tappable button>
              <ion-label>
                <h2>{{"CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.refractometer_id !== '' && isRefractometerDeviceConnected() === false"
              (click)="retryConnectRefractometerDevice()" tappable button>
              <ion-label>
                <h2>{{"RETRY_CONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="bluetooth-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="settings.refractometer_id !== ''" (click)="disconnectRefractometerDevice()" tappable button>
              <ion-label>
                <h2>{{"DISCONNECT" | translate}}</h2>
              </ion-label>
              <ion-icon name="beanconqueror-bluetooth-off" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-checkbox label-placement='start' (ngModelChange)="saveSettings();" [(ngModel)]="settings.refractometer_stay_connected">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"REFRACTOMETER.STAY_CONNECTED_ON_APP_MINIMIZE" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>

            <ion-item>
              <ion-checkbox label-placement='start' (ionBlur)="toggleLog();" [(ngModel)]="settings.refractometer_log">
                <div class="ion-label" style="white-space: normal;">
                  <h2>{{"REFRACTOMETER.LOG" | translate}}</h2>
                </div>
              </ion-checkbox>
            </ion-item>

          </ion-list>

          <ion-label>
            <ion-icon style="top: 3px; position: relative;" name="information-circle-outline"></ion-icon>
            <p style="display: inline;">{{"REFRACTOMETER.INFORMATION_DESCRIPTION" | translate}}</p>
          </ion-label>
        </ion-card-content>

      </ion-card>
    </div>
  </div>
</ion-content>
