:host {

  ion-accordion.accordion-expanded {
    div[slot="content"] {
      border: 1px solid var(--ion-color-accent-secondary);
    }

  }
  ion-accordion {
    background-color:inherit!important;
  }
  ion-list {
    background: none;
    margin: 0px;
    padding: 0px;

    ion-list-header {
      padding-left: 10px;
      font-size: 16px;

    }

    ion-item {
      --background: none;
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      font-size: 14px;
      --min-height: 0px;

      ion-icon {
        top: 4px;
        position: relative;
        font-size: 17px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

  }

  .ion-label {
    white-space: break-spaces;

    h2 {
      text-overflow: clip;
      white-space: break-spaces;
    }
  }


}

